<div #headerRef
     (mouseenter)="onMouseIn($event)"
     (mouseleave)="onMouseOut($event)"
     *ngIf="showHeader"
     class="full-width header-one small-font align-center overflow-auto animation"
     role="banner">
    <div class="flex-container-row align-center foreground">
        <div class="flex-grow flex-container-row">
            <a [routerLink]="['/home']" aria-label="GNomEx home">
                <img [src]="'./assets/gnomex_logo_big.png'" alt="GNomEx logo - navigate to home">
                <p><sup style="color: #004C9E;"> 6.rev8.18</sup></p>
            </a>
            <div class="flex-container-row flex-grow align-center">
                <div class="flex-grow">
                </div>
                <button (click)="togglePinned()" [attr.aria-label]="headerIsPinned ? 'Unpin header' : 'Pin header'" [attr.aria-pressed]="headerIsPinned"
                        class="minimize"
                        mat-raised-button>
                    <img *ngIf="headerIsPinned" [src]="'./assets/Collapse.png'" alt="Header is pinned">
                    <img *ngIf="!headerIsPinned" [src]="'./assets/Pushpin.png'" alt="Header is not pinned">
                </button>
                <div class="flex-grow">
                </div>
            </div>
        </div>
        <div aria-label="Header search" class="flex-container-row padded-left-right align-center" role="search">
            <mat-form-field [floatLabel]="options.value.floatPlaceholder"
                            [hideRequiredMarker]="options.value.hideRequired"
                            class="padded-left-right">
                <input (keyup)="ifPressEnterSearchByNumber($event)" [(ngModel)]="objNumber" aria-label="Lookup by experiment number" matInput
                       placeholder="Lookup by #" type="text">
            </mat-form-field>
            <button (click)="searchNumber()" aria-label="Search by number" class="minimize" mat-raised-button>
                <img [src]="'./assets/arrow_right.png'" alt="Search by number">
            </button>
            <div class="horizontal-spacer">
            </div>
            <mat-form-field class="padded-left-right" floatLabel='auto'>
                <input (keyup)="ifPressEnterSearchByText($event)" [(ngModel)]="searchText" aria-label="Search by text" class="flex-grow"
                       matInput placeholder="Search">
            </mat-form-field>
            <button (click)="searchByText()" aria-label="Submit text search" class="minimize" mat-raised-button>
                <img [src]="'./assets/magnifier.png'" alt="Submit text search">
            </button>
        </div>
        <div class="flex-grow flex-container-row align-center">
            <div class="flex-container-row flex-grow align-center">
                <div class="flex-grow">
                </div>
                <div aria-label="Research use disclaimer" class="large-font" role="alert" style="color: #ED0000">
                    FOR RESEARCH ONLY
                </div>
                <div class="flex-grow">
                </div>
            </div>
            <div *ngFor="let item of linkNavItems">
                <!-- Handle branch node buttons here -->
                <span *ngIf="item.children && item.children.length > 0" class="full-height">
                <button mat-button
                        #menuTrigger="matMenuTrigger"
                        [attr.aria-label]="item.displayName + ' menu'"
                        [disabled]="item.disabled"
                        [hidden]="item.hidden"
                        [matMenuTriggerFor]="menu.childMenu"
                        aria-haspopup="menu"
                        [attr.aria-expanded]="menuTrigger.menuOpen"
                        [attr.aria-controls]="'menu-' + item.displayName"
                        class="top-menu-item full-height full-width">
                    <img *ngIf="item.iconName" [attr.alt]="item.displayName + ' icon'" [src]="item.iconName" class="icon">
                    <span> {{item.displayName}} </span>
                </button>
                <app-menu-item #menu [items]="item.children" [menuId]="'menu-' + item.displayName"></app-menu-item>
                </span>

                <!-- Leaf node buttons here -->
                <span *ngIf="!item.children || item.children.length === 0">
                    <button (click)="item.callback(item?.params)" *ngIf="item.callback" [attr.aria-label]="item.displayName"
                            [ngClass]="item.class"
                            mat-button>
                        <img *ngIf="item?.iconName" [attr.alt]="item.displayName + ' icon'" [src]="item.iconName"
                             class="icon">
                        {{ item.displayName }}
                    </button>
                    <button *ngIf="!item.callback" [attr.aria-label]="item.displayName" [ngClass]="item.class" [routerLink]="item.route"
                            mat-button>
                        <img *ngIf="item?.iconName" [attr.alt]="item.displayName + ' icon'" [src]="item.iconName"
                             class="icon">
                        {{ item.displayName }}
                    </button>
                </span>
            </div>
        </div>
        <!--<mat-list></mat-list>-->
    </div>
    <nav aria-label="Main navigation" class="flex-container-row header-two" role="navigation">
        <span *ngFor="let item of navItems" [ngClass]="item.class" class="full-height">
            <!-- Handle branch node buttons here -->
        <span *ngIf="item.children && item.children.length > 0" class="full-height">
        <button mat-button
            #menuTrigger="matMenuTrigger"
            [attr.aria-label]="item.displayName + ' menu'"
            [disabled]="item.disabled"
            [hidden]="item.hidden"
            [matMenuTriggerFor]="menu.childMenu"
            aria-haspopup="menu"
            [attr.aria-expanded]="menuTrigger.menuOpen"
            [attr.aria-controls]="'menu-' + item.displayName"
            class="top-menu-item full-height full-width">
        <img *ngIf="item.iconName" [attr.alt]="item.displayName + ' icon'" [src]="item.iconName" class="icon">
        <span> {{item.displayName}} </span>
        </button>
    <app-menu-item #menu [items]="item.children" [menuId]="'menu-' + item.displayName"></app-menu-item>
        </span>
            <!-- Leaf node buttons here -->
            <span *ngIf="!item.children || item.children.length === 0" class="full-height">
                <button (click)="setNavModeType()" [attr.aria-label]="item.displayName" [hidden]="item.hidden"
                        [routerLink]="item.route"
                        class="top-menu-item full-height full-width"
                        mat-button>
                    <img *ngIf="item.iconName" [attr.alt]="item.displayName + ' icon'" [src]="item.iconName"
                         class="icon">
                    <span>{{item.displayName}}</span>
                </button>
            </span>
        </span>
    </nav>
    <div #bottomNonCollapsing class="flex-container-row minor-height">
    </div>
</div>
<div #spacerRef *ngIf="showHeader" class="animation collapse-bar">
</div>
