.red {
    /*font-weight: bold;*/
    color: var(--error-red);
}

.header-one {
    position: fixed;
    z-index: 1;
}

.header-two {
    background-color: var(--green-lightest);
    color: var(--black-darkest);
}

.top-menu-item {
    flex: 1;
}

.right-align {
    text-align: right;
}

.links {
    flex: .25;
    text-decoration: none;
}

.link {
    font-size: small;
    color: inherit;
    text-decoration: none;
    text-align: center;
}

.problem {
    color: var(--error-red) !important;
    text-decoration: underline !important;
}

.header-flex0 {
    flex: 0 !important;
}

[hidden] {
    display: none !important;
    flex: 0 !important;
}

.horizontal-padding {
    padding: 0 0.4em;
}

.horizontal-center {
    text-align: center;
}

.horizontal-spacer {
    width: 2em;
}

.minor-height {
    height: 1em;
}

.collapse-bar {
    background-color: var(--white-dark);
    border-bottom: 1px solid var(--grey-lighter);
}

.animation {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
