.annot-control {
    width: 30%;
    margin: 0.25em;
    font-size: small;
}

.annot-control-editor {
    width: 50%;
    margin: 0.25em;
    font-size: small;
}

.enable-bordered {
    border: 1px solid var(--grey-medlight);
}

.pre-line-text { white-space: pre-line; }
