<div style="display:flex">
    <form [formGroup]="form" style=" height:100%;width:100%; display:flex; flex-direction:column;">
        <ng-container  [ngSwitch]="annot.codePropertyType" *ngFor="let annot of annotations">
            <div *ngSwitchCase="'CHECK'" class="annot-control">
                <label style="margin-right: 1em;"  >{{annot.name}}  </label>
                <mat-checkbox  [formControl]="this.annotationForm.controls[annot.name]" >
                </mat-checkbox>
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('required')">
                    This field is required
                </mat-error>

            </div>
            <mat-form-field *ngSwitchCase="'TEXT'" class="annot-control" >
                <input matInput placeholder="{{annot.name}}" [formControl]="this.annotationForm.controls[annot.name]">
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MOPTION'" class="annot-control" >
                <mat-select [compareWith]="compareByID" [placeholder]="annot.name" multiple [formControl]="this.annotationForm.controls[annot.name]">
                    <mat-option *ngFor="let opt of annot.PropertyOption"
                                #mOptRef
                                (onSelectionChange)="selectOption(mOptRef)"
                                [value]="opt" > {{opt.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('selectRequired')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field  *ngSwitchCase="'OPTION'" class="annot-control">
                <mat-select [compareWith]="compareByID" [placeholder]="annot.name" [formControl]="this.annotationForm.controls[annot.name]">
                    <mat-option
                            *ngFor="let opt of annot.PropertyOption"
                            #optRef
                            (onSelectionChange)="selectOption(optRef)"
                            [value]="opt" >{{opt.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('selectRequired')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <div *ngSwitchCase="'URL'" class="annot-control">
                <url-annotation [formControl]="this.annotationForm.controls[annot.name]" >  </url-annotation>
            </div>

        </ng-container>

    </form>
    <div style="flex:1">
        <button mat-button color="primary" style="margin:1em" (click)="loadConfigAnnotations()"> Configure Annotations </button>

    </div>





</div>





