<div class="double-padded overflow-auto" style="display:flex">
    <form [formGroup]="form" style=" height:100%;width:100%; display:flex; flex-direction:column;">
        <div [ngSwitch]="annot.codePropertyType" *ngFor="let annot of annotations" class="full-width full-height small-font padded">
            <div class="display-white-space">{{ annot && annot.description ? annot.description : '' }}</div>
            <div *ngSwitchCase="'CHECK'" class="annot-control">
                <mat-checkbox  [formControl]="this.form.controls[annot.name]" >
                    {{ annot && annot.name ? annot.name : "" }}
                </mat-checkbox>
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('required')">
                    This field is required
                </mat-error>
            </div>
            <mat-form-field *ngSwitchCase="'TEXT'" class="annot-control" >
                <input matInput placeholder="{{annot.name}}" [formControl]="this.form.controls[annot.name]">
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <div *ngSwitchCase="'MOPTION'" class="annot-control">
                <custom-multi-combo-box [placeholder]="annot.name"
                                        [formControl]="this.form.controls[annot.name]"
                                        [options]="annot.PropertyOption"
                                        (selectionChanged)="selectOpts($event, annot)"
                                        displayField="name">
                </custom-multi-combo-box>
            </div>
            <div *ngSwitchCase="'OPTION'" class="annot-control">
                <custom-combo-box [placeholder]="annot && annot.name ? annot.name : ''"
                                  (optionSelected)="selectChanged($event,annot)"
                                  [options]="annot.PropertyOption" displayField="name"
                                  [formControl]="this.form.controls[annot.name]">
                </custom-combo-box>
            </div>
            <div *ngSwitchCase="'URL'" class="annot-control">
                <url-annotation [formControl]="this.form.controls[annot.name]">  </url-annotation>
            </div>
        </div>
    </form>
    <div *ngIf="showConfigureAnnotationsButton" class="flex-grow">
        <button mat-raised-button class="minimize link-button" [disabled]="this.disabled" style="margin:1em" (click)="loadConfigAnnotations()"> Configure Annotations </button>
    </div>
</div>





