<div style="display:flex">
    <form [formGroup]="form" style=" height:100%;width:100%; display:flex; flex-direction:column;">
        <div [ngSwitch]="annot.codePropertyType" *ngFor="let annot of annotations" class="full-width full-height small-font padded">
            <div class="display-white-space">{{ annot && annot.description ? annot.description : '' }}</div>
            <div *ngSwitchCase="'CHECK'" class="annot-control">
                <label>{{ annot && annot.name ? annot.name : "" }}</label>
                <mat-checkbox  [formControl]="this.form.controls[annot.name]" >
                </mat-checkbox>
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('required')">
                    This field is required
                </mat-error>
            </div>
            <mat-form-field *ngSwitchCase="'TEXT'" class="annot-control" >
                <input matInput placeholder="{{annot.name}}" [formControl]="this.form.controls[annot.name]">
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('required')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field *ngSwitchCase="'MOPTION'" class="annot-control" >
                <mat-select [compareWith]="compareByID" [placeholder]="annot.name" multiple [formControl]="this.form.controls[annot.name]">
                    <mat-option *ngFor="let opt of annot.PropertyOption"
                                #mOptRef
                                (onSelectionChange)="selectOpt(mOptRef)"
                                [value]="opt"> {{opt.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="this.form?.controls[annot.name]?.hasError('selectRequired')">
                    This field is required
                </mat-error>
            </mat-form-field>
            <div *ngSwitchCase="'OPTION'" class="annot-control">
                <custom-combo-box [placeholder]="annot && annot.name ? annot.name : ''"
                                  (optionSelected)="selectChanged($event,annot)"
                                  [options]="annot.PropertyOption" displayField="name"
                                  [formControl]="this.form.controls[annot.name]">
                </custom-combo-box>
            </div>
            <div *ngSwitchCase="'URL'" class="annot-control">
                <url-annotation [formControl]="this.form.controls[annot.name]">  </url-annotation>
            </div>
        </div>
    </form>
    <div *ngIf="showConfigureAnnotationsButton" class="flex-grow">
        <button mat-button color="primary" style="margin:1em" (click)="loadConfigAnnotations()"> Configure Annotations </button>
    </div>
</div>





