<h6 mat-dialog-title>Billing Template</h6>
<mat-dialog-content>
    <div>
        <span class="margin-right" matTooltip="{{this.helpTooltip}}" [matTooltipPosition]="'left'"><img src="../../assets/information.png" class="icon">Help</span>
        <mat-form-field class="margin-right">
            <mat-select placeholder="Lab" [(value)]="this.selectedLab" (change)="this.loadAccountsForLab()">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let lab of this.labList" [value]="lab">{{lab.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Account" [(value)]="this.selectedAccount">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let account of this.accountList" [value]="account">{{account.accountNumberDisplay}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="this.showInactiveAccounts" (change)="this.loadLabs()" class="margin-right">Show inactive accounts</mat-checkbox>
        <button mat-button class="margin-right" (click)="this.addAccount()" [disabled]="!this.selectedAccount"><img src="../../assets/add.png" class="icon">Add</button>
        <button mat-button (click)="this.removeAccount()" [disabled]="this.selectedRowIndex === null"><img src="../../assets/delete.png" class="icon">Remove</button>
    </div>
    <div class="accounts-grid-div full-width">
        <ag-grid-angular class="ag-fresh full-height full-width"
                         (gridReady)="this.onGridReady($event)"
                         (gridSizeChanged)="this.onGridSizeChanged($event)"
                         [rowSelection]="'single'"
                         [singleClickEdit]="true"
                         (rowSelected)="this.onGridRowSelected($event)"
                         [rowData]="this.currentAccountsList">
        </ag-grid-angular>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="promptToSave()"><img src="../../assets/save.png" class="icon">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
