.children-margin-right > *:not(:last-child) {
    margin-right: 1em;
}

div.accounts-grid-div {
    height: 300px;
}

.custom-mat-radio .mat-radio-label-content {
    padding-left: 4px;
    padding-right: 8px;
}
