<div class="flex-container-row align-center children-margin-right padded">
    <context-help name="billingTemplateHelp"
                  [hasEditPermission]="this.createSecurityAdvisorService.isSuperAdmin" label="Help" popupTitle="Billing Templates"></context-help>
    <custom-combo-box placeholder="Lab" [options]="this.labList" displayField="name"
                      [(ngModel)]="this.selectedLab" (optionSelected)="this.loadAccountsForLab()">
    </custom-combo-box>
    <custom-combo-box placeholder="Account" [options]="this.accountList"
                      displayField="accountNumberDisplay" [(ngModel)]="this.selectedAccount">
    </custom-combo-box>
    <mat-checkbox [(ngModel)]="this.showInactiveAccounts" (change)="this.loadLabs()">Show inactive accounts</mat-checkbox>
    <button mat-button (click)="this.addAccount()" [disabled]="!this.selectedAccount"><img [src]="'./assets/add.png'" class="icon">Add</button>
    <button mat-button (click)="this.removeAccount()" [disabled]="this.selectedRowIndex === null"><img [src]="'./assets/delete.png'" class="icon">Remove</button>
</div>
<div class="flex-container-row align-center justify-space-between small-font double-padded-left double-padded-right" *ngIf="showSplitBy">
    <div>
        <label *ngIf="totalAmount > 0" class="leadingLabel label-width padded-right">Total Invoice Price: </label>{{totalAmount > 0 ? (this.totalAmount | currency:"USN":"$": "1.2-2") : " "}}
    </div>
    <div class="justify-flex-end">
    <label class="leadingLabel label-width padded-right">Split By: </label>
    <mat-radio-group class="custom-mat-radio padded-right" [(ngModel)]="this.splitBy" (change)="this.onSplitByChange()" style="font-size: small;">
        <mat-radio-button class="double-padded-left" [value]="SPLIT_BY_PERCENT">%</mat-radio-button>
        <mat-radio-button class="double-padded-left" [value]="SPLIT_BY_DOLLAR">$</mat-radio-button>
    </mat-radio-group>
    </div>
</div>
<div class="accounts-grid-div full-width padded">
    <ag-grid-angular class="ag-theme-fresh full-height full-width"
                     (gridReady)="this.onGridReady($event)"
                     (gridSizeChanged)="this.onGridSizeChanged($event)"
                     [rowSelection]="'single'"
                     [singleClickEdit]="true"
                     (rowSelected)="this.onGridRowSelected($event)"
                     (cellValueChanged)="this.onCellValueChanged($event)"
                     [stopEditingWhenGridLosesFocus]="true"
                     [rowData]="this.currentAccountsList">
    </ag-grid-angular>
</div>

