<h6 mat-dialog-title>{{title}}</h6>
<mat-dialog-content>
    <div>
        <billing-period-selector (onChange)="this.onStartChange($event)" class="margin-right"></billing-period-selector>
        <label class="margin-right">through</label>
        <billing-period-selector (onChange)="this.onEndChange($event)"></billing-period-selector>
    </div>
    <div *ngIf="showIsExternalRadioGroup">
        <input [(ngModel)]="isExternalString" id="radioInternal" value="N" type="radio" name="isExternalRadio">
        <label for="radioInternal" class="margin-right">Internal</label>
        <input [(ngModel)]="isExternalString" id="radioExternal" value="Y" type="radio" name="isExternalRadio">
        <label for="radioExternal">External</label>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="!(startDate === '') && !(endDate === '')" mat-button (click)="submit()">OK</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>