input.filterTextInput {
    background: var(--grey-lightest);
}

.filter {
    font-size: 12px;
    width: 100%;
    border: 1px solid var(--grey-dark);
    background-color: var(--white-lightest);
}

button.showHideButton {
    border: none;
    background: none;
    border-radius: 5px;
}

button.showHideButton:hover {
    background: var(--workflow-selected-bg);
}

button.searchButton {
    border: 1px solid var(--grey-dark);
    border-radius: 5px;
    background: var(--grey-lightest);
}

button.searchButton:hover {
    background: var(--workflow-selected-bg);
}

div.inlineDiv {
    display: flex;
    align-items: center;
    color: var(--black-darker);
}

div.labelAndIcon {
    display: flex;
    align-items: center;
    width: 11em;
    padding-left: 0.5em;
    color: var(--black-darker);
}

div.divider {
    display: inline;
    border-left: 1px solid lightgrey;
    height: 1.5em;
}

.children-spaced > *:not(:last-child) {
    margin-right: 1em;
}

div.filter-row-top {
    margin: 0.5em 0;
}

div.filter-row-bottom {
    padding-left: 12em;
    margin: 0 0 0.5em 0;
}

label.leading-label {
    margin-right: 0.3em;
    color: var(--black-darker);
}

label.following-label {
    margin-left: 0.3em;
    color: var(--black-darker);
}

.padding-right {
    padding-right: 1em;
}

.collapse-expand-button {
    background: none;
    border: none;
    cursor: pointer;
}

.collapse-expand-icon {
    height: 1.5em;
}
