<h6 mat-dialog-title id="date-range-dialog-title">Select Date Range</h6>
<mat-dialog-content role="region" aria-labelledby="date-range-dialog-title">
    <div role="group" aria-label="Quick date range selection">
        <label class="margin-right" id="within-last-label">Within the last...</label>
        <button mat-button (click)="this.setRangeWithin(7)" aria-label="Set range to last week">week</button>
        <button mat-button (click)="this.setRangeWithin(30)" aria-label="Set range to last 30 days">30 days</button>
        <button mat-button (click)="this.setRangeWithin(90)" aria-label="Set range to last 90 days">90 days</button>
        <button mat-button (click)="this.setRangeWithin(365)" aria-label="Set range to last year">year</button>
    </div>
    <div role="group" aria-label="Custom date range">
        <mat-form-field class="margin-right">
            <input matInput [matDatepicker]="fromPicker" placeholder="From" disabled [(ngModel)]="this.fromDate" [max]="this.toDate"
                   aria-label="Start date">
            <mat-datepicker-toggle matSuffix [for]="fromPicker" aria-label="Open start date picker"></mat-datepicker-toggle>
            <mat-datepicker #fromPicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="toPicker" placeholder="To" disabled [(ngModel)]="this.toDate" [min]="this.fromDate"
                   aria-label="End date">
            <mat-datepicker-toggle matSuffix [for]="toPicker" aria-label="Open end date picker"></mat-datepicker-toggle>
            <mat-datepicker #toPicker disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="!this.fromDate || !this.toDate" color="primary" (click)="this.save()" aria-label="Save date range">Save</button>
    <button mat-button color="warn" (click)="this.updateWith(null)" aria-label="Clear date range">Clear</button>
    <button mat-button [mat-dialog-close] aria-label="Close dialog">Close</button>
</mat-dialog-actions>
