<mat-form-field>
    <input matInput
           [formControl]="this.innerDateFC"
           [matDatepicker]="datePicker"
           placeholder="{{ placeholder }}"
           required="{{ required }}"
           (dateChange)="onChange()"
           [readonly]="textInputDisabled"
           [attr.aria-readonly]="textInputDisabled ? 'true' : null"
           [attr.aria-label]="placeholder"
           [attr.aria-required]="required">
    <mat-datepicker-toggle matSuffix [for]="datePicker" aria-label="Open date picker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker [disabled]="datePickerDisabled"></mat-datepicker>
    <mat-error *ngIf="this.innerDateFC.hasError('required')" role="alert">
        '{{  placeholder }}' is required
    </mat-error>

</mat-form-field>
