div.trees-container {
    width: 60em;
    height: 25em;
    border: solid silver 1px;
}

.primary-action {
    background-color: var(--bluewarmvivid-medlight);
    font-weight: bolder;
    color: var(--white-lightest);
}

.secondary-action {
    background-color: var(--sidebar-footer-background-color);
    font-weight: bolder;
    color: var(--bluewarmvivid-medlight);
    border: var(--bluewarmvivid-medlight) solid 1px;
}

tree-viewport {
    height: 93%;
}
