.primary-action {
    background-color: var(--bluewarmvivid-medlight);
    font-weight: bolder;
    color: white;
}

.secondary-action {
    background-color: var(--sidebar-footer-background-color);
    font-weight: bolder;
    color: var(--bluewarmvivid-meddark);
    border: var(--bluewarmvivid-meddark) solid 1px;
}

.major-left-right-margin {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.right-align {
    text-align: right;
    justify-content: flex-end;
}

.warning-background {
    background: #feec89;
}
