.flex-column-container {
    display: flex;
    flex-direction: column;
}

.annot-control {
    width: 30%;
    margin: 0.25em;
    font-size: small;
}

.annot-border {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.annot-label {
    align-self: center;
    font-weight: bold;
    margin: 1em;
}

.url-field-mr { margin-right: 0.5em; }
