.flex-column-container {
    display: flex;
    flex-direction: column;
}

.annot-control {
    width: 30%;
    margin: 0.25em;
    font-size: small;
}

.annot-border {
    border-top: 1px solid var(--white-dark);
    border-bottom: 1px solid var(--white-dark);
}

.annot-label {
    align-self: center;
    font-weight: bold;
    margin: 1em;
}
