<form style=" height:100%; width:98%; position: relative" (ngSubmit)="save()" [formGroup]="projectBrowseForm">

    <mat-form-field class="group-field">
        <input class="form-control"
               style="width:90%"
               matInput
               formControlName="name"
               type="text"
               placeholder="Name"/>
        <mat-error *ngIf="projectBrowseForm.get('name').hasError('required')">
            Analysis Group Name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field class="group-field" >
        <textarea matTextareaAutosize
                  matAutosizeMinRows="20"
                  matAutosizeMaxRows="20"
                  matInput
                  formControlName="description"
                  placeholder="Description">
        </textarea>
        <mat-error  *ngIf="projectBrowseForm.get('description')?.hasError('maxlength')">
            Description exceeded 500 characters
        </mat-error>

    </mat-form-field>

    <div class="dirtyWithSave">
        <span></span>
        <div>
                <span *ngIf="dirty" style="background:#feec89; padding: 1em 1em 1em 1em;">
                    Your changes have not been saved
                </span>
            <span style="margin-left:1em; ">
                    <button type="submit"
                            mat-button
                            [disabled]="!projectBrowseForm.valid"
                            color="primary">
                        <img src="../../../assets/action_save.gif">Save
                    </button>
                </span>

        </div>
    </div>

</form>