<form class="full-height full-width flex-container-col" (ngSubmit)="save()" [formGroup]="projectBrowseForm"
      aria-label="Analysis group form">

    <mat-form-field class="name-field"> <!-- accounting for margin space in width percentages -->
        <input matInput type="text" formControlName="name" placeholder="Name" aria-label="Analysis group name"
               aria-required="true"/>
        <mat-error *ngIf="projectBrowseForm.get('name').hasError('required')" role="alert">
            Analysis Group Name is required
        </mat-error>
    </mat-form-field>

    <div class="flex-container-col desc-section" role="group" aria-label="Description section"> <!-- accounting for margin space in width percentages -->
        <label  for="description" > Description </label>
        <textarea id="description" class="full-width full-height resize-none"
                  formControlName="description" placeholder="Description"
                  aria-label="Analysis group description"
                  aria-describedby="description-error">
        </textarea>
        <div id="description-error" class="text-error" role="alert" *ngIf="projectBrowseForm.get('description').hasError('maxlength')
                                        && projectBrowseForm.get('description').touched">
            Description exceeded the 500 character limit
        </div>
    </div>


</form>