<h6 mat-dialog-title>Add Product</h6>
<mat-dialog-content>
    <form [formGroup]="this.form" class="flex-container-col">
        <custom-combo-box class="full-width" placeholder="Lab"
                          [options]="this.labList"
                          displayField="displayName"
                          [formControlName]="'lab'">
        </custom-combo-box>
        <custom-combo-box class="full-width" placeholder="Product"
                          [options]="this.productList"
                          displayField="display"
                          [formControlName]="'product'">
        </custom-combo-box>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="this.form.invalid" color="primary" (click)="this.save()"><img src="../../assets/save.png" class="icon">Save</button>
    <button mat-button [mat-dialog-close]>Close</button>
</mat-dialog-actions>
