<h6 mat-dialog-title>Add Product</h6>
<mat-dialog-content>
    <form [formGroup]="this.form" class="flex-container-col">
        <mat-form-field class="full-width">
            <mat-select placeholder="Lab" [formControlName]="'lab'">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let lab of this.labList" [value]="lab">{{lab.displayName}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-select placeholder="Product" [formControlName]="'product'">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let product of this.productList" [value]="product">{{product.display}}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="this.form.invalid" color="primary" (click)="this.save()"><img src="../../assets/save.png" class="icon">Save</button>
    <button mat-button [mat-dialog-close]>Close</button>
</mat-dialog-actions>
