<!--<h6 mat-dialog-title>Configure Product Types</h6>-->
<div class="flex-container-col full-width full-height padded">
    <div class="flex-container-row margin-bottom">
        <button mat-button (click)="this.addProductType()"><img class="icon" [src]="'./assets/page_add.png'">Add Product Type</button>
        <button mat-button [disabled]="this.selectedProductType == null || this.selectedProductType.canDelete != 'Y'" (click)="this.removeProductType()"><img class="icon" [src]="'./assets/page_remove.png'">Remove Product Type</button>
    </div>
    <div class="flex-container-row">
        <tree-root #tree class="flex-one margin-right border-right" [nodes]="this.nodes" [options]="this.options" (activate)="this.onActivate($event)"></tree-root>
        <div [hidden]="this.selectedProductType" class="flex-three">{{''}}</div>
        <form [formGroup]="this.form" class="flex-three flex-container-col" [hidden]="!this.selectedProductType">
            <custom-combo-box class="full-width" placeholder="General - Core Facility"
                              [options]="this.coreFacilities"
                              valueField="idCoreFacility" displayField="display"
                              [formControlName]="'coreFacility'">
            </custom-combo-box>
            <custom-combo-box class="full-width" placeholder="General - Vendor"
                              [options]="this.vendors"
                              valueField="idVendor" displayField="display"
                              [formControlName]="'vendor'">
            </custom-combo-box>
            <div class="flex-container-row full-width">
                <custom-combo-box class="flex-one margin-right" placeholder="Price Category"
                                  [options]="this.priceCategories"
                                  valueField="idPriceCategory" displayField="display"
                                  [formControlName]="'priceCategory'">
                </custom-combo-box>
                <button class="flex-one margin-right" mat-button color="accent" (click)="this.toggleNewPriceCategory()">{{this.showNewPriceCategoryInput ? 'Close' : 'New'}}</button>
                <mat-form-field [hidden]="!this.showNewPriceCategoryInput" class="flex-one margin-right">
                    <input matInput placeholder="Name" [formControlName]="'newPriceCategoryName'">
                </mat-form-field>
                <button class="flex-one" [hidden]="!this.showNewPriceCategoryInput" [disabled]="this.form.controls['newPriceCategoryName'].invalid"
                        mat-button color="primary" (click)="this.savePriceCategory()">Save</button>
            </div>
            <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" [formControlName]="'description'"
                      matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="3"></textarea>
            </mat-form-field>
        </form>
    </div>
</div>
<!--<mat-dialog-actions>-->
    <!--<button mat-button [hidden]="!this.selectedProductType || this.showSpinner" [disabled]="this.form.invalid" color="primary" (click)="this.save()">Save</button>-->
    <!--<button mat-button [hidden]="this.showSpinner" [mat-dialog-close]>Close</button>-->
    <!--<span [hidden]="!this.form.dirty || this.showSpinner" class="dirty-note margin-right">Changes Have Not Been Saved</span>-->
    <!--<mat-spinner [hidden]="!this.showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>-->
<!--</mat-dialog-actions>-->
