.margin-right {
    margin-right: 2rem;
}
.justify-end {
    justify-content: flex-end;
}
.flex-one {
    flex: 1;
}
.flex-three {
    flex: 3;
}
.flex-four {
    flex: 4;
}
span.dirty-note {
    background: var(--pure-yellow);
    padding: 0.5rem;
    margin-left: 1rem;
}
img.icon {
    margin-right: 0.5rem;
}
.border-right {
    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width: 2px;
    padding-right: 2rem;
}
