<div class="flex-container-row padded">
    <button mat-button (click)="this.addProduct()"><img class="icon" [src]="'./assets/page_add.png'">Add Product</button>
    <button mat-button [disabled]="this.selectedProduct == null || this.selectedProduct.canDelete != 'Y'" (click)="this.removeProduct()"><img class="icon" [src]="'./assets/page_remove.png'">Remove Product</button>
</div>
<div class="flex-container-row padded">
    <tree-root #tree class="flex-one margin-right border-right" [nodes]="this.nodes" [options]="this.options" (activate)="this.onActivate($event)"></tree-root>
    <div [hidden]="this.selectedProduct" class="flex-three">{{''}}</div>
    <form [formGroup]="this.productForm" class="flex-three flex-container-col" [hidden]="!this.selectedProduct">
        <div class="flex-container-row full-width align-center">
            <mat-form-field class="flex-four margin-right">
                <input matInput placeholder="Name" [formControlName]="'name'">
            </mat-form-field>
            <mat-checkbox [formControlName]="'active'" class="flex-one">Active</mat-checkbox>
        </div>
        <div class="flex-container-row full-width align-center">
            <div class="flex-four margin-right">
                <custom-combo-box placeholder="Product Type" [options]="this.productTypes"
                                  valueField="idProductType" displayField="display"
                                  [formControlName]="'productType'">
                </custom-combo-box>
            </div>
            <button class="flex-one" mat-raised-button color="accent" (click)="this.openEditProductTypes()">Edit</button>
        </div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Catalog Number" [formControlName]="'catalogNumber'">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Order Quantity" [formControlName]="'orderQuantity'">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Use Quantity" [formControlName]="'useQuantity'">
        </mat-form-field>
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" [formControlName]="'description'"
                      matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="3"></textarea>
        </mat-form-field>
        <div class="flex-container-row full-width align-center">
            <mat-checkbox [formControlName]="'batchSamplesByUseQuantity'" class="flex-one">Batch Samples by Use Quantity</mat-checkbox>
            <mat-checkbox [formControlName]="'useGnomexBilling'" class="flex-one">Use GNomEx for Billing</mat-checkbox>
        </div>
        <div class="flex-container-row full-width">
            <mat-form-field class="half-width">
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="Internal Pricing" [formControlName]="'pricingInternal'">
            </mat-form-field>
        </div>
        <div class="flex-container-row full-width">
            <mat-form-field class="half-width">
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="External Academic Pricing" [formControlName]="'pricingExternalAcademic'">
            </mat-form-field>
        </div>
        <div class="flex-container-row full-width">
            <mat-form-field class="half-width">
                <span matPrefix>$ &nbsp;</span>
                <input matInput placeholder="External Commercial Pricing" [formControlName]="'pricingExternalCommercial'">
            </mat-form-field>
        </div>
        <div class="flex-container-row full-width align-center justify-end">
            <span [hidden]="!this.productForm.dirty || this.showSpinner" class="dirty-note margin-right">Changes Have Not Been Saved</span>
            <button mat-button color="primary" [hidden]="this.showSpinner" [disabled]="!this.productForm.valid"
                    (click)="this.saveProduct()"><img class="icon" [src]="'./assets/action_save.gif'">Save</button>
            <mat-spinner [hidden]="!this.showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
        </div>
    </form>
</div>
