td > * {
    vertical-align: middle;
}
img.description-icon {
    padding-left: 1em;
}
.left-padding {
    padding-left: 1em;
}
.user-input {
    background-color: gainsboro;
}
.justify-end {
    justify-content: flex-end;
}
.bold-font {
    font-weight: bold;
}
.padding-top {
    padding-top: 1em;
}
.padding-bottom {
    padding-bottom: 1em;
}
