.ninety-five-percent-height {
    height: 95%;
}
.ninety-percent-height {
    height: 90%;
}
.ten-percent-height {
    height: 10%;
}
.five-percent-height {
    height: 5%;
}
.margin-right {
    margin-right: 2rem;
}
.margin-bottom {
    margin-bottom: 2rem;
}
.justify-end {
    justify-content: flex-end;
}
.flex-one {
    flex: 1;
}
.flex-three {
    flex: 3;
}
.flex-four {
    flex: 4;
}
.flex-nine {
    flex: 9;
}
span.dirty-note {
    background: var(--pure-yellow);
    padding: 0.5rem;
    margin-left: 1rem;
}
.border-right {
    border-right: 2px solid lightgray;
    padding-right: 2rem;
}
