<div class="flex-container-col full-height padded">
    <div class="flex-container-row justify-space-between padded align-center border flex-two">
        <form class="flex-container-row align-center" [formGroup]="this.filterForm">
            <label class="margin-right reduced-font"><img [src]="'./assets/basket.png'" class="icon">Product Orders</label>
            <div class="filter-col margin-right">
                <custom-combo-box class="reduced-font" placeholder="Lab" [options]="this.filterLabList"
                                  valueField="idLab" [displayField]="this.prefService.labDisplayField"
                                  [formControlName]="'lab'">
                </custom-combo-box>
                <custom-combo-box class="reduced-font" placeholder="Core Facility" [options]="this.filterCoreFacilityList"
                                  valueField="idCoreFacility" displayField="display"
                                  [formControlName]="'coreFacility'">
                </custom-combo-box>
            </div>
            <div class="filter-col margin-right">
                <custom-combo-box class="reduced-font" placeholder="Status" [options]="this.filterStatusList"
                                  valueField="codeProductOrderStatus" displayField="productOrderStatus"
                                  [formControlName]="'status'">
                </custom-combo-box>
                <custom-combo-box class="reduced-font" placeholder="Product Type" [options]="this.filterProductTypeList"
                                  valueField="idProductType" displayField="description"
                                  [formControlName]="'productType'">
                </custom-combo-box>
            </div>
            <date-range-filter (onChange)="this.dateRangeChange($event)"></date-range-filter>
        </form>
        <div>
            <mat-button-toggle-group [(ngModel)]="this.displayMode" class="reduced-font">
                <mat-button-toggle value="{{this.DISPLAY_DETAIL}}">Detail</mat-button-toggle>
                <mat-button-toggle value="{{this.DISPLAY_OVERVIEW}}">Overview</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="flex-container-row flex-ten padding-top" [hidden]="this.displayMode !== this.DISPLAY_DETAIL">
        <div class="full-height flex-one border">
            <tree-root #tree [nodes]="this.productOrderList" [options]="this.treeOptions" (activate)="this.onTreeActivate($event)">
                <ng-template #treeNodeTemplate  let-node>
                    <img src="{{node?.data?.icon}}" class="icon">
                    <span>{{ node?.data?.display }}</span>
                </ng-template>
            </tree-root>
        </div>
        <div class="full-height flex-three padded">
            <div class="full-height flex-container-col" [hidden]="this.detailDisplayMode !== this.DETAIL_LAB_MODE">
                <div class="flex-one">
                    <label *ngIf="this.selectedTreeNode">Product Orders for {{this.selectedTreeNode.data.display}}</label>
                </div>
                <div class="flex-thirteen">
                    <ag-grid-angular class="ag-theme-fresh full-height full-width"
                                     (gridReady)="this.onLabGridReady($event)"
                                     (gridSizeChanged)="this.onGridSizeChanged($event)"
                                     [rowData]="this.labLineItems">
                    </ag-grid-angular>
                </div>
            </div>
            <div class="full-height" [hidden]="this.detailDisplayMode !== this.DETAIL_ORDER_MODE">
                <mat-tab-group class="full-height">
                    <mat-tab label="Product Order Info">
                        <label *ngIf="this.currentProductOrder"><img [src]="'./assets/review.png'" class="icon">Product Order {{this.currentProductOrder.productOrderNumber}}</label>
                        <table *ngIf="this.currentProductOrder" class="half-width">
                            <tr>
                                <td class="italics">Submitter</td>
                                <td>{{this.currentProductOrder.submitter}}</td>
                            </tr>
                            <tr>
                                <td class="italics">Lab</td>
                                <td>{{this.currentProductOrder.labName}}</td>
                            </tr>
                            <tr>
                                <td class="italics">Submit Date</td>
                                <td>{{this.currentProductOrder.submitDate}}</td>
                            </tr>
                            <tr>
                                <td class="italics">Order Status</td>
                                <td>{{this.currentProductOrder.orderStatus}}</td>
                            </tr>
                            <tr>
                                <td class="italics">Billing Account</td>
                                <td>{{this.currentProductOrder.billingAccount}}</td>
                            </tr>
                            <tr>
                                <td class="italics">Quote Number</td>
                                <td>{{this.currentProductOrder.quoteNumber}}</td>
                            </tr>
                            <tr>
                                <td class="italics">Quote Received</td>
                                <td>{{this.currentProductOrder.quoteReceivedDate}}</td>
                            </tr>
                        </table>
                    </mat-tab>
                    <mat-tab label="Line Items">
                        <div class="full-height full-width padded">
                            <ag-grid-angular class="ag-theme-fresh full-height full-width"
                                             (gridReady)="this.onProductOrderGridReady($event)"
                                             (gridSizeChanged)="this.onGridSizeChanged($event)"
                                             [rowData]="this.productOrderLineItems">
                            </ag-grid-angular>
                        </div>
                    </mat-tab>
                    <mat-tab label="Files">
                        Files Placeholder
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div class="flex-ten padding-top" [hidden]="this.displayMode !== this.DISPLAY_OVERVIEW">
        <ag-grid-angular class="ag-theme-fresh full-height full-width"
                         (gridReady)="this.onOverviewGridReady($event)"
                         (gridSizeChanged)="this.onGridSizeChanged($event)"
                         (selectionChanged)="this.onOverviewGridSelectionChanged($event)"
                         [rowSelection]="'multiple'"
                         [suppressRowClickSelection]="true"
                         [rowData]="this.productOrderLineItemList">
        </ag-grid-angular>
    </div>
    <div class="flex-container-row flex-one padding-top justify-space-between align-center">
        <div class="align-center">
            <label class="margin-right" [hidden]="this.displayMode !== this.DISPLAY_OVERVIEW">{{this.changeProductOrders.length}} selected</label>
            <custom-combo-box class="reduced-font margin-right" placeholder="Change Status" [options]="this.filterStatusList"
                              valueField="codeProductOrderStatus" displayField="productOrderStatus"
                              [(ngModel)]="this.changeStatus">
            </custom-combo-box>
            <button mat-button class="margin-right" color="primary"
                    [disabled]="!this.changeStatus || !this.changeProductOrders || this.changeProductOrders.length < 1"
                    (click)="this.promptToSave()"><img class="icon" [src]="'./assets/bullet_go.png'">Go</button>
            <button mat-button color="warn" [disabled]="!this.changeProductOrders || this.changeProductOrders.length < 1"
                    (click)="this.promptToDelete()"><img class="icon" [src]="'./assets/delete.png'">Delete</button>
        </div>
        <label [hidden]="this.displayMode !== this.DISPLAY_OVERVIEW">({{this.productOrderLineItemList.length}} line items)</label>
    </div>
</div>
