.flex-one {
    flex: 1;
}
.flex-two {
    flex: 2;
}
.flex-three {
    flex: 3;
}
.flex-ten {
    flex: 10;
}
.flex-thirteen {
    flex: 13;
}
div.filter-col {
    display: flex;
    flex-direction: column;
    width: 18em;
}
.padding-top {
    padding-top: 0.5em;
}
.border {
    border: 1px gray solid;
}
.margin-right {
    margin-right: 2em;
}
.reduced-font {
    font-size: 13px;
}
.italics {
    font-style: italic;
}
