<div class="full-height full-width flex-container-col">
    <div mat-dialog-content class="flex-grow no-padding no-margin">
        <div class="full-width full-height flex-container-col padded background">
            <div class="padded">
                <b>*Note:</b> New accounts will require approval from billing administrator before use.
            </div>
            <div class="full-width full-height foreground bordered padded">
                <div *ngIf="showInternalButton && gnomexButtonLabel" class="full-width padded">
                    <button mat-raised-button class="link-button" (click)="onClickInternalButton()">
                        {{ gnomexButtonLabel }}
                    </button>
                </div>
                <div *ngFor="let option of coreOptions" class="full-width padded">
                    <button mat-raised-button class="link-button" (click)="goToUrl(option.url)">
                        {{ option.label }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
