<div class="full-width full-height horizontal-center">
    <div *ngIf="hideLoader | async; else loading"
         class="full-width full-height flex-container-col">
        <div class="flex-grow">
        </div>
        <div class="horizontal-center">
            <img src="{{site_splash}}" alt="">
        </div>
        <div class="flex-grow-large">
        </div>
    </div>
    <ng-template #loading>
        <div class="full-width full-height flex-container-col">
            <div class="flex-grow">
            </div>
            <div class="flex-container-row">
                <div class="flex-grow">
                </div>
                <div #loadingWindow class="gnomex-splash">
                    <div class="horizontal-center">
                        <img src={{site_logo}} alt="">
                    </div>
                    <div class="full-width progress-bar-container">
                        <jqxProgressBar #loadingProgress [width]="270" [height]="15" [value]="10" [colorRanges]="colorRanges">
                        </jqxProgressBar>
                    </div>
                </div>
                <div class="flex-grow">
                </div>
            </div>
            <div class="flex-grow">
            </div>
        </div>
    </ng-template>
</div>