<div class="full-width full-height flex-container-col">
    <div class="flex-container-row align-center padded-left-right-bottom small-font overflow-auto">
        <div class="flex-container-row align-center label-min-width minimize">
            <img [src]="analysisTreeNode?.icon" alt="">
            <div class="medium-font padded-left">
                Analysis {{ analysisTreeNode?.number }}
            </div>
        </div>
        <div class="flex-container-row flex-wrap child-margins">
            <button mat-raised-button *ngIf="showEdit" class="minimize" (click)="editButtonClicked($event)">
                <img *ngIf="!isEditMode" class="icon" [src]="constService.ICON_TAG_BLUE_EDIT" alt="">
                <img *ngIf="isEditMode" class="icon" [src]="constService.PAGE" alt="">
                {{ isEditMode ? "View" : "Edit" }}
            </button>
            <button mat-raised-button *ngIf="showAutoDistributeDataTracks" class="minimize" (click)="distributeDataTracks()">
                <img class="icon" [src]="constService.ICON_DATATRACK_NEW" alt="">
                Distribute Data Tracks
            </button>
            <button mat-raised-button *ngIf="showManagePEDFile" class="minimize" (click)="showManagePEDFileWindow()">
                <img class="icon" [src]="constService.ICON_CHART_ORGANIZATION" alt="">
                Manage Ped File
            </button>
            <button mat-raised-button class="minimize" (click)="shareWebLink()">
                <img class="icon" [src]="constService.GLOBE_LINK" alt="">
                Share URL
            </button>
            <button *ngIf="showLinkToExp" mat-raised-button class="minimize" (click)="makeLinkToExperiment()">
                <img class="icon" [src]="constService.ICON_LINK" alt="">
                Link to Experiment
            </button>
        </div>
        <div class="flex-grow">
        </div>
    </div>
    <div class="flex-grow padded-bottom overflow-auto">
        <mat-tab-group class="bordered full-height"  (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Info">
                <analysis-info-tab [isEditMode]="isEditMode"></analysis-info-tab>
            </mat-tab>
            <mat-tab label="Description">
                <analysis-description-tab [isEditMode]="isEditMode"></analysis-description-tab>
            </mat-tab>
            <mat-tab label="Annotations">
                <annotation-tab [annotations]="annotations" [disabled]="!isEditMode" [orderType]="types.ANALYSIS"></annotation-tab>
            </mat-tab>
            <mat-tab  label="Experiment">
               <analysis-experiment-tab [tabVisible]="showExpAnalysisTab"></analysis-experiment-tab>
            </mat-tab>
            <mat-tab label="Related Data" *ngIf="showRelatedDataTab">
                <related-data-tab [relatedObjects]="relatedObjects" ></related-data-tab>
            </mat-tab>
            <mat-tab label="Files">
                <analysis-files-tab></analysis-files-tab>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div>
        <save-footer [hidden]="routeOutlet !== 'analysisPanel'"
                     [dirty]="analysisService.analysisOverviewForm.dirty"
                     [disableSave]="analysisService.analysisOverviewForm.invalid || !isEditMode"
                     (saveClicked)="save()">
        </save-footer>
    </div>
</div>
