.column-width {
    min-width: 25em;
    width: 35em;
}

.horizontal-spacer {
    min-width: 2em;
    max-width: 2em;
    width: 2em;
}

.min-grid-height {
    min-height: 8em;
}

.genome-build-combo {
    flex: 5;
}
