<div class="full-height full-width overflow-auto padded small-font" role="region" aria-label="Analysis information">
  <form [formGroup]="form" class="flex-container-row full-height full-width" aria-label="Analysis information form">
    <div class="flex-container-col column-width" role="group" aria-label="Primary analysis details">
      <mat-form-field>
        <mat-label>Lab Group</mat-label>
        <input matInput placeholder="Lab Group" [formControlName]="'labName'"
               [readonly]="true"
               aria-readonly="true"
               aria-label="Lab group name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" [formControlName]="'name'"
               [readonly]="isReadonly || null"
               [attr.aria-readonly]="isReadonly"
               aria-label="Analysis name">
      </mat-form-field>
      <div class="flex-container-row align-center">
        <custom-combo-box placeholder="Analysis Type"
                          class="flex-grow"
                          displayField="display"
                          valueField="value"
                          [formControlName]="'idAnalysisType'"
                          [options]="analysisTypes"
                          aria-label="Select analysis type">
        </custom-combo-box>
        <div class="padded-left">
          <button mat-button
                  class="minimize link-button"
                  matTooltip="Add or edit Analysis Type"
                  [disabled]="!isEditMode || !canUpdate"
                  [hidden]="!isEditMode"
                  (click)="openEditAnalysisType()"
                  aria-label="Edit analysis types">
            Edit
          </button>
        </div>
      </div>
      <div class="flex-container-row align-center">
        <custom-combo-box placeholder="Analysis Protocol"
                          class="flex-grow"
                          displayField="label"
                          valueField="id"
                          [formControlName]="'idAnalysisProtocol'"
                          [options]="protocolList"
                          aria-label="Select analysis protocol">
        </custom-combo-box>
        <div class="padded-left">
          <button mat-button
                  class="minimize link-button"
                  matTooltip="Add or edit protocol"
                  [disabled]="!isEditMode || !canUpdate"
                  [hidden]="!isEditMode"
                  (click)="openEditAnalysisProtocol()"
                  aria-label="Edit analysis protocols">
            Edit
          </button>
        </div>
      </div>
      <div class="flex-container-row align-center">
        <custom-combo-box placeholder="Organism"
                          class="flex-grow"
                          displayField="display"
                          valueField="value"
                          [formControlName]="'idOrganism'"
                          [options]="organismList"
                          aria-label="Select organism">
        </custom-combo-box>
        <div class="padded-left">
          <button mat-button
                  class="minimize link-button"
                  matTooltip="Add or edit organism"
                  [disabled]="!isEditMode || !canUpdate"
                  [hidden]="!isEditMode"
                  (click)="openEditOrganism()"
                  aria-label="Edit organisms">
            Edit
          </button>
        </div>
      </div>
      <div *ngIf="isEditMode" class="flex-container-row align-center" role="group" aria-label="Genome build selection">
        <custom-combo-box placeholder="Genome Builds"
                          displayField="display"
                          style="flex: 5;"
                          [formControlName]="'genomeBuildToAdd'"
                          [hidden]="!isEditMode"
                          [options]="genomeBuildList"
                          aria-label="Select genome build to add">
        </custom-combo-box>
        <div class="padded-left">
          <button mat-raised-button
                  class="minimize"
                  matTooltip="Add to list"
                  [disabled]="!isEditMode || !canUpdate || !form.controls['genomeBuildToAdd'].value"
                  [hidden]="!isEditMode"
                  (click)="addGenomeBuild()"
                  aria-label="Add genome build to list">
            <img *ngIf="!isEditMode || !canUpdate || !form.controls['genomeBuildToAdd'].value" [src]="'./assets/add_disable.png'" alt="" aria-hidden="true">
            <img *ngIf="isEditMode && canUpdate && form?.controls['genomeBuildToAdd']?.value" [src]="'./assets/add.png'" alt="" aria-hidden="true">
          </button>
        </div>
        <div class="padded-left">
          <button mat-raised-button
                  class="minimize"
                  matTooltip="Remove from list"
                  [disabled]="!isEditMode || !canUpdate || !genomeBuildToRemove"
                  [hidden]="!isEditMode"
                  (click)="removeGenomeBuild()"
                  aria-label="Remove genome build from list">
            <img *ngIf="!isEditMode || !canUpdate || !genomeBuildToRemove" [src]="'./assets/delete_disable.png'" alt="" aria-hidden="true">
            <img *ngIf="isEditMode && canUpdate && genomeBuildToRemove" [src]="'./assets/delete.png'" alt="" aria-hidden="true">
          </button>
        </div>
        <div class="padded-left">
          <button mat-raised-button
                  class="minimize link-button"
                  matTooltip="Add or edit organism"
                  [disabled]="!isEditMode || !canUpdate" (click)="openEditOrganism()"
                  [hidden]="!isEditMode"
                  aria-label="Edit organisms and genome builds">
            Edit
          </button>
        </div>
      </div>
      <div class="flex-grow" role="region" aria-label="Genome builds list" appAgGridHeaderA11yFix appFocusManager>
        <ag-grid-angular class="ag-theme-balham full-height full-width min-grid-height"
                         [rowData]="form.controls['genomeBuildsJSONString'].value"
                         [rowSelection]="'single'"
                         [suppressMovableColumns]="true"
                         (gridReady)="onGenomeBuildGridReady($event)"
                         (gridSizeChanged)="onGridSizeChanged($event)"
                         (rowClicked)="onGenomeBuildGridSelection($event)"
                         aria-label="Genome builds data grid">
        </ag-grid-angular>
      </div>
    </div>
    <div class="horizontal-spacer">
    </div>
    <div class="flex-container-col column-width" role="group" aria-label="Secondary analysis details">
      <custom-combo-box placeholder="Owner"
                        valueField="idAppUser"
                        [displayField]="prefService.userDisplayField"
                        [formControlName]="'idAppUser'"
                        [options]="labUsers"
                        aria-label="Select analysis owner">
      </custom-combo-box>
      <mat-form-field>
        <mat-label>Submitter</mat-label>
        <input matInput placeholder="Submitter" [formControlName]="'submitterName'"
               [readonly]="true"
               aria-readonly="true"
               aria-label="Submitter name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Submit Date</mat-label>
        <input matInput placeholder="Submit Date" [formControlName]="'submitDate'"
               [readonly]="true"
               aria-readonly="true"
               aria-label="Submit date">
      </mat-form-field>
      <mat-radio-group class="flex-container-col double-padded" [formControlName]="'codeVisibility'"
                       [appReadonly]="isReadonly"
                       appReadonlyType="radio"
                       aria-label="Select visibility level">
        <mat-radio-button *ngFor="let vis of visibilityList"
                          [value]="vis.codeVisibility"
                          [matTooltip]="vis.tooltip"
                          [matTooltipPosition]="'left'"
                          [attr.aria-label]="vis.display + ': ' + vis.tooltip">
          {{ vis.display }}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="propertyService.isPrivacyExpirationSupported && analysis.codeVisibility !== 'PUBLIC'" class="padded">
        <mat-form-field matTooltip="Public visibility date (visibility automatically changes to public on this date)"
                        [matTooltipPosition]="'left'">
          <mat-label>Privacy Expiration</mat-label>
          <input matInput
                 placeholder="Privacy Expiration"
                 [formControlName]="'privacyExpirationDate'"
                 [matDatepicker]="privacyPicker"
                 [min]="today"
                 [readonly]="isReadonly || null"
                 [attr.aria-readonly]="isReadonly"
                 aria-label="Privacy expiration date">
          <mat-datepicker-toggle matSuffix [for]="privacyPicker" [disabled]="isReadonly" aria-label="Open date picker"></mat-datepicker-toggle>
          <mat-datepicker #privacyPicker [disabled]="isReadonly"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex-container-row align-center">
        <div class="padded-left">
          <button mat-button
                  class="link-button"
                  [disabled]="!isEditMode || !canUpdate"
                  [hidden]="!isEditMode"
                  (click)="openCollaboratorsWindow()"
                  aria-label="Manage collaborators">
            Collaborators
          </button>
        </div>
      </div>
      <custom-combo-box placeholder="Institution"
                        displayField="display"
                        valueField="idInstitution"
                        [formControlName]="'idInstitution'"
                        [options]="institutionList"
                        aria-label="Select institution">
      </custom-combo-box>
      <div role="group" aria-label="Analysis groups">
        <div class="italic" id="analysis-groups-label">
          Analysis Group(s) :
        </div>
        <div class="padded">
          <ul aria-labelledby="analysis-groups-label">
            <li *ngFor="let analysisGroup of form.controls['analysisGroupsJSONString'].value">
              {{ analysisGroup.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex-grow">
    </div>
  </form>
</div>
