<div style="display:flex; flex-direction:column ; height:100%; width:100%;">
    <div style="display:flex; font-size:small; " >
        <label>
            <img class="icon" [src]="analysisTreeNode?.icon">
            Analysis {{analysisTreeNode?.number}}
        </label>
        <button mat-button *ngIf="this.showAutoDistributeDataTracks" (click)="this.autoDistributeDataTracks()"><img class="icon" [src]="constService.ICON_DATATRACK_NEW">Auto Distribute All Data Tracks</button>
        <button mat-button *ngIf="this.showManagePEDFile" (click)="this.showManagePEDFileWindow()"><img class="icon" [src]="constService.ICON_CHART_ORGANIZATION">Manage Ped File</button>
        <button mat-button (click)="this.shareWebLink()"><img class="icon" [src]="constService.GLOBE_LINK">Share URL</button>
        <button *ngIf="showLinkToExp"
                mat-button
                color="link"
                (click)="makeLinkToExperiment()">
            <img class="icon" [src]="constService.ICON_LINK">
            Link to Experiment
        </button>
    </div>

    <div style="display:flex; flex: 9">
        <mat-tab-group class="mat-tab-group-border"  (selectedTabChange)="tabChanged($event)">
            <mat-tab label="Info">
                <analysis-info-tab></analysis-info-tab>
            </mat-tab>
            <mat-tab label="Description">
                <analysis-description-tab [isEditMode]="true"></analysis-description-tab>
            </mat-tab>
            <mat-tab label="Annotations">
                <annotation-tab [annotations]="annotations" [disabled]="false" [orderType]="types.ANALYSIS"> </annotation-tab>
            </mat-tab>
            <mat-tab  label="Experiment" style="height:100%;">
               <analysis-experiment-tab [tabVisible]="showExpAnalysisTab"> </analysis-experiment-tab>
            </mat-tab>
            <mat-tab label="Related Data" *ngIf="showRelatedDataTab">
                <related-data-tab [relatedObjects]="relatedObjects" >
                </related-data-tab>
            </mat-tab>
            <mat-tab label="Files">
                <analysis-files-tab></analysis-files-tab>
            </mat-tab>

        </mat-tab-group>
    </div>
    <div style="flex:1;">
        <save-footer (saveClicked)="save()"
                     [disableSave]="this.analysisService.analysisOverviewForm.invalid"
                     [dirty]="this.analysisService.analysisOverviewForm.dirty">
        </save-footer>
    </div>
</div>
