.padded-outer {
    margin: 0;
    padding: 0;
}

.padded-inner {
    padding: 0.3em;
}

.lab-filter {
    margin-left: 1em;
}

.grid-container {
    height: 25em;
    width: 100%;
    margin-top: 0.5em;
}
