<div class="full-width full-height flex-container-col">
    <div class="flex-container-row spaced-children-margin  ">
        <button mat-button color="primary"  (click)="addNewFolder()" >
            <img [src]="constService.ICON_FOLDER_ADD" > New Folder
        </button>
        <button mat-button
                color="primary"
                [disabled]="(!organizeSelectedNode && !uploadSelectedNode) || organizeSelectedNode.isRoot"
                (click)="remove()" >
            <img [src]="constService.ICON_DELETE" >
            Remove (from file system)
        </button>
        <button mat-button color="primary" [disabled]="!organizeSelectedNode && !uploadSelectedNode"  >
            <img [src]="constService.SEGMENT_IMPORT" >
            Rename file </button>
        <button mat-button color="primary"  >
            <img [src]="constService.ICON_REFRESH" >
            Refresh
        </button>
        <button mat-button [matTooltip]="this.organizeHelp" (click)="showHelp()">
            <img [src]="constService.ICON_INFORMATION">
        </button>


    </div>

    <div style="flex:1;"class="flex-row-container">
        <as-split *ngIf="tabVisible" > <!-- split  mat-tabs have issues -->
            <as-split-area  size="40">
                    <div class="full-height full-width border-subtle">
                        <tree-root #uploadTree
                                   (activate)="uploadTreeOnSelect($event)"
                                   (deactivate)="uploadTreeOnUnselect($event)"
                                   [nodes]="uploadFiles"
                                   [options]="uploadOpts">
                            <ng-template #treeNodeTemplate let-node let-index="index">
                                <div class="truncate">
                                    <img src="{{ node.data.icon }}" height="16" width="16">
                                    <span [matTooltip]="node.data.displayName" >{{ node.data.displayName }}</span>
                                </div>

                            </ng-template>
                        </tree-root>
                    </div>

            </as-split-area>

            <as-split-area size="60">
                <div  class="full-height full-width border-subtle">
                    <tree-root #organizeTree
                               (activate)="organizeTreeOnSelect($event)"
                               (deactivate)="organizeTreeOnUnselect($event)"
                               (moveNode)="onMove($event)"
                               [nodes]="organizeFiles"
                               [options]="organizeOpts">
                        <ng-template #treeNodeTemplate let-node let-index="index">
                            <div class="truncate">
                                <img src="{{ node.data.icon }}" height="16" width="16">
                                <span [ngStyle]="{'color': node.data.PROTECTED === 'Y' ? 'red' : 'black' }" >
                                    {{ node.data.displayName }}
                                </span>
                            </div>

                        </ng-template>
                    </tree-root>

                </div>
            </as-split-area>
        </as-split>
    </div>
    <div class="flex-container-row align-center">
        <div class="flex-grow">
            <save-footer></save-footer>
        </div>
        <button mat-button color="primary" (click)="requestToCloseDialog()" >  Close </button>

    </div>
</div>


