<div class="full-height full-width flex-container-col padded">
    <form class="full-height full-width padded-inner flex-container-col" [formGroup]="createAnalysisForm" >
        <div class="flex-container-row align-center padded">
            <label class="label label-width">Group</label>
            <jqxComboBox #labCombo class="inlineComboBox" [width]="450" [placeHolder]="'Select a lab...'"
                         [source]="labList" [displayMember]="this.prefService.labDisplayField" [valueMember]="'idLab'"
                         (onSelect)="onLabSelect($event)" formControlName="selectedLab">
            </jqxComboBox>
        </div>
        <div class="flex-container-row align-center padded" *ngIf="showOwnerComboBox">
            <label class="label label-width">Analysis Owner</label>
            <jqxComboBox class="inlineComboBox" [width]="450" [placeHolder]="'Select an Owner...'"
                         [source]="ownerList" [displayMember]="this.prefService.userDisplayField" [valueMember]="'idAppUser'"
                         (onSelect)="onUserSelect($event)" formControlName="analysisOwner">
            </jqxComboBox>
        </div>
        <div class="flex-container-row align-center padded" *ngIf="!newAnalysisGroup">
            <label class="label label-width">Analysis Group</label>
            <jqxComboBox #analysisGroupCombo class="inlineComboBox" [width]="450" [placeHolder]="'...'"
                         [source]="analysisGroupList" [displayMember]="'name'" [valueMember]="'idAnalysisGroup'"
                         (onSelect)="onAnalysisGroupSelect($event)" formControlName="analysisGroup">
            </jqxComboBox>
        </div>
        <div class="flex-container-row align-center padded">
            <button mat-button
                    class="link-button underlined minimize limit-width"
                    style="padding: 0;"
                    (click)="includeNewGroup()">New...
            </button>
        </div>
        <div class="flex-container-row align-center padded" *ngIf="newAnalysisGroup">
            <label class="label label-width">New Analysis Group Name</label>
            <mat-form-field>
                <input matInput formControlName="analysisGroupName">
                <mat-error *ngIf="newAnalysisGroup && createAnalysisForm.get('analysisGroupName').hasError('required')">
                    Analysis Group Name is required
                </mat-error>
            </mat-form-field>


        </div>

        <div class="flex-container-row align-center padded">
            <label class="label label-width">Analysis Name</label>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="analysisName">
                <mat-error *ngIf="createAnalysisForm.get('analysisName').hasError('required')">
                    Analysis Name is required
                </mat-error>
            </mat-form-field>
        </div>
        <div class="flex-container-row align-center padded">
            <label class="label label-width">Organism</label>
            <jqxComboBox #organismCombo class="inlineComboBox" [width]="450" [placeHolder]="'Organism...'"
                         [source]="activeOrganismList" [displayMember]="'display'" [valueMember]="'idOrganism'"
                         (onSelect)="onOrganismSelect($event)" formControlName="organism">
            </jqxComboBox>
        </div>
        <div class="flex-container-row align-center padded">
            <button mat-button
                    class="link-button underlined minimize limit-width"
                    style="padding: 0;"
                    (click)="newOrganism()">New/Edit...
            </button>
        </div>

        <div class="flex-container-row align-center padded">
            <label class="label label-width">Genome Build</label>
            <jqxComboBox class="inlineComboBox" [width]="450" [multiSelect]="true"
                         [source]="genomeBuildList" [displayMember]="'display'" [valueMember]="'idGenomeBuild'"
                         (onSelect)="onGenomeBuildSelect($event)">
            </jqxComboBox>
        </div>
        <div class="flex-container-row align-center padded">
            <button mat-button
                    class="link-button underlined minimize limit-width"
                    style="padding: 0;"
                    (click)="newOrganism()">New/Edit...
            </button>
        </div>

        <div class="flex-container-row align-center padded">
            <label class="label label-width">Visibility</label>
            <jqxComboBox class="inlineComboBox" [width]="450"
                         [source]="visibilityList" [displayMember]="'display'" [valueMember]="'idGenomeBuild'"
                         (onSelect)="onVisibilitySelect($event)" formControlName="visibility">
            </jqxComboBox>
        </div>
    </form>
</div>
