<form [formGroup]="createAnalysisGroupForm" class="full-height full-width padded flex-container-col">
    <div class="flex-container-row align-center padded">
        <label class="label label-width">Group:</label>
        <jqxComboBox #labComboBox class="inlineComboBox" [width]="450"
                     formControlName="selectedLab" [placeHolder]="'Select a lab...'"
                     [source]="labList" [displayMember]="this.prefService.labDisplayField" [valueMember]="'idLab'"
                     (onSelect)="onLabSelect($event)" (onUnselect)="onLabUnselect($event)">
        </jqxComboBox>
    </div>
    <div class="flex-container-row align-center padded">
        <mat-form-field class="full-width">
            <input matInput formControlName="analysisGroupName" placeholder="Analysis Group Name">
            <mat-error
                    *ngIf="createAnalysisGroupForm.get('analysisGroupName').hasError('required')">
                Analysis Group Name is required
            </mat-error>
            <mat-error
                    *ngIf="createAnalysisGroupForm.get('analysisGroupName').hasError('maxlength')">
                Analysis Group Name exceeded the 500 character limit
            </mat-error>
        </mat-form-field>
    </div>
    <div class="flex-container-col full-width padded">
        <label class="label label-width" for="descEditor">Description:</label>
        <angular-editor #descEditorRef id="descEditor"
                        formControlName="description"
                        [config]="editorConfig">
        </angular-editor>
        <mat-error *ngIf="createAnalysisGroupForm.get('description').hasError('maxlength')">
            Description exceeded the 500 character limit including HTML code formatting and styles.
            Character count: {{createAnalysisGroupForm.get('description').value.toString().length}}
        </mat-error>
    </div>
</form>

