<div class="full-width full-height padded small-font">
    <div class="form-width">
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Billing Contact Name" [formControl]="this.billingContactFC">
                <mat-error *ngIf="this.billingContactFC.hasError('required')">Required</mat-error>
            </mat-form-field>
        </div>
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Billing Contact Email(s)" [formControl]="this.billingContactEmailFC">
                <mat-error *ngIf="this.billingContactEmailFC.hasError('required')">Required</mat-error>
                <mat-hint>Place ',' between emails. Billing contact only gets billing emails.</mat-hint>
            </mat-form-field>
        </div>
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Billing Contact Phone #" [formControl]="this.phoneFC">
            </mat-form-field>
        </div>
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Department" [formControl]="this.departmentFC">
            </mat-form-field>
        </div>
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Address" [formControl]="this.addressFC">
            </mat-form-field>
        </div>
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Address 2" [formControl]="this.address2FC">
            </mat-form-field>
        </div>
        <div class="full-width flex-container-row padded">
            <div class="flex-grow padded-right">
                <mat-form-field class="full-width">
                    <input matInput placeholder="City" [formControl]="this.cityFC">
                </mat-form-field>
            </div>
            <div class="flex-grow padded-left-right">
                <custom-combo-box placeholder="Pick a state"
                                  class="full-width"
                                  displayField="value"
                                  valueField="value"
                                  [options]="this.states"
                                  [formControl]="stateFC">
                </custom-combo-box>
            </div>
            <!--<button mat-button class="edit-button" (click)="editDictionary()">-->
                <!--Edit...-->
            <!--</button>-->
            <div class="flex-grow padded-left">
                <mat-form-field class="full-width">
                    <input matInput class="full-width" placeholder="Postal Code" [formControl]="this.zipFC">
                </mat-form-field>
            </div>
        </div>
        <div class="full-width padded">
            <mat-form-field class="full-width">
                <input matInput placeholder="Country" [formControl]="this.countryFC">
            </mat-form-field>
        </div>
    </div>
</div>
