// Button variants and states

button.mat-button.minimize {
  min-width: 0;
  width: auto;
  height: auto;
  line-height: 1rem;
  padding: 0.3em;
}

button.mat-raised-button.minimize {
  min-width: 0;
  width: auto;
  height: auto;
  line-height: 1rem;
  padding: 0.3em;
}

button.mat-button.minimize span {
  min-width: 0;
  padding: 0.3em;
}

button.mat-raised-button.minimize span {
  min-width: 0;
  padding: 0.3em;
}

button.mat-button.link-button {
  color: #0000ff;
}
