// Form elements: inputs, selects, readonly/disabled states

input[readonly] {
  background-color: var(--white-dark); /* light gray background to indicate it's readonly */
  color: var(--grey-darker) !important;
  cursor: not-allowed; /* shows a not-allowed cursor to indicate no interaction */
}

input[readonly]:focus {
  outline: none; /* remove focus outline if you don't want it to show */
  box-shadow: none; /* remove any box-shadow if present */
}

div.dialogDiv {
  width: 100%;
  margin: 0.4rem 0rem;
}
