// ag-Grid theme overrides and angular-split gutter styles

.ag-theme-balham .annotationRequiredRow {
  font-weight: bold !important;
  font-style: italic !important;
  color: var(--black-darkest) !important;
}

.ag-theme-balham .annotationActiveRow {
  font-style: normal !important;
  color: var(--black-darkest) !important;
}

.ag-theme-balham .annotationInactiveRow {
  font-style: italic !important;
  color: var(--greywarm-meddarker) !important;
}

.ag-theme-balham .otherBillingItem {
  font-style: italic !important;
  color: var(--grey-medium) !important;
}

.ag-theme-balham .workFlowOnColor {
  background-color: var(--workflow-on-bg) !important;
}

.ag-theme-balham .workFlowOffColor {
  background-color: var(--white-lightest) !important;
}

.ag-theme-balham .workFlowSelectedColor {
  background-color: var(--workflow-selected-bg) !important;
}

.ag-theme-fresh .annotationRequiredRow {
  font-weight: bold !important;
  font-style: italic !important;
  color: var(--black-darkest) !important;
}

.ag-theme-fresh .annotationActiveRow {
  font-style: normal !important;
  color: var(--black-darkest) !important;
}

.ag-theme-fresh .annotationInactiveRow {
  font-style: italic !important;
  color: var(--greywarm-meddarker) !important;
}

.ag-theme-fresh .otherBillingItem {
  font-style: italic !important;
  color: var(--grey-medium) !important;
}

.ag-theme-fresh .workFlowOnColor {
  background-color: var(--workflow-on-bg) !important;
}

.ag-theme-fresh .workFlowOffColor {
  background-color: var(--white-lightest) !important;
}

.ag-theme-fresh .workFlowSelectedColor {
  background-color: var(--workflow-selected-bg) !important;
}

.ag-theme-fresh {
  font: 300 10px "Arial", sans-serif !important;
}

.ag-theme-fresh .ag-cell {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.ag-theme-fresh .ag-header-cell-label {
  width: 100% !important;
}

.ag-theme-fresh .ag-header {
  font: 300 10px "Arial", sans-serif !important;
}

.ag-theme-fresh .ag-header-cell, .ag-theme-fresh .ag-header-group-cell {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.ag-theme-fresh .ag-row-selected {
  background-color: var(--workflow-selected-bg) !important;
}

.ag-header-cell-text {
  text-overflow: clip !important;
  overflow: visible !important;
  white-space: normal !important;
}

// angular-split gutter styles
.white-split-gutter .as-split-gutter.ng-star-inserted {
  background-color: var(--white-lightest) !important;
}

.silver-bordered-gutter .as-split-gutter.ng-star-inserted {
  border-style: solid !important;
  border-color: var(--grey-lighter) !important;
  border-width: 0 1px 0 1px !important;
}
