.formField {
    width: 100%;
    margin: 0.25rem 0;
}

mat-radio-group.radio {
    width: 100%;
    margin: 0.25rem 0;
}

mat-radio-button.radioOption {
    margin: 0 0.25rem;
}

div.formField {
    width: 100%;
    margin: 0.25rem 0;
    display: flex;
    flex-direction: row;
}

img.icon {
    margin-right: 0.5rem;
}
