.inlineComboBox {
  display: inline-block;
}

.hintLink {
  fontSize: 9;
  paddingLeft: 1;
  paddingRight: 1;
  paddingBottom: 1;
  paddingTop: 1;
}

.sidebar {
  width: 25%;
  position: relative;
  left: 0;
  background-color: #ccc;
  transition: all .25s;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.br-exp-row-one {
  flex-grow: 1;
}

.br-exp-item-row-two {
  flex-grow: 1;
}

.br-exp-item {
  flex: 1 1 auto;
  font-size: small;
}

.br-exp-one {
  width: 100%;
  flex-grow: .25;
}

.br-exp-help-drag-drop {
  width: 100%;
  flex-grow: .10;
}

.br-exp-three {
  width: 100%;
  height: 6em;
  flex-grow: 8;
}

.br-exp-four {
  width: 100%;
  flex-grow: .10;
}

.br-exp-five {
  width: 100%;
  flex-grow: .10;
}

.t {
  display: table;
  width: 100%;
}

.tr {
  display: table-row;
  width: 100%;
}

.td {
  display: table-cell;
}

.jqx-tree {
  height: 100%;
}

.jqx-notification {
  margin-top: 30em;
  margin-left: 20em;
}

div.background {
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
  padding: 0.3em;
  border-radius: 0.3em;
  border: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
}

.experiment-detail-panel {
  width: 75%;
  background-color: #0b97c4;
}
