.row-label {
    flex: 1;
}

.row-field {
    flex: 1;
}

.small-margin-right {
    margin-right: 1em;
}

li {
    margin-bottom: 1em;
}

.req-cat-icon {
    width: 2em;
}

.req-cat-label {
    width: 18em;
}

.border {
    border: 1px solid black;
}
