<div class="flex-container-col full-width full-height padded">
	<div class="full-width full-height padded-left-right">
		<div *ngIf="!addingUser" class="full-width padded" style="height: 33em;">
			<ag-grid-angular
					style="width:100%; height:100%;"
					class="ag-theme-fresh"
					[singleClickEdit]="true"
					[rowSelection]="'multiple'"
					[suppressRowClickSelection]="true"
					[columnDefs]="columnDefinitions"
					[enableSorting]="true"
					[enableColResize]="true"
					(gridSizeChanged)="onGridSizeChanged()"
					(gridReady)="onGridReady($event)">
			</ag-grid-angular>
		</div>
		<div *ngIf="addingUser" class="full-width padded">
			<custom-combo-box class="full-width" placeholder="Select a Lab..." (optionSelected)="onLabListSelection()"
							  [options]="labList" displayField="name"
							  [(ngModel)]="selectedLab">
			</custom-combo-box>
			<custom-combo-box class="full-width" placeholder="Select a User..."
							  [options]="userList" displayField="display"
							  [(ngModel)]="selectedUser">
			</custom-combo-box>
			<p *ngIf="!!selectedLab && !userListLoading && (!userList || userList.length < 1)" class="error-message">No users found</p>
		</div>
	</div>
	<div class="flex-grow generic-dialog-footer-colors">
		<div *ngIf="!addingUser" class="flex-container-row justify-space-between">
			<div class="flex-container-row">
				<save-footer (saveClicked)="addUserFromOtherLabButtonClicked()" name="Add User from Another Lab"></save-footer>
			</div>
			<div class="flex-container-row justify-flex-end">
				<save-footer [icon]="this.constService.ICON_SAVE" (saveClicked)="updateButtonClicked()" name="Update"></save-footer>
				<save-footer [actionType]="actionType.SECONDARY" (saveClicked)="cancelButtonClicked()" name="Cancel"></save-footer>
			</div>
		</div>
		<div *ngIf="addingUser" class="flex-container-row justify-space-between">
			<div class="flex-container-row">
				<save-footer [actionType]="actionType.SECONDARY" (saveClicked)="backButtonClicked()" name="Back"></save-footer>
			</div>
			<div class="flex-container-row justify-flex-end">
				<save-footer [disableSave]="!this.selectedLab || !this.selectedUser" (saveClicked)="addUserButtonClicked()" name="Add User"></save-footer>

			</div>
		</div>
	</div>
</div>
