<div mat-dialog-title class="no-padding no-margin">
	<div class="header">
		<img src="../../../assets/email_go.png" alt=""/>
		Send email to users associated with selected orders
	</div>
</div>
<div mat-dialog-content class="popup-body no-padding no-margin">
	<div class="full-height full-width plain-background bordered padded">
		<mat-form-field class="full-width">
			<input matInput
				   class="full-width"
				   [(ngModel)]="subject"
				   placeholder="Subject"/>
		</mat-form-field>
		<mat-form-field class="full-width">
			<textarea
					matInput
					placeholder="Body"
					[(ngModel)]="body"
					matTextareaAutosize
					matAutosizeMinRows="1"
					matAutosizeMaxRows="7">
				</textarea>
		</mat-form-field>
	</div>
</div>
<div mat-dialog-actions class="no-margin no-padding right-align">
	<div class="padded">
		<button mat-button
				[disabled]="emailIsInvalid() || disableSendEmailButton"
				(click)="sendEmailButtonClicked()">
			<img *ngIf="!emailIsInvalid() && !disableSendEmailButton" src="../../../assets/email_go.png" alt=""/>
			<img *ngIf="emailIsInvalid() || disableSendEmailButton" src="../../../assets/email_go_disable.png" alt=""/>
			Send email
		</button>
	</div>
	<div class="padded">
		<button mat-button (click)="cancelButtonClicked()">
			Cancel
		</button>
	</div>
</div>