.multiline-strings {
    white-space: pre-line;
}

.heavily-left-padded {
    padding-left: 1.5em;
}

.heavily-right-padded {
    padding-right: 1.5em;
}

.moderate-width {
    width: 5em;
    min-width: 5em;
}

.wide-display {
    min-width: 15em;
    width: 15%;
}

.right-align {
    text-align: right;
}

.top-margin {
    margin-top: 0.3em;
}

.minimal {
    width: fit-content;
}

.instructions-background {
    background-color: lightyellow;
}

.t {
    display: table;
}

.tr {
    display: table-row;
}

.td {
    display: table-cell;
}

.minheight {
    min-height: 8em;
}

.font-bold {
    font-weight: bold;
}
