.horizontal-spacer {
    height: 80%;
    width: 2px;
    background-color: lightgrey;
}

::ng-deep .ag-header-cell-text {
    text-overflow: clip !important;
    overflow: visible !important;
    white-space: normal !important;
}

.hidden {
    display: none;
}
