.short-width {
    width: 10em;
    min-width: 10em;
}

.moderate-width {
    width: 40em;
    min-width: 20em;
}

.min-height {
    min-height: 20em;
}

.double-padded-top-bottom {
    padding: 0.6em 0 0.6em 0;
}
