.horizontal-center {
    text-align: center;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.minimum-height-grid {
    min-height: 12em;
    height: 16em;
}

.heading {
    width: 30%;
    min-width: 20em;
    padding-right: 2em;
}

.minor-heading {
    width: 15%;
    min-width: 10em;
    padding-right: 2em;
}

ol.three-depth-numbering {
    padding: 0;
    margin: 0;
    list-style-type: none;
    counter-reset: section;
}

ol.three-depth-numbering li {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
}

ol.three-depth-numbering li::before {
    counter-increment: section;
    content: "(" counter(section) ")";
    padding-right: 0.7em;
}

ol.three-depth-numbering li ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    counter-reset: subsection;
}

ol.three-depth-numbering li ol li {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
}

ol.three-depth-numbering li ol li::before {
    counter-increment: subsection;
    content: "(" counter(section) "." counter(subsection) ")";
    padding-right: 0.7em;
}

ol.three-depth-numbering li ol li ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    counter-reset: subsubsection;
}

ol.three-depth-numbering li ol li ol li {
    display: flex;
    flex-direction: row;
    padding-bottom: 0.3em;
}

ol.three-depth-numbering li ol li ol li::before {
    counter-increment: subsubsection;
    content: "(" counter(section) "." counter(subsection) "." counter(subsubsection) ")";
    padding-right: 0.7em;
}

.normal-size-font {
    font-size: medium;
}

.title {
    font-weight: bold;
    color: darkblue;
    padding-left: 1.75em;
    padding-bottom: 0.25em;
}

.short-width {
    width: 20em;
    min-width: 20em;
}

.moderate-width {
    width: 40em;
    min-width: 20em;
}

.long-width {
    width: 80em;
    min-width: 40em;
}

.minwidth {
    min-width: 5em;
}

textarea.mat-input-element:disabled {
    color: rgba(88, 88, 88, 1);
}
