.spaced-children > *:not(:last-child) {
    margin-right: 1em;
}
div.container {
    width: 900px;
    min-width: 900px;
}
div.header {
    margin-bottom: 25px;
}
div.main-form {
    width: 500px;
    padding: 10px;
}
div.text-body {
    padding-top: 10px;
    text-align: center;
}
mat-form-field.input-field {
    width: 250px;
}
.text-align-center {
    text-align: center;
}
