input[type="radio"] + label:hover {
    text-decoration: underline;
}

input[type="radio"]:checked + label {
    color: var(--pure-indigo);
}

input[type="radio"] {
    opacity: 0;
}

span.radioLikeLink:hover {
    cursor: hand;
}

div.divider {
    display: inline;
    border-left: 1px solid var(--grey-lightest);
    height: 2rem;
    margin-left: 1rem;
    padding-left: 1rem;
}
