<div class="full-width full-height flex-container-col padded-left-right-top">
	<div class="full-width flex-container-row">
		<div class="flex-container-col">
			<div class="full-width flex-container-row align-center">
				<div class="medium-width padded-left-right-top">
					<custom-combo-box placeholder="Select Core Facility"
									  [(ngModel)]="selectedCoreFacility"
									  (optionSelected)="onCoreFacilitySelected()"
									  [options]="coreFacilities"
									  displayField="display">
					</custom-combo-box>
				</div>
				<div class="padded-left">
					<button mat-raised-button *ngIf="!showAddAccountBox" class="same-size-button" (click)="onAddAccountBeginClicked()">Add account</button>
					<button mat-raised-button *ngIf="showAddAccountBox" class="same-size-button" (click)="onHideClicked()">Hide Add Account</button>
				</div>
				<div class="padded-left">
					<button mat-raised-button (click)="onCopyAccountsClicked()">Copy Accounts From Other Cores</button>
				</div>
			</div>
			<div *ngIf="showAddAccountBox" class="full-width small-font">
				<div class="flex-container-col border full-width">
					<div class="flex-container-row align-center">
						<div class="label">
							Account Name
						</div>
						<div class="flex-grow padded-left-right">
							<mat-form-field class="full-width">
								<input matInput placeholder="Account Name" [(ngModel)]="newAccountName">
							</mat-form-field>
						</div>
					</div>
					<div class="flex-container-row align-center">
						<div class="label">
							Payment Method
						</div>
						<div class="inline-block flex-grow">
							<mat-radio-group [(ngModel)]="accountType">
								<mat-radio-button class="radio-button padded" [value]="CHARTFIELD">Chartfield</mat-radio-button>
								<mat-radio-button class="radio-button padded" [value]="PO">PO</mat-radio-button>
								<mat-radio-button *ngIf="showCreditCard" class="radio-button padded" [value]="CREDIT_CARD">Credit Card</mat-radio-button>
							</mat-radio-group>
						</div>
						<div class="padded">
							<button mat-raised-button class="minimize" (click)="onAddAccountConfirmClicked()">Add account</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-grow">
		</div>
	</div>
	<div class="vertical-spacer full-width">
	</div>
	<div class="flex-grow full-width">
		<div #oneEmWidth class="no-height single-em"></div>
		<div class="flex-container-col full-width full-height">
			<div class="full-width flex-grow small-font">
				<ag-grid-angular
						class="ag-theme-fresh small-font full-width full-height"
						[context]="context"
						[singleClickEdit]="true"
						[enableSorting]="true"
						[enableColResize]="true"
						(cellEditingStopped)="markAsDirty()"
						(cellValueChanged)="translateChangesOntoAccountRecords($event)"
						(gridSizeChanged)="onGridSizeChanged($event)"
						(gridReady)="onChartfieldGridReady($event)">
				</ag-grid-angular>
			</div>
			<div class="vertical-spacer full-width">
			</div>
			<div class="full-width flex-grow small-font">
				<ag-grid-angular
						class="ag-theme-fresh small-font full-width full-height"
						[context]="context"
						[singleClickEdit]="true"
						[enableSorting]="true"
						[enableColResize]="true"
						(cellEditingStopped)="markAsDirty()"
						(gridSizeChanged)="onGridSizeChanged($event)"
						(gridReady)="onPoGridReady($event)">
				</ag-grid-angular>
			</div>
			<div *ngIf="showCreditCard" class="vertical-spacer full-width">
			</div>
			<div *ngIf="showCreditCard" class="full-width flex-grow small-font">
				<ag-grid-angular
						class="ag-theme-fresh small-font full-width full-height"
						[context]="context"
						[singleClickEdit]="true"
						[enableSorting]="true"
						[enableColResize]="true"
						(cellEditingStopped)="markAsDirty()"
						(gridSizeChanged)="onGridSizeChanged($event)"
						(gridReady)="onCreditCardGridReady($event)">
				</ag-grid-angular>
			</div>
		</div>
	</div>
</div>

