hr {
    width: 98%;
}

.i-margin {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.i-color-blue {
    color: var(--bluewarmvivid-medlight);
}

.i-color-red {
    color: var(--pure-red);
}

.centered-text {
    text-align: center;
}

.grabbable {
    cursor: move;
    cursor: grab;
}

.grabbed {
    cursor: move;
    cursor: grabbing;
}

.force-flex-container-row {
    display: flex !important;
}

.extra-padded {
    padding: 0.6em 0.9em 0.6em 0.9em;
}

.large-size {
    font-size: large;
}

.primary-action {
    font-size: large;
}

.secondary-action {
    font-size: large;
}

.message {
    color: var(--bluecool-darkest);
}
