.grabbable {
    cursor: move;
    cursor: grab;
}

.grabbed {
    cursor: move;
    cursor: grabbing;
}

.exit {
    max-width: 20px;
    cursor: pointer;
}

.force-flex-container-row {
    display: flex !important;
}

.i-class {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.mat-dialog-content {
    max-height: 100vh;
    max-width: 100vw;
}
