<div class="full-height full-width flex-container-col">
    <div class="full-width generic-dialog-header-colors no-margin no-padding">
        <div #topmostLeftmost mat-dialog-title (mousedown)="onMouseDownHeader($event)"
             class="force-flex-container-row align-center full-width padding {{ movingDialog ? 'grabbed' : 'grabbable' }}">
            <div class="flex-container-row align-center padded">
                <img class="icon" *ngIf="icon" [src]="icon">
                <h3 style="margin:0;">{{this.title ? this.title : this.dialogContent.innerTitle}}</h3>
            </div>
            <div class="flex-grow"></div>
            <div class="padded" (click)="onClose()">
                <img class="exit" [src]="this.constService.ICON_BLUE_EXIT">
            </div>
        </div>
    </div>
    <mat-dialog-content class="flex-grow no-margin no-padding">
        <div class="flex-grow full-height full-width">
            <ndc-dynamic [ndcDynamicComponent]="this.dialogContentBluePrint"
                         [ndcDynamicInputs]="this.data"
                         (ndcDynamicCreated)="createdComponent($event)">
            </ndc-dynamic>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions *ngIf="actions && actions.length > 0"
            class="flex-container-row justify-flex-end no-margin no-padding generic-dialog-footer-colors">
        <div *ngFor="let action of actions">
            <save-footer *ngIf="action.type === type.PRIMARY;else secondary"
                         [actionType]="action.type"
                         [icon]="action.icon"
                         (saveClicked)="executeAction(action)"
                         [disableSave]="this.dialogContent.primaryDisable(action)"
                         [dirty]="this.dialogContent.dirty()"
                         [name]="action.name"
                         [showSpinner]="this.dialogContent.showSpinner">
            </save-footer>
            <!-- to avoid issue with multiple spinner or dirty notes-->
            <ng-template #secondary>
                <save-footer [actionType]="action.type"
                             (saveClicked)="executeAction(action)"
                             [icon]="action.icon"
                             [disableSave]="this.dialogContent.secondaryDisable(action)"
                             [name]="action.name">

                </save-footer>
            </ng-template>
        </div>
    </mat-dialog-actions>
</div>
