<div mat-dialog-title class="not-rendered">
<!--<div mat-dialog-title>-->
</div>
<div mat-dialog-content class="full-height padded">
    <div class="full-width full-height t">
        <div class="tr">
            <div class="td vertical-center">
                <mat-spinner [hidden]="false" strokeWidth="{{strokeWidth}}" [diameter]="diameter"></mat-spinner>
            </div>
            <div class="td vertical-center">
                {{message}}
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions class="not-rendered">
<!--<div mat-dialog-actions>-->
</div>