<div class="full-width full-height flex-container-col max-height">
    <div class="full-width padded flex-container-row justify-space-between">
        <div>
            <button mat-button color="primary" [matTooltip]="autoToolTip"  (click)="autoLinkSample()">
                <img class="icon" [src]="constService.ICON_TABLE_LINK" > Auto Link Files
            </button>
        </div>
        <div>
            <button mat-button color="primary"
                    [disabled]="!this.isAddActive()"
                    (click)="add()"  >
                <img [src]="constService.SEGMENT_IMPORT" >
                Link Files
            </button>
            <button mat-button color="primary"  [disabled]="!allowMakeSeqRunFolder" class="icon"
                    matTooltip="Create a new folder for organizing experiment files"
                    (click)="newSeqRunFolder($event)" >
                <img [src]="constService.ICON_FOLDER_ADD" >
                New Seq Folder
            </button>
            <button mat-button color="primary" class="icon"
                    matTooltip="Create a new folder for organizing samples" (click)="newSampleGroupFolder($event)">
                <img [src]="constService.ICON_FOLDER_ADD">
                New Sample Folder
            </button>
            <button mat-button color="primary" class="icon"
                    [disabled]="!this.sampleFileSelectedNode"
                    (click)="remove()" >
                <img [src]="constService.ICON_FOLDER_DELETE" >
                Remove/Unlink
            </button>


        </div>

    </div>

    <div class="full-width flex-container-row flex-grow overflow-auto">
        <as-split > <!-- split  mat-tabs have issues -->
            <as-split-area [size]="this.expTreeSplitSize">
                <div class="full-width full-height max-height flex-container-col border-subtle"><!-- start tree container -->
                    <div class="full-width flex-grow left-right-padded overflow-auto">
                        <div  class="full-height full-width border-subtle">
                            <tree-root *ngIf="showTree && experimentFiles.length > 0 "  #experimentFileTree
                                       (activate)="experimentFileTreeOnSelect($event)"
                                       (deactivate)="experimentFileTreeOnUnselect($event)"
                                       (moveNode)="onMove($event)"
                                       (initialized)="onTreeInit($event)"
                                       [nodes]="experimentFiles"
                                       [options]="expFileOpts">
                                <ng-template #treeNodeTemplate let-node let-index="index">
                                    <div class="truncate">
                                        <img *ngIf="node.data.icon" class="icon" src="{{ node.data.icon }}" height="16" width="16">
                                        <span> {{ node.data.displayName }} </span>
                                    </div>
                                </ng-template>
                            </tree-root>
                        </div>
                    </div>
                    <div class="full-width padded">
                        <div class="flex-container-row full-height small-font" >
                            <button mat-button (click)="expandFolders()" > Expand Folders </button>
                            <button mat-button (click)="collapseFolders()" > Collapse Folders </button>
                        </div>
                    </div>

                </div> <!-- end tree container are you working-->

            </as-split-area>


            <as-split-area  [size]="100 - this.expTreeSplitSize">
                <div class="full-width full-height max-height flex-container-col border-subtle">
                    <div class="full-width flex-grow left-right-padded overflow-auto">
                        <ag-grid-angular class="ag-theme-balham full-height full-width"
                                         (gridReady)="this.onGridReady($event)"
                                         (gridSizeChanged)="this.onGridSizeChanged($event)"
                                         (rowDragEnd)="onRowDragEnd($event)"
                                         [rowDeselection]="true"
                                         [groupDefaultExpanded]="true"
                                         (rowClicked)="selectedGridRow($event)"
                                         [getNodeChildDetails]="this.getNodeChildDetails"
                                         [enableColResize]="true"
                                         [rowData]="this.linkedSampleRowData">
                        </ag-grid-angular>
                    </div>
                </div>
            </as-split-area>

        </as-split>
    </div>
    <div class="flex-container-row align-center">
        <div class="flex-grow">
            <save-footer (saveClicked)="requestSave()" [dirty]="formGroup.dirty"></save-footer>
        </div>
        <button mat-button color="primary" (click)="requestToCloseDialog()" >  Close </button>

    </div>
</div>


