.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-overflow {
    overflow: hidden;
}

.secondary-action {
    background-color: var(--sidebar-footer-background-color);
    font-weight: bolder;
    color: var(--bluewarmvivid-medlight);
    border: var(--bluewarmvivid-medlight) solid 1px;
}

.file-browser { height: 29.15em; }
