<input type="file" #file style="display: none" (change)="onFilesAdded()" multiple />
<div class="full-height full-width flex-container-col">
    <!-- This is the content of the dialog, containing a list of the files to upload -->
    <div class="flex-container-row  spaced-children-margin " style="padding: 0.5em" *ngIf="!this.manageData.isFDT">
        <button mat-button color="primary" (click)="addFile()" > <img [src]="constService.ICON_ADD"> Choose files </button>
        <button mat-button color="primary" (click)="removeFile()" >
            <img [src]="constService.ICON_DELETE"> Remove
        </button>
        <button mat-button color="primary" (click)="removeAllFiles()" > <img [src]="constService.ICON_CROSS"> Clear All </button>
        <context-help class="align-items-end" name="uploadhelp" title="Upload Help" label="Upload Help" [isEditMode]="this.secAdvisor.isAdmin" >
        </context-help>


    </div>


    <div class="flex-grow full-width full-height padded" *ngIf="!manageData.isFDT; else fdtInstructions">
        <ag-grid-angular style="width: 100%; height: 36em;" class="ag-theme-balham"
                         [columnDefs]="columnDefs"
                         [rowSelection]="'single'"
                         [enableSorting]="true"
                         [enableColResize]="true"
                         [rowDeselection]="true"
                         (rowSelected)="selectedRow($event)"
                         (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </div>
    <ng-template #fdtInstructions>
        <div class="flex-grow full-width full-height padded" [innerHTML]="this.constService.UPLOAD_FILE_FDT_INFO"> </div>
    </ng-template>

    <mat-dialog-actions class="flex-container-row justify-flex-end no-margin no-padding generic-dialog-footer-colors">
        <div class="flex-grow double-padded" *ngIf="!this.manageData.isFDT">
            <mat-progress-bar  mode="determinate" [value]="progressVal"> </mat-progress-bar>
        </div>
        <div class="double-padded">
            <button mat-raised-button [disabled]="this.manageData.isFDT ? !allowFDTButton : rowData.length === 0"
                    color="primary" class="primary-action" (click)="upload()">
                <img [src]="constService.ICON_UPLOAD"> {{primaryButtonText}}
            </button>
            <button mat-raised-button color="accent" class="secondary-action" mat-dialog-close>Cancel</button>
        </div>
    </mat-dialog-actions>
</div>
