<div class="flex-container-col full-width full-height">
    <div class="full-height body-size light-background padded-bottom">
        <mat-tab-group [(selectedIndex)]="selectedTabIndex" class="full-height">

            <mat-tab label="New Search" class="full-height" #newSearchTab >
                <div class="full-width fixed-height padding-top">

                    <div class="t full-width full-height">
                        <div class="tr full-width small-font">
                            <div class="td mat-input-label">General Keywords</div>
                            <div class="td">
                                <mat-form-field class="full-width">
                                    <input  matInput
                                            placeholder="Search"
                                            [(ngModel)]="searchText">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="tr full-width">
                            <div class="td horizontal-rule-label-container">
                                <div class="full-width horizontal-rule-label">
                                </div>
                            </div>
                            <div class="td horizontal-rule-container">
                                <div class="full-width horizontal-rule">
                                </div>
                            </div>
                        </div>
                        <div class="tr full-width">
                            <div class="td">
                                <div class="row-vertical-spacing-a">
                                </div>
                            </div>
                        </div>
                        <div class="tr full-width small-font">
                            <div class="td label">
                                Search Category
                            </div>
                            <div class="td">
                                <mat-radio-group [(ngModel)]="searchType" (change)="onSearchTypeChanged()">
                                    <mat-radio-button class="radio-button" [value]="ALL_OBJECTS">All Objects</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="EXPERIMENTS">Experiments</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="ANALYSES"   >Analyses</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="PROTOCOLS"  >Protocols</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="DATA_TRACKS">Data Tracks</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="TOPICS"     >Topics</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="tr full-width">
                            <div class="td">
                                <div class="row-vertical-spacing-b">
                                </div>
                            </div>
                        </div>
                        <div class="tr full-width full-height small-font">
                            <div class="td label">Field Search</div>
                            <div class="td">
                                <div class="grid-container full-height">
                                    <ag-grid-angular
                                            style="font-size:x-small; width:100%; height:100%;"
                                            class="ag-theme-fresh"
                                            [context]="context"
                                            [singleClickEdit]="true"
                                            [enableSorting]="true"
                                            [enableColResize]="true"
                                            [suppressNoRowsOverlay]="true"
                                            [stopEditingWhenGridLosesFocus]="true"
                                            (gridSizeChanged)="onGridSizeChanged($event)"
                                            (gridReady)="onNewSearchGridReady($event)">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </div>
                        <div class="tr full-width">
                            <div class="td">
                                <div class="row-vertical-spacing-a">
                                </div>
                            </div>
                        </div>
                        <div class="tr full-width full-height small-font">
                            <div class="td label"></div>
                            <div class="td">
                                <mat-radio-group [(ngModel)]="matchType">
                                    <mat-radio-button class="radio-button" [value]="MATCH_ALL_TERMS">Match ALL terms</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="MATCH_ANY_TERM">Match ANY term</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-tab>

            <mat-tab label="Search Results" class="full-height" #searchResultsTab >
                <div class="full-width fixed-height padding-top">
                    <div class="flex-container full-width full-height">
                        <div class="full-width button-bar">
                            <button mat-button class="inline-block" (click)="onGridAllObjectsButtonClicked()">
                                All Results ({{numberOfAllObjectResults}} hit{{numberOfAllObjectResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onGridExperimentButtonClicked()">
                                Experiments ({{numberOfExperimentResults}} hit{{numberOfExperimentResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onGridAnalyisButtonClicked()">
                                Analysis ({{numberOfAnalysisResults}} hit{{numberOfAnalysisResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onGridProtocolButtonClicked()">
                                Protocols ({{numberOfProtocolResults}} hit{{numberOfProtocolResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onGridDataTrackButtonClicked()">
                                Data Tracks ({{numberOfDataTrackResults}} hit{{numberOfDataTrackResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onGridTopicButtonClicked()">
                                Topics ({{numberOfTopicResults}} hit{{numberOfTopicResults == 1 ? '' : 's'}})
                            </button>
                        </div>
                        <div class="flex-fill full-width">
                            <div class="grid-container full-width full-height">
                                <ag-grid-angular
                                        style="font-size:x-small; width:100%; height:100%;"
                                        class="ag-theme-fresh"
                                        [context]="context"
                                        [singleClickEdit]="true"
                                        [enableSorting]="true"
                                        [enableColResize]="true"
                                        [suppressNoRowsOverlay]="true"
                                        (rowDoubleClicked)="onRowDoubleClicked($event)"
                                        (gridSizeChanged)="onGridSizeChanged($event)"
                                        (gridReady)="onSearchResultsGridReady($event)">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Search Results (Tree)" class="full-height" #searchResultsTab >
                <div class="full-width fixed-height maximum-size padding-top">
                    <div class="flex-container full-width full-height">
                        <div class="full-width button-bar">
                            <button mat-button class="inline-block" (click)="onTreeExperimentButtonClicked()">
                                Experiments ({{numberOfExperimentResults}} hit{{numberOfExperimentResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onTreeAnalyisButtonClicked()">
                                Analysis ({{numberOfAnalysisResults}} hit{{numberOfAnalysisResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onTreeProtocolButtonClicked()">
                                Protocols ({{numberOfProtocolResults}} hit{{numberOfProtocolResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onTreeDataTrackButtonClicked()">
                                Data Tracks ({{numberOfDataTrackResults}} hit{{numberOfDataTrackResults == 1 ? '' : 's'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block" (click)="onTreeTopicButtonClicked()">
                                Topics ({{numberOfTopicResults}} hit{{numberOfTopicResults == 1 ? '' : 's'}})
                            </button>
                        </div>
                        <div class="flex-fill full-width maximum-size">
                            <div class="full-width full-height maximum-size box-border">
                                <tree-root #searchResultsTree
                                           [nodes]="treeNodes"
                                           [options]="treeOptions"
                                           (activate)="treeOnSelect($event)">
                                    <ng-template #treeNodeTemplate let-node let-index="index">
                                        <div style="display: table-cell; vertical-align: middle;" class="tree-node-font">
                                            <img src="{{node.data.icon}}" alt="" class="tree-node-icon icon">
                                            <span style="padding-top: 0.2em;">{{ node.data.name }}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template #loadingTemplate></ng-template>
                                </tree-root>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="flex-container-row justify-space-between generic-dialog-footer-colors">
        <div class="flex-container-row" *ngIf="selectedTabIndex === 0">
            <save-footer [icon]="this.constService.ICON_MAGNIFIER" (saveClicked)="onClickSearchButton()" name="Search"></save-footer>
            <save-footer (saveClicked)="onClickClearButton()" name="Clear"></save-footer>
        </div>
        <div class="flex-container-row" *ngIf="selectedTabIndex === 1">
            <div class="flex-grow"></div>
        </div>
        <div class="flex-container-row" *ngIf="selectedTabIndex === 2">
            <save-footer (saveClicked)="onClickExpandButton()" name="Expand Tree"></save-footer>
            <save-footer (saveClicked)="onClickCollapseButton()" name="Collapse Tree"></save-footer>
        </div>
        <div class="justify-flex-end">
            <save-footer [actionType]="actionType.SECONDARY" (saveClicked)="onClickCancelButton()" name="Cancel"></save-footer>
        </div>
    </div>
</div>
