.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-right-padded {
    padding-left:  0.3em;
    padding-right: 0.3em;
}

.sample-browser-header {
    width: 20em;
}

.drag-hint {
    font-style: italic;
    font-size: small;
}
