<h6 mat-dialog-title><img src="../../assets/delete.png">Delete Sequence Lane</h6>
<mat-dialog-content>
    <div>
        You are about to delete {{laneLength}} sequence {{laneString}}. Continue?
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="!showSpinner" mat-button (click)="delete()">Yes</button>
    <button *ngIf="!showSpinner" mat-button mat-dialog-close>No</button>
    <mat-spinner *ngIf="showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
</mat-dialog-actions>