<div class="flex-container-col full-height full-width small-font padded">
    <div class="flex-container-row spaced-children-margin">
        <mat-form-field>
            <input matInput placeholder="Barcode" [formControl]="this.barcodeFC">
            <mat-error *ngIf="this.barcodeFC.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Run #" [formControl]="this.runFC">
            <mat-error *ngIf="this.runFC.hasError('required')">Required</mat-error>
        </mat-form-field>
        <div class="flex-grow">
        </div>
        <date-picker [(ngModel)]="this.flowCell.createDate" placeholder="Cluster Gen Date" (change)="onChangeCreateDate()">
        </date-picker>
        <date-picker [(ngModel)]="this.flowCell.lastCycleDate" placeholder="Seq Run Complete Date" (change)="onChangeLastCycleDate()">
        </date-picker>
    </div>
    <div class="flex-container-row spaced-children-margin">
        <custom-combo-box placeholder="Instrument"
                          displayField="instrument"
                          customOptionClasses="small-font padded inline-block full-width"
                          [formControl]="this.instrumentFC"
                          [options]="this.instrumentList">
        </custom-combo-box>
        <custom-combo-box placeholder="Protocol"
                          displayField="name"
                          class="protocol-width"
                          customOptionClasses="small-font padded inline-block full-width"
                          [formControl]="this.protocolFC"
                          [options]="this.sequenceProtocolsList">
        </custom-combo-box>
    </div>
    <div class="flex-container-row align-baseline padded">
        <div>
            Flow Cell Lane
        </div>
        <div class="flex-grow">
        </div>
        <div>
            <button mat-raised-button class="minimize" (click)="removeChannel($event)" [disabled]="!channel">
                <mat-icon>remove</mat-icon>
                Remove Lane
            </button>
        </div>
    </div>
    <div class="flex-grow">
        <ag-grid-angular class="ag-theme-balham full-width full-height"
                         [rowData]="flowCellChannels"
                         [columnDefs]="flowCellColDefs"
                         [rowSelection]="'single'"
                         [singleClickEdit]="true"
                         [stopEditingWhenGridLosesFocus]="true"
                         (gridReady)="onAssmGridReady($event)"
                         (rowDoubleClicked)="launchAddSample($event)"
                         (cellValueChanged) = "onCellValueChanged($event)"
                         [enableSorting]="true"
                         (rowSelected)="selectedRow($event)"
                         [rowClassRules]="this.workflowService.assmGridRowClassRules"
                         [enableFilter]="true"
                         [enableColResize]="true">
        </ag-grid-angular>
    </div>
</div>
