<div class="flex-column-container-workflow">
    <h6 mat-dialog-title>Edit Flow Cell {{flowCell.number}}</h6>
    <div class="flex-row-container">
        <mat-form-field class="formField">
            <input matInput placeholder="Barcode" [formControl]="this.barcodeFC">
            <mat-error *ngIf="this.barcodeFC.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field class="formField">
            <input matInput placeholder="Run #" [formControl]="this.runFC">
            <mat-error *ngIf="this.runFC.hasError('required')">Required</mat-error>
        </mat-form-field>
        <mat-form-field style="margin: 0 0.5%">
            <input matInput [matDatepicker]="createDatePicker" placeholder="Cluster Gen Date" [formControl]="this.createDateFC">
            <mat-datepicker-toggle matSuffix [for]="createDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #createDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="margin: 0 0.5%">
            <input matInput [matDatepicker]="seqRunDatePicker" placeholder="Seq Run Complete Date" [formControl]="this.seqRunCompleteDateFC">
            <mat-datepicker-toggle matSuffix [for]="seqRunDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #seqRunDatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="flex-row-container">
        <div class="formField">
            <custom-combo-box placeholder="Instrument" [options]="this.instrumentList"
                              displayField="instrument" [formControl]="this.instrumentFC">
            </custom-combo-box>
        </div>
        <div class="formField">
            <custom-combo-box placeholder="Protocol" [options]="this.sequenceProtocolsList"
                              displayField="name" [formControl]="this.protocolFC">
            </custom-combo-box>
        </div>
    </div>
    <div class="flex-row-container">
        <div>
            Flow Cell Channels
        </div>
        <div>
            <button mat-button (click)="removeChannel($event)" [disabled]="!channel"><mat-icon>remove</mat-icon>Remove Channel</button>
        </div>
    </div>
    <div class="flex-grow">
        <ag-grid-angular class="ag-theme-balham full-width full-height"
                         [rowData]="flowCellChannels"
                         [columnDefs]="flowCellColDefs"
                         [rowSelection]="'single'"
                         [singleClickEdit]="true"
                         [stopEditingWhenGridLosesFocus]="true"
                         (gridReady)="onAssmGridReady($event)"
                         (rowDoubleClicked)="launchAddSample($event)"
                         (cellValueChanged) = "onCellValueChanged($event)"
                         [enableSorting]="true"
                         (rowSelected)="selectedRow($event)"
                         [rowClassRules]="this.workflowService.assmGridRowClassRules"
                         [enableFilter]="true"
                         [enableColResize]="true">
        </ag-grid-angular>
    </div>
    <mat-dialog-actions class="justify-flex-end">
        <button mat-button *ngIf="!showSpinner" [disabled]="!allFG.dirty||!allFG.valid" (click)="saveFlowCell()"><mat-icon>save</mat-icon>Save</button>
        <button mat-button *ngIf="!showSpinner" mat-dialog-close><mat-icon>cancel</mat-icon>Cancel</button>
        <mat-spinner *ngIf="showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
    </mat-dialog-actions>
</div>
