<div class="flex-container-col full-height full-width small-font">
    <as-split (dragEnd)="sizeGridColumn($event)" style="background-color: white">
        <as-split-area size="50">
            <div class="flex-container-col full-height full-width padded">
                <div class="flex-row-container">
                    <img [src]="'./assets/DNA_diag.png'" height="16" width="16" style="margin-top: .65em">
                    <mat-label style="margin-left: .4em;margin-top: .4em;">{{label}}</mat-label>
                </div>
                <div class="fill-flex-row">
                </div>
                <div class="flex-row-container-margin">
                    Assembled Flow Cells
                    <span class="normal-text">&nbsp;{{assmFlowCellNumber}}</span>
                </div>
                <div class="flex-grow">
                    <ag-grid-angular class="ag-theme-balham full-height full-width"
                                     [gridOptions]="gridOptions"
                                     [rowData]="workingWorkItemList"
                                     (rowDataChanged)="this.onNotifyGridRowDataChanged($event)"
                                     (rowSelected)="selectedRow($event)"
                                     [rowSelection]="'single'"
                                     (gridReady)="onGridReady($event)"
                                     [enableSorting]="true"
                                     [rowClassRules]="this.workflowService.assmGridRowClassRules"
                                     [enableFilter]="true"
                                     [enableColResize]="true">
                    </ag-grid-angular>
                </div>
            </div>
        </as-split-area>
        <as-split-area size="50">
            <form [formGroup]="this.allFG" class="flex-container-col full-height full-width padded">
                <div class="flex-container-row" style="justify-content: flex-end" >
                    <button mat-button matTooltip="Refresh worklist"(click)="refreshWorklist($event)"><img class="icon" [src]="'./assets/action_refresh.gif'">Refresh</button>
                </div>
                <div class="flex-row-container-itailic">
                    Flow Cell to Finalize
                    <span class="normal-text">&nbsp;{{flowCellNumber}}</span>
                </div>
                <div class="flex-container-row spaced-children-margin">
                    <mat-form-field >
                        <input matInput placeholder="Barcode" (change)="createFlowCellFileName()" [formControl]="this.barcodeFC">
                        <mat-error *ngIf="this.barcodeFC.hasError('required')">field is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Run #" (change)="createFlowCellFileName()" [formControl]="this.runFC">
                        <mat-error *ngIf="this.runFC.hasError('required')">field is required </mat-error>
                        <mat-error *ngIf="this.runFC.hasError('pattern')"> field only accepts numbers </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="createDatePicker" placeholder="Create Date" (change)="createFlowCellFileName()" [formControl]="this.createDateFC">
                        <mat-datepicker-toggle matSuffix [for]="createDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #createDatePicker disabled="false"></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="flex-container-row spaced-children-margin">
                    <div>
                        <custom-combo-box placeholder="Instrument" [options]="this.instrumentList" (optionSelected)="createFlowCellFileName()"
                                          displayField="instrument" [formControl]="this.instrumentFC">
                        </custom-combo-box>
                    </div>
                    <div style="width:25em;">
                        <custom-combo-box placeholder="Protocol" [options]="this.filteredProtocolsList" (optionSelected)="createFlowCellFileName()"
                                          displayField="name" [formControl]="this.protocolFC">
                        </custom-combo-box>
                    </div>
                </div>
                <div class="flex-row-container-margin">
                    Filename
                    <span class="normal-text">&nbsp;{{flowCellRunFolder}}</span>
                </div>
                <div class="flex-grow">
                    <ag-grid-angular  class="ag-theme-balham full-height full-width"
                                      [rowData]="assmItemList"
                                      (rowDataChanged)="this.onNotifyGridRowDataChanged($event)"
                                      [rowSelection]="'single'"
                                      (gridReady)="onAssmGridReady($event)"
                                      [enableSorting]="true"
                                      [enableFilter]="true"
                                      (cellValueChanged) = "onCellValueChanged($event)"
                                      [enableColResize]="true"
                                      [rowClassRules]="this.workflowService.assmGridRowClassRules">
                    </ag-grid-angular>
                </div>

            </form>
        </as-split-area>
    </as-split>
    <div class="flex-container-row justify-center justify-flex-end">
        <div class="flex-grow">
            <save-footer (saveClicked)="save()"
                         [disableSave]="!this.allFG.valid||this.assmItemList.length===0"
                         [dirty]="this.allFG.dirty"
                         [showSpinner]="this.showSpinner">
            </save-footer>
        </div>
        <button mat-button [disabled]="this.selectedFlowCell.length===0"
                matTooltip="Delete selected Flow Cell" (click)="deleteFlowCell($event)">
            <img [src]="'./assets/delete.png'">Delete
        </button>

    </div>
</div>

