.large-max-width {
    max-width: 40em;
}

.assembly-message {
    color: var(--action-link-color);
}

.date-width {
    width: 10em;
}

.protocol-width {
    width: 30em;
}

.run-width {
    width: 5em;
}

.children-margin-right > *:not(:last-child) {
    margin-right: 1em;
}

.min-lab-width {
    min-width: 3em;
}

.min-request-category-width {
    min-width: 3em;
}
