<div class="flex-container-col full-width full-height">
    <div class="flex-container-row">
        <img src="../../assets/flask.png" height="16" width="16" style="margin-top: .65em">
        <mat-label style="margin-left: .4em;margin-top: .4em;">{{ label }}</mat-label>
        <mat-label style="justify-content: flex-end;margin-left: 40em;margin-top: .4em;">{{ requestIds.length > 0 ? requestIds.length - 1  : 0 }}
            requests in worklist
        </mat-label>

    </div>
    <div class="flex-container-row">
        <mat-form-field class="formField">
            <input #requestInput matInput placeholder="Request #" aria-label="Request #" [matAutocomplete]="autoRequest"
                   [(ngModel)]="workItem" (keyup.enter)="chooseFirstRequestOption()"
                   (keyup)="highlightFirstRequestOption($event)">
            <mat-autocomplete #autoRequest="matAutocomplete">
                <mat-option (onSelectionChange)="selectRequestOption($event)"
                            *ngFor="let request of filterRequests(this.workItem)"
                            [value]="request.requestNumber">{{request.requestNumber}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="formField">
            <mat-select (selectionChange)="selectCodeOption($event)" [(ngModel)]="codeStepNext" placeholder="Experiment Type" [compareWith]="compareByID">
                <mat-option *ngFor="let code of this.codeStepArray"
                            [value]="code.codeStepNext">{{code.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="flex-grow">
        <ag-grid-angular class="ag-theme-balham full-height"
                         [rowData]="workingWorkItemList"
                         (rowDataChanged)="this.onNotifyGridRowDataChanged($event)"
                         (gridReady)="onGridReady($event)"
                         [enableSorting]="true"
                         (cellValueChanged)="onCellValueChanged($event)"
                         [enableFilter]="true"
                         [stopEditingWhenGridLosesFocus]="true"
                         [rowClassRules]="this.workflowService.assmGridRowClassRules"
                         [enableColResize]="true">
        </ag-grid-angular>
    </div>
    <div class="flex-container-row justify-center">
        <button mat-button  matTooltip="Refresh worklist" (click)="refreshWorklist($event)">
            <img src="../../assets/action_refresh.gif">Refresh
        </button>
        <save-footer style="width: 100%" (saveClicked)="areAandBTagsUnique()"
                     [dirty]="this.dirty"
                     [showSpinner]="this.showSpinner">
        </save-footer>
    </div>
</div>
