<div class="flex-column-container-workflow">
    <div class="flex-row-container">
        <img src="../../assets/data-accept.png" height="16" width="16" style="margin-top: .5em">
        <mat-label style="margin-left: .4em;margin-top: .4em;">{{label}}</mat-label>
        <mat-label style="justify-content: flex-end;margin-left: 40em;margin-top: .4em;">{{requestIds.length-1}} requests in worklist</mat-label>

    </div>
    <div class="flex-row-container">

        <mat-form-field class="formField">
            <input #requestInput matInput placeholder="Request #" aria-label="Request #" [matAutocomplete]="autoRequest"
                   [(ngModel)]="workItem" (keyup.enter)="chooseFirstRequestOption()" (keyup)="highlightFirstRequestOption($event)">
            <mat-autocomplete #autoRequest="matAutocomplete">
                <mat-option (onSelectionChange)="selectRequestOption($event)" *ngFor="let request of filterRequests(this.workItem)" [value]="request.requestNumber">{{request.requestNumber}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="formField">
            <input matInput #coreFacility placeholder="Core facility" aria-label="Core" [matAutocomplete]="autoCore"
                   [(ngModel)]="core" (keyup.enter)="chooseFirstCoreOption()" (keyup)="highlightFirstCoreOption($event)">
            <mat-autocomplete #autoCore="matAutocomplete" [displayWith]="displayCore">
                <mat-option (onSelectionChange)="selectCoreOption($event)" *ngFor="let cor of filterCores()" [value]="cor">{{cor.display}}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="row-one" style="width: 100%;height: 90%">
        <ag-grid-angular id="userTable" style="width: 100%;" class="ag-fresh"
                         [gridOptions]="gridOptions"
                         [rowData]="workingWorkItemList"
                         [columnDefs]="columnDefs"
                         (rowDataChanged)="this.onNotifyGridRowDataChanged($event)"
                         [rowSelection]="rowSelection"
                         (rowSelected)="selectedRow($event)"
                         (gridReady)="onGridReady($event)"
                         [enableSorting]="true"
                         (cellValueChanged) = "onCellValueChanged($event)"
                         [enableFilter]="true"
                         [rowClassRules]="this.workflowService.assmGridRowClassRules"
                         [enableColResize]="true">
        </ag-grid-angular>
    </div>
    <div class="flex-row-container">
        <save-footer style="width: 100%" (saveClicked)="save()"
                 [dirty]="this.dirty"
                 [showSpinner]="this.showSpinner">
        </save-footer>
    </div>
</div>
