    <div class="double-padded-left-right">

        <p>
            To comply with the Universities more secure login process you must change your password.
        </p>
        <p>
            Passwords should be 10-25 characters long, contain no spaces
            or slashes, and contain one from each of the following:
            lowercase letter, uppercase letter, digit, and symbol.
        </p>
    </div>
    <div class="full-width">
        <form class="changeyourpassword-form" [formGroup]="_changeyourpasswordForm">
            <div class="full-width">
                <div>
                    <custom-input [form]="_changeyourpasswordForm"
                                  [formControlNameToUse]="'password'"
                                  [label]="'New Password'"
                                  [type]="'password'"
                                  [placeholder]="' '"
                                  [roundTop]="false"
                                  [roundBottom]="true"
                                  [noTopBorder]="true" >
                    </custom-input>
                </div>
                <div>
                    <custom-input [form]="_changeyourpasswordForm"
                                  [formControlNameToUse]="'passwordConfirm'"
                                  [label]="'Confirm Password'"
                                  [type]="'password'"
                                  [placeholder]="' '"
                                  [roundTop]="false"
                                  [roundBottom]="true"
                                  [noTopBorder]="true" >
                    </custom-input>
                </div>
            </div>
            <div class="full-width vertical-spacer">
            </div>
            <button  class="bold primary-button padded align-right"
                     (click)="this.save()">Save
            </button>
            <div   class="full-width vertical-spacer">
            </div>
        </form>
    </div>

