
.primary-button {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 14pt;

  color: var(--white-lightest);
  border-radius: 6px;
  border-color: var(--login-btn-border);

  background-image:linear-gradient(60deg,green,green 40%,#1a1 60%,green 90%,green);
  animation: anim 8s linear infinite alternate;
  background-position: -200px 0;
}

.primary-button:focus {
  outline: none;
}

.primary-button:active {
  border-color: var(--green-darker);
  border-radius: 6px;
}

@keyframes anim{
  0%{
    background-position: -300px 0;
  }
  50%{
    background-position: 0 0;
  }
  100%{
    background-position: 300px 0;
  }
}

.secondary-button {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 12pt;
  color: var(--black-dark);
  background-color: var(--login-section-bg);
  border-radius: 4px
}

.container {
  width: 24em;
  max-width: 24em;

  border: solid 1px var(--grey-lighter);
  padding: 1.25em 2.5em;
}

.background { background-color: var(--login-background); }
.foreground {
  background-color: var(--login-foreground);
  border-radius: 10px;

  box-shadow: rgba(0,0,0,0.3) 5px 5px 5px;
}

.minimize { height: fit-content; }

.error { color: var(--red-darker); }

.padded { padding: 0.4em; }

.major-padded-top   { padding-top:   1.5em; }
.major-padded-left  { padding-left:  1.5em; }
.major-padded-right { padding-right: 1.5em; }

.horizontal-centered { text-align: center; }

.right-align { text-align: right; }

.vertical-spacer   { height: 10px; }
.horizontal-spacer { width:  10px; }

.major-vertical-spacer { min-height: 3em; }

.major-padding { padding: 15px; }

.iframe {
  width: 100%;
  min-width: 304px;
  max-width: 620px;
  height: 440px;
}

input.username {
  color: var(--black-darkest);
  background-color: var(--white-lightest);
  padding: 0.7em;
  border: 1px solid var(--grey-lighter);
  border-radius: 4px 4px 0 0;
}

input.password {
  color: var(--black-darkest);
  background-color: var(--white-lightest);
  padding: 0.7em;
  border: 1px solid var(--grey-lighter);
  border-top: 0 solid var(--grey-lighter);
  border-radius: 0 0 4px 4px;
}

.login-form {
  transition: all .3s;
}

input[type="text"]:focus, input[type="password"]:focus {
  background-color: var(--white-lightest);
  transition: all .3s;
}

input[type="text"]:focus+label {
  font-size: 8pt;
  top: -3.5em;
  left: 0.5em;
  z-index: 5;
  position: relative;
  background-color: var(--white-lightest);

  transition: all .3s;
}

input[type="password"]:focus+label {
  background-color: var(--white-lightest);
  top: 5px;
  left: 10px;
  bottom: auto;
  padding-left: 0;
  padding-bottom: 2px;
  font-size: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  color: var(--grey-medium);
  transition: all .3s;
}

input[type="text"]:not:placeholder-shown+label {
  font-size: 8pt;
  top: -3.5em;
  left: 0.5em;
  z-index: 5;
  position: relative;

  transition: all .3s;
}

input:valid {
  z-index:999;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACJklEQVRIia3WX2jOURzH8dfz2xK25m+7WEvSrpbkSsTFc7EhDSk3YyUlTSjcLGk5l0qSJEq5crFkCCminqRcrZa0NMuFJK2l9VxILLk4v4fHs+ffnnzqV79zzvf7/v5+53zP95yMSgpgHXZhB9ZjJeaQxzs8xRNMpvbzlKkA7sQw9qfQasrjIc7jQ2mgpIzDHrzG0Trg0IaB1OdAaYCmf1rBIG5hRR3gUrVgL37KeiUXOzMpGPowikUNwIs1h8O4Lfydog5c+w9waMYldFGYoqwL6GkA9gv3U86qov4WtMsazQjWYAyrGwjwAP1oxSNsLhrLY0uC7Q3CZ3BS8D2FLS4Zb0NfIm6iheoHjgs+CRKcw8Yydr0JuhsIcAf30vdNOFPBrjvB8gXCP2JIMCdoxRVxDcqpLREzoZy+oBfHxNyW2h4TfE7bw+IfVFSzuEDldBHP04eY2yNicSPYjFPV4MgneFth8BA6011+AwdxVkDQpr6NOZERHMHNCgZvsFvw8U9PDHi5jq+HoQTPxJwupw14JOgs6usRK20t5fG4UOyu4kQV43Hsw1dx13fVEWAE/YUAHWI9X1PFYRbfxMJYS9PYKpgqVNPPYjr+qOK0vE74HE5jikI1zSHnvaxpsXQ0VXCuBz6M64WT7V9QzpiscWzDsgXCpzFYDJ8fALImcRdLxVvFkhrg2dR+AC9Lz+T5t4qCouFa7BSnrRvt4ik4gwm8UOPa8htG8HgowA/lzwAAAABJRU5ErkJggg==');
  background-repeat:no-repeat;
  background-position:3px 16px;
  background-size:16px 16px;
  transition: all .3s;
}

input:invalid:not:focus~label {
  color: var(--validation-error);
  border-bottom: solid var(--validation-error) 1px;
  transition: all .3s;
}

input:invalid:focus ~ .tooltip {
  display: block;
  transition: all .3s;
}

input:placeholder-shown ~ .tooltip {
  display: none;
  transition: all .3s;
}

input~label {
  top: -2.5em;
  left: 1.0em;
  z-index: 5;
  position: relative;
  background-color: var(--white-lightest);
  transition: all .3s;
}

input:focus~label {
  font-size: 8pt;
  top: -3.5em;
  left: 0.5em;
  z-index: 5;
  position: relative;
  transition: all .3s;
}

input:placeholder-shown~label {
  top: -2.5em;
  left: 1.0em;
  z-index: 5;
  position: relative;
  transition: all .3s;
}

.tooltip {
  z-index: 100;
  display: none;
  position: absolute;
  left: 20px;
  top: 60px;
  right: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: var(--black-darkest);
  color: var(--white-lightest);
  box-shadow: 1px 1px 3px 1px black;
  transition: all .3s;
}
.tooltip:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left:10px;
  border-bottom: 10px solid black;
  border-top: 0px solid transparent;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transition: all .3s;
}
.tooltip > label {
  position: absolute;
  color: var(--grey-meddark);
  font-size: 20px;
  padding: 0 20px;
  background-color: var(--white-lightest);
  left: 6px;
  top: 20px;
  bottom: 1px;
  right: 6px;
  cursor:text;
  transition: all .3s;
}
