
.flyout-max {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
}

.modal-dialog {
  position: fixed;
  max-width: 50vw;
  min-width: 50vw;
  left: -50vw;
  top: 25vw;
  margin: 0;
  background-color: white;
  border: black 1px solid;
  border-left: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  pointer-events: all;
}

.modal-body {
  width: 100%;
  display: inline-block;
}

.modal-body-left {
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 300px;
  max-height: 300px;
}

.modal-body-right {
  width: 70%;
  vertical-align: top;
  padding-left: 15px;
  border-left: black 1px solid;
  margin-left: 15px;
  display: inline-block;
  overflow-y: auto;
  min-height: 300px;
  max-height: 300px;
}
