<form (ngSubmit)="save()" [formGroup]="folderFormGroup" class="flex-container-col full-width full-height">
    <div style="margin-bottom: 1em;">
        <img [src]="dtService?.datatrackListTreeNode?.icon"> Folder {{dtService?.datatrackListTreeNode?.name}}
    </div>
    <div class="full-width full-height">
        <div class="flex-container-row full-width">
            <mat-form-field style="margin-right: 2em; width:60%;">
                <input matInput formControlName="folderName"  type="text" placeholder="Name"/>
                <mat-error *ngIf="folderFormGroup.get('folderName').hasError('required')">
                    The folder name is required
                </mat-error>
            </mat-form-field>
            <div style="width:40%">
                <custom-combo-box [options]="this.labList"
                                  placeholder="Lab"
                                  valueField="idLab"
                                  [displayField]="this.prefService.labDisplayField"
                                  [formControl]="this.folderFormGroup.get('lab')">
                </custom-combo-box>
            </div>

        </div>
        <div class="full-width">
            <angular-editor #descEditorRef formControlName="description" [config]="this.editorConfig">
            </angular-editor>
        </div>
        <div> Created By: {{this.dtService?.datatrackListTreeNode?.createdBy}}
            {{this.dtService?.datatrackListTreeNode?.createDate}}
        </div>
    </div>
    <div>
        <save-footer [disableSave]="this.secAdvisor.isGuest || !canWrite" [dirty]="folderFormGroup.dirty"
                     [showSpinner]="this.showSpinner">
        </save-footer>
    </div>
</form>
