<div mat-dialog-title class="full-width header no-margin no-padding">
    <div #topmostLeftmost (mousedown)="onMouseDownHeader($event)" class="full-width padding {{ movingDialog ? 'grabbed' : 'grabbable' }}">
        <h5 class="inline-block">Advanced Search</h5>
    </div>
</div>
<div mat-dialog-content class="body background no-margin no-padding">
    <div class="body-size light-background">
        <mat-tab-group class="full-height">

            <mat-tab label="New Search" class="full-height" #newSearchTab >
                <div class="full-width fixed-height padding">

                    <div class="t full-width full-height">
                        <div class="tr full-width">
                            <div class="td label">
                                Search Category
                            </div>
                            <div class="td">
                                <mat-radio-group [(ngModel)]="searchType" (change)="onSearchTypeChanged()">
                                    <mat-radio-button class="radio-button" [value]="ALL_OBJECTS">All Objects</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="EXPERIMENTS">Experiments</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="ANALYSES"   >Analyses</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="PROTOCOLS"  >Protocols</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="DATA_TRACKS">Data Tracks</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="TOPICS"     >Topics</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="tr full-width">
                            <div class="td mat-input-label">General Keywords</div>
                            <div class="td">
                                <mat-form-field class="medium-input">
                                    <input  matInput
                                            placeholder="Search"
                                            [(ngModel)]="searchText">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="tr full-width full-height">
                            <div class="td label">Field Search</div>
                            <div class="td">
                                <div class="grid-container full-height">
                                    <ag-grid-angular
                                            style="font-size:x-small; width:100%; height:100%;"
                                            class="ag-fresh"
                                            [context]="context"
                                            [singleClickEdit]="true"
                                            [enableSorting]="true"
                                            [enableColResize]="true"
                                            [suppressNoRowsOverlay]="true"
                                            [stopEditingWhenGridLosesFocus]="true"
                                            (gridSizeChanged)="onNewSearchGridSizeChanged()"
                                            (gridReady)="onNewSearchGridReady($event)">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </div>
                        <div class="tr full-width full-height">
                            <div class="td label"></div>
                            <div class="td">
                                <mat-radio-group [(ngModel)]="matchType">
                                    <mat-radio-button class="radio-button" [value]="MATCH_ALL_TERMS">Match ALL terms</mat-radio-button>
                                    <mat-radio-button class="radio-button" [value]="MATCH_ANY_TERM">Match ANY term</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-tab>

            <mat-tab label="Search Results" class="full-height" #searchResultsTab >
                <div class="full-width fixed-height padding">
                    <div class="flex-container full-width full-height">
                        <div class="full-width button-bar">
                            <button mat-button class="inline-block">
                                All Results ({{0}} hit{{'s'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block">
                                Experiments ({{0}} hit{{'s'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block">
                                Analysis ({{0}} hit{{'s'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block">
                                Protocols ({{0}} hit{{'s'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block">
                                Data Tracks ({{0}} hit{{'s'}})
                            </button>
                            <div class="vertical-spacer"></div>
                            <button mat-button class="inline-block">
                                Topics ({{0}} hit{{'s'}})
                            </button>
                        </div>
                        <div class="flex-fill full-width">
                            <div class="grid-container full-width full-height">
                                <ag-grid-angular
                                        style="font-size:x-small; width:100%; height:100%;"
                                        class="ag-fresh"
                                        [context]="context"
                                        [singleClickEdit]="true"
                                        [enableSorting]="true"
                                        [enableColResize]="true"
                                        [suppressNoRowsOverlay]="true"
                                        (gridSizeChanged)="onSearchResultsGridSizeChanged()"
                                        (gridReady)="onSearchResultsGridReady($event)">
                                </ag-grid-angular>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div mat-dialog-actions class="background no-margin no-padding">
    <div class="full-width button-container">
        <div class="t full-width">
            <div class="tr">
                <div class="td">
                    <button mat-button (click)="onClickSearchButton()"><img src="../../../assets/magnifier.png" alt="" /> Search</button>
                    <button mat-button (click)="onClickClearButton()">Clear</button>
                </div>
                <div class="td right-aligned">
                    <button mat-button (click)="onClickCancelButton()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>