.padding-top { padding-top: 0.6em; }

.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-fill {
    flex: 1;
}

.body-size {
    min-height: 25em;
    margin: 0.4em 0.4em 0 0.4em;
}

.label {
    padding: 0 3em 0 0.5em;
    vertical-align: top;
    color: darkblue;
}
.mat-input-label {
    padding: 0 0.5em;
    vertical-align: center;
    color: darkblue;
}

.horizontal-rule-container {
    padding: 2px 2px 2px 0;
}
.horizontal-rule-label-container {
    padding: 2px 0 2px 2px;
}
.horizontal-rule {
    height: 1px;
    background-color: #ebeae8;
}
.horizontal-rule-label {
    height: 1px;
    background-color: #ebeae8;
}

.row-vertical-spacing-a {
    height: 0.6em;
}
.row-vertical-spacing-b {
    height: 0.2em;
}

.button-container {
    text-align: left;
    padding: 0.4em;
}

.button-bar {
    display: table-cell;
    vertical-align: middle;
}
.vertical-spacer {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 2em;
    background-color: #ebeae8;
    margin: 0.1em;
}

.radio-button {
    margin: 0 2em 0 0;
    padding: 0;
}

.grid-container {
    width: 100%;
}

.fixed-height {
    min-height: 35em;
    max-height: 35em;
    height: 35em;
}

.grabbable {
    cursor: move;
    cursor: grab;
}
.grabbed {
    cursor: move;
    cursor: grabbing;
}

.small-as-possible {
    min-width:  0;
    min-height: 0;
}

.vertical-align-center { vertical-align: middle; }

.font-large { font-size: large; }

.box-border {
    border-style: inset;
    border-color: lightgrey;
    border-width: 2px;

    overflow: auto;
    object-fit: none;
}

.maximum-size {
    overflow: auto;
    object-fit: none;
}
