<div class="flex-container-row align-center padded bordered">
    <label class="small-margin-right"><img [src]="'./assets/money.png'" class="icon">Billing</label>
    <div class="flex-container-col">
        <div class="flex-container-row">
            <menu-header-billing class="large-margin-right"
                                 [idBillingPeriod]="this.form.controls['idBillingPeriod'].value"
                                 [filterByOrderType]="this.filterByOrderType" [showRelatedCharges]="this.showRelatedCharges"
                                 [totalPrice]="this.totalPrice" [billingPeriodString]="this.billingPeriodString"
                                 [idCoreFacility]="this.form.controls['idCoreFacility'].value" [selectedItem]="this.selectedItem" [isDirty]="this.isDirty">
            </menu-header-billing>
            <div>
                <mat-form-field class="small-margin-right">
                    <input matInput placeholder="Experiment #" (change)="this.onRequestNumberChange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.requestNumberModel">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Invoice #" (change)="this.onInvoiceNumberChange()" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.invoiceNumberModel">
                </mat-form-field>
            </div>
        </div>
        <div class="flex-container-row align-center children-flex-grow children-margin-right">
            <custom-combo-box placeholder="Core Facility" [options]="this.coreFacilityList" displayField="display"
                              valueField="idCoreFacility" [formControl]="this.form.get('idCoreFacility')">
            </custom-combo-box>
            <billing-period-selector (onChange)="this.onBillingPeriodChange($event)"></billing-period-selector>
            <custom-combo-box placeholder="Lab Group" [options]="this.filteredLabList" valueField="idLab"
                              [formControl]="this.form.get('idLab')" [displayField]="this.prefService.labDisplayField">
            </custom-combo-box>
            <custom-combo-box placeholder="Account" [options]="this.billingAccountList" displayField="accountNameDisplay"
                              valueField="idBillingAccount" [formControl]="this.form.get('idBillingAccount')">
            </custom-combo-box>
        </div>
    </div>
</div>
