<div class="full-height full-width background background-border padded small-font">
    <div class="full-height full-width flex-container-col">
        <billing-filter [selectedItem]="billingItemsTreeSelectedNode"
                        [totalPrice]="totalPrice"
                        [isDirty]="showDirtyNote"
                        [filterByOrderType]="filterByOrderType"
                        [showRelatedCharges]="showRelatedCharges"
                        (onChange)="onFilterChange($event)">
        </billing-filter>
        <div class="full-width vertical-spacer">
        </div>
        <div class="flex-container-row flex-grow foreground padding-left-right-bottom overflow-auto min-grid-size">
            <as-split>
                <as-split-area [size]="19">
                    <div class="full-height bordered overflow-auto">
                        <mat-tab-group class="full-height">
                            <mat-tab label="Billing Items">
                                <div class="full-height full-width overflow-auto">
                                    <div class="full-height full-width flex-container-col overflow-auto">
                                        <div [hidden]="!showFilterByOrderType" class="padded-left-right-top">
                                            <mat-radio-group [(ngModel)]="filterByOrderType" (change)="onFilterByOrderTypeChange()">
                                                <mat-radio-button class="filter-by-order-type-opt" [value]="FILTER_ALL">Show All</mat-radio-button>
                                                <mat-radio-button [hidden]="!showFilterByExp" class="filter-by-order-type-opt" [value]="FILTER_EXP">Experiments</mat-radio-button>
                                                <mat-radio-button [hidden]="!showFilterByDsk" class="filter-by-order-type-opt" [value]="FILTER_DSK">Disk</mat-radio-button>
                                                <mat-radio-button [hidden]="!showFilterByPo" class="filter-by-order-type-opt" [value]="FILTER_PO">Products</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                        <div [hidden]="!showJumpToPending && !showJumpToCompleted && !showJumpToApproved" class="padded-left-right-top">
                                            <div class="inline-block padded-right">
                                                <button mat-raised-button class="minimize smaller-font" [hidden]="!showJumpToPending" (click)="jumpTo(STATUS_PENDING)">Pending</button>
                                            </div>
                                            <div class="inline-block padded-right">
                                                <button mat-raised-button class="minimize smaller-font" [hidden]="!showJumpToCompleted" (click)="jumpTo(STATUS_COMPLETED)">Completed</button>
                                            </div>
                                            <div class="inline-block">
                                                <button mat-raised-button class="minimize smaller-font" [hidden]="!showJumpToApproved" (click)="jumpTo(STATUS_APPROVED)">Approved</button>
                                            </div>
                                        </div>
                                        <div class="flex-grow overflow-auto padded">
                                            <div class="full-height full-width overflow-auto bordered">
                                                <tree-root #tree [nodes]="billingItemsTreeNodes" [options]="billingItemsTreeOptions" (activate)="onBillingItemsTreeActivate($event)">
                                                    <ng-template #treeNodeTemplate  let-node>
                                                        <div class="flex-container-row tree-node-font ellipsis">
                                                            <img [src]="node?.data?.icon" alt="" class="icon tree-node-icon">
                                                            <div [ngStyle]="{'background-color': node.data?.expiring ? '#ff4d4d' : 'transparent' }"
                                                                 [matTooltip]="node.data?.expiring"
                                                                 [matTooltipDisabled]="!node.data?.expiring"
                                                                 class="single-line">
                                                                {{ node?.data?.display }}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </tree-root>
                                            </div>
                                        </div>
                                        <div class="flex-container-row padded-left-right-bottom overflow-hidden align-center smaller-font">
                                            <div class="flex-container-row padded-left-right align-center">
                                                <button mat-raised-button class="minimize smaller-font" (click)="toggleExpandLabs()">
                                                    {{ expandLabs ? 'Expand Labs' : 'Collapse Labs' }}
                                                </button>
                                            </div>
                                            <div class="flex-container-row padded-left-right align-center">
                                                <mat-checkbox [(ngModel)]="hideEmptyRequests" (change)="onHideEmptyRequestsChange($event)">
                                                    Hide if no billing items
                                                </mat-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Prices">
                                <div class="full-height full-width flex-container-col overflow-auto">
                                    <div>
                                        <button *ngFor="let sheet of priceTreeGridData" mat-button class="minimize smaller-font price-sheet-link" (click)="jumpToPriceSheet(sheet.idPriceSheet)">{{sheet.display}}</button>
                                    </div>
                                    <div class="flex-container-row align-center justify-space-between">
                                        <label class="small-font padding-left no-margin smaller-font"
                                               matTooltip="Drag-and-drop price category to reorder or attach to another price sheet"
                                               [matTooltipPosition]="'right'">
                                            <img class="icon" [src]="'./assets/information.png'" alt="">
                                            Drag-and-drop hint
                                        </label>
                                        <button mat-button
                                                matTooltip="Create a new billing item with the selected price for the selected experiment"
                                                class="minimize smaller-font"
                                                [matTooltipPosition]="'right'"
                                                [disabled]="disableAddBillingItemButton"
                                                (click)="addNewBillingItem()">
                                            <img class="icon" [src]="'./assets/add.png'" alt="">
                                            Create new billing item
                                        </button>
                                    </div>
                                    <div class="flex-grow padded">
                                        <div class="full-height full-width min-grid-width">
                                            <ag-grid-angular class="ag-theme-fresh full-height full-width small-font"
                                                             [getNodeChildDetails]="getPriceNodeChildDetails"
                                                             [enableColResize]="true"
                                                             [rowData]="priceTreeGridData"
                                                             (gridReady)="onPriceTreeGridReady($event)"
                                                             (gridSizeChanged)="onGridSizeChanged($event)"
                                                             (rowClicked)="onPriceTreeGridSelection($event)"
                                                             (rowDoubleClicked)="onPriceTreeGridRowDoubleClick($event)"
                                                             (rowDragEnd)="onPriceTreeGridDragEnd($event)">
                                            </ag-grid-angular>
                                        </div>
                                    </div>
                                    <div class="flex-container-row overflow-hidden">
                                        <mat-checkbox [(ngModel)]="showPricesCheckbox" (change)="refreshPricingGrid()" class="padding-left smaller-font">Show prices</mat-checkbox>
                                        <mat-checkbox [(ngModel)]="showPriceCriteriaCheckbox" (change)="refreshPricingGrid()" class="padding-left smaller-font">Show price criteria</mat-checkbox>
                                        <mat-checkbox [(ngModel)]="showInactivePricesCheckbox" (change)="refreshPricingGrid()" class="padding-left smaller-font">Show inactive prices</mat-checkbox>
                                    </div>
                                    <div class="flex-container-row">
                                        <div class="padded-right">
                                            <button mat-button (click)="openNewSheetWindow()" class="smaller-font minimize">
                                                <img [src]="'./assets/pricesheet_add.png'" alt="" class="icon">
                                                New sheet
                                            </button>
                                        </div>
                                        <div class="padded-right">
                                            <button mat-button (click)="openNewCategoryWindow()" class="smaller-font minimize">
                                                <img [src]="'./assets/folder_money_add.png'" alt="" class="icon">
                                                New category
                                            </button>
                                        </div>
                                        <div class="padded-right">
                                            <button mat-button (click)="openNewPriceWindow()" class="smaller-font minimize">
                                                <img [src]="'./assets/money_add.png'" alt="" class="icon">
                                                New price
                                            </button>
                                        </div>
                                        <div>
                                            <button mat-button [disabled]="!selectedPriceTreeGridItem" (click)="removeFromPriceTree()" class="smaller-font minimize">
                                                <img [src]="'./assets/delete.png'" alt="" class="icon">
                                                Remove
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </as-split-area>
                <as-split-area [size]="81">
                    <div class="full-height full-width overflow-auto bordered padded">
                        <div class="full-height full-width flex-container-col">
                            <div class="flex-container-row align-baseline">
                                <div class="double-padded-right">
                                    Billing Items
                                </div>
                                <div class="double-padded-right">
                                    {{ billingItemGridLabel }}
                                </div>
                                <div class="flex-grow">
                                </div>
                                <div class="overflow-hidden">
                                    <mat-checkbox class="smaller-font"
                                                  [(ngModel)]="showRelatedCharges"
                                                  (change)="onShowRelatedChargesChange($event)"
                                                  matTooltip="When a request has billing items spanning multiple billing periods or split with other accounts, show the related charges">
                                        Show Related Charges
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex-container-row align-center justify-space-between">
                                <label>{{ invoiceLabel }}</label>
                                <div class="flex-container-row align-baseline">
                                    <div class="double-padded-right">
                                        <button mat-raised-button
                                                matTooltip="This will move all the selected items to the next billing period. If no items are selected, all of the displayed items will be updated"
                                                class="minimize small-font"
                                                (click)="onMoveToNextPeriod()">
                                            Move to next billing period
                                        </button>
                                    </div>
                                    <custom-combo-box tooltip="This will update the status for all the selected items. If no items are selected, all of the displayed items' statuses will update"
                                                      placeholder="Change Status"
                                                      valueField="codeBillingStatus"
                                                      displayField="display"
                                                      [(ngModel)]="changeStatusValue"
                                                      [allowNone]="false"
                                                      [options]="statuses"
                                                      (optionSelected)="onChangeStatus()">
                                    </custom-combo-box>
                                    <!--<custom-combo-box tooltip="This will update the status for all the selected items. If no items are selected, all of the displayed items' statuses will update"-->
                                                      <!--placeholder="Change Status" (optionSelected)="onChangeStatus()"-->
                                                      <!--displayField="display" [options]="statusListShort"-->
                                                      <!--valueField="codeBillingStatus" [(ngModel)]="changeStatusValue">-->
                                    <!--</custom-combo-box>-->
                                </div>
                            </div>
                            <div class="flex-grow min-grid-size">
                                <div #oneEmWidth class="no-height single-em">
                                </div>
                                <ag-grid-angular class="ag-theme-fresh full-height full-width small-font"
                                                 stopEditingWhenGridLosesFocus="true"
                                                 [getNodeChildDetails]="getBillingItemNodeChildDetails"
                                                 [enableColResize]="true"
                                                 [rowSelection]="'multiple'"
                                                 [rowClassRules]="billingItemGridRowClassRules"
                                                 [rowData]="billingItemGridData"
                                                 [singleClickEdit]="true"
                                                 (gridReady)="onBillingItemGridReady($event)"
                                                 (gridSizeChanged)="onGridSizeChanged($event)"
                                                 (rowClicked)="onBillingItemGridRowSelection($event)"
                                                 (selectionChanged)="onBillingItemGridSelection()"
                                                 (cellValueChanged)="onBillingItemGridChange($event)">
                                </ag-grid-angular>
                            </div>
                            <div class="full-width flex-container-row align-baseline">
                                <button mat-button [disabled]="disableSplitButton" (click)="openSplitWindow()">
                                    <img class="icon" [src]="'./assets/account_split.png'" alt="">
                                    Reassign/Split
                                </button>
                                <button mat-button [disabled]="selectedBillingItems.length < 1" (click)="removeBillingItems()">
                                    <img class="icon" [src]="'./assets/delete.png'" alt="">
                                    Remove
                                </button>
                                <div class="flex-grow">
                                </div>
                                <save-footer (saveClicked)="validateAndSave()" name="Save" [dirty]="showDirtyNote"></save-footer>
                            </div>
                        </div>
                    </div>
                </as-split-area>
            </as-split>
        </div>
    </div>
</div>
