.min-grid-width {
    min-width: 27em;
}

mat-radio-button.filter-by-order-type-opt {
    margin-right: 0.5em;
}

.padding-left {
    padding-left: 1em;
}

.vertical-spacer {
    height: 0.3em;
}

button.price-sheet-link {
    margin: 0 1em;
    padding: 0;
    text-decoration: underline;
}
