<div class="full-height full-width">
    <billing-filter (onChange)="this.onFilterChange($event)"></billing-filter>
    <div class="flex-container-row padding height-eighty">
        <div class="full-height flex-three bordered">
            <mat-tab-group class="full-height">
                <mat-tab label="Billing Items">
                    <div [hidden]="!this.showFilterByOrderType">
                        <mat-radio-group [(ngModel)]="this.filterByOrderType" (change)="this.onFilterByOrderTypeChange()">
                            <mat-radio-button class="filter-by-order-type-opt" [value]="this.FILTER_ALL">Show All</mat-radio-button>
                            <mat-radio-button [hidden]="!this.showFilterByExp" class="filter-by-order-type-opt" [value]="this.FILTER_EXP">Experiments</mat-radio-button>
                            <mat-radio-button [hidden]="!this.showFilterByDsk" class="filter-by-order-type-opt" [value]="this.FILTER_DSK">Disk</mat-radio-button>
                            <mat-radio-button [hidden]="!this.showFilterByPo" class="filter-by-order-type-opt" [value]="this.FILTER_PO">Products</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div [hidden]="!this.showJumpToPending && !this.showJumpToCompleted && !this.showJumpToApproved">
                        <button mat-button [hidden]="!this.showJumpToPending" (click)="this.jumpTo(this.STATUS_PENDING)">Pending</button>
                        <button mat-button [hidden]="!this.showJumpToCompleted" (click)="this.jumpTo(this.STATUS_COMPLETED)">Completed</button>
                        <button mat-button [hidden]="!this.showJumpToApproved" (click)="this.jumpTo(this.STATUS_APPROVED)">Approved</button>
                    </div>
                    <div class="height-eighty">
                        <tree-root #tree [nodes]="this.billingItemsTreeNodes" [options]="this.billingItemsTreeOptions" (activate)="this.onBillingItemsTreeActivate($event)">
                            <ng-template #treeNodeTemplate  let-node>
                                <img src="{{node?.data?.icon}}" class="icon">
                                <span>{{ node?.data?.display }}</span>
                            </ng-template>
                        </tree-root>
                    </div>
                    <div>
                        <button mat-button (click)="this.toggleExpandLabs()">{{this.expandLabs ? 'Expand Labs' : 'Collapse Labs'}}</button>
                        <mat-checkbox [(ngModel)]="this.hideEmptyRequests" (change)="this.onHideEmptyRequestsChange($event)">Hide requests with no billing items?</mat-checkbox>
                    </div>
                </mat-tab>
                <mat-tab label="Prices">
                    Prices Placeholder
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="full-height padding flex-seven flex-container-col">
            <div class="flex-container-row justify-space-between align-center flex-one">
                <label>Billing Items {{this.billingItemGridLabel}}</label>
                <mat-checkbox [(ngModel)]="this.showRelatedCharges" (change)="this.onShowRelatedChargesChange($event)"
                              matTooltip="When a request has billing items spanning multiple billing periods or split with other accounts, show the related charges">Show Related Charges</mat-checkbox>
            </div>
            <div class="flex-container-row align-center flex-one justify-space-between">
                <label>{{this.invoiceLabel}}</label>
                <div class="flex-container-row">
                    <button mat-button>Move to next billing period</button>
                    <mat-form-field matTooltip="This will update the status for all the selected items. If no items are selected, all of the displayed items' statuses will update">
                        <mat-select placeholder="Change Status">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let status of this.statusListShort" [value]="status">{{status.display}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="flex-ten">
                <ag-grid-angular class="ag-fresh full-height full-width"
                                 (gridReady)="this.onBillingItemGridReady($event)"
                                 (gridSizeChanged)="this.onGridSizeChanged($event)"
                                 (cellValueChanged)="this.onBillingItemGridChange($event)"
                                 (selectionChanged)="this.onBillingItemGridSelection($event)"
                                 [getNodeChildDetails]="this.getBillingItemNodeChildDetails"
                                 [rowSelection]="'multiple'"
                                 [singleClickEdit]="true"
                                 [rowClassRules]="this.billingItemGridRowClassRules"
                                 [rowData]="this.billingItemGridData">
                </ag-grid-angular>
            </div>
            <div class="flex-container-row align-center flex-one justify-space-between">
                <div>
                    <button mat-button [disabled]="this.disableSplitButton" color="accent"><img src="../../assets/account_split.png" class="icon">Reassign/Split</button>
                    <button mat-button [disabled]="this.selectedBillingItems.length < 1" color="warn" (click)="this.removeBillingItems()"><img src="../../assets/delete.png" class="icon">Remove</button>
                    <span *ngIf="this.showDirtyNote" class="dirtyNote">Changes Have Not Been Saved</span>
                </div>
                <button mat-button color="primary" (click)="this.validateAndSave()"><img src="../../assets/action_save.gif" class="icon">Save</button>
            </div>
        </div>
    </div>
</div>
