<h6 mat-dialog-title>{{this.title}}</h6>
<mat-dialog-content>
    <form [formGroup]="this.form">
        <div>
            <mat-form-field class="full-width">
                <input matInput placeholder="Name" [formControlName]="'name'">
            </mat-form-field>
        </div>
        <div>
            <mat-checkbox [formControlName]="'active'">Active</mat-checkbox>
        </div>
        <div>
            <mat-form-field class="full-width">
                <textarea matInput placeholder="Notes" [formControlName]="'notes'"
                          matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="3"></textarea>
            </mat-form-field>
        </div>
        <div class="flex-container-row">
            <mat-form-field class="flex-one">
                <input matInput type="number" placeholder="Unit Price" [formControlName]="'unitPrice'">
            </mat-form-field>
            <mat-form-field class="flex-one">
                <input matInput type="number" placeholder="External Academic" [formControlName]="'academicPrice'">
            </mat-form-field>
            <mat-form-field class="flex-one">
                <input matInput type="number" placeholder="External Commercial" [formControlName]="'commercialPrice'">
            </mat-form-field>
        </div>
        <div>
            <label>Price applies to</label>
        </div>
        <div>
            <button mat-button (click)="this.addCriteria()"><img src="../../assets/attach_add.png" class="icon">New criteria</button>
            <button mat-button [disabled]="!this.selectedCriteria" (click)="this.removeCriteria()"><img src="../../assets/delete.png" class="icon">Remove</button>
        </div>
        <div class="grid-div">
            <ag-grid-angular class="ag-theme-balham full-height full-width"
                             (gridReady)="this.onGridReady($event)"
                             (gridSizeChanged)="this.onGridSizeChanged($event)"
                             (selectionChanged)="this.onGridSelectionChanged($event)"
                             [singleClickEdit]="true"
                             [stopEditingWhenGridLosesFocus]="true"
                             [rowSelection]="'single'"
                             [rowData]="this.criteria">
            </ag-grid-angular>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="this.save()">Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>