.active-item {
    background-color: var(--grey-lighter);
}

.background {
    background-color: var(--footer-bg);
}

.foreground {
    background-color: var(--white-lightest);
}

.active-item:hover {
    border: 0.05rem solid var(--greycool-medlight);
    background-color: var(--grey-lighter);
    cursor: pointer;
}
