<div class="background">
    <div class="flex-column-container">
        <div style="flex-grow: .01;" class="br-topic-item br-topic-one">
            <div style="margin-bottom: 0.3em;">
                <menu-header-topics [selectedNode]="selectedItem"></menu-header-topics>
            </div>
        </div>
        <div style="flex:1;"class="flex-row-container">
            <split>
                <split-area size="20">
                <div class="br-topic-item" style="height:100%">
                    <div class="flex-column-container" style="height:100%;">
                        <div class="br-topic-item br-topic-three">
                            <tree-root #topicsTree (moveNode)="onMoveNode($event)"
                                       [nodes]="items" [options]="options"
                                       (activate)="treeOnSelect($event)"
                            >

                                <ng-template #treeNodeTemplate let-node let-index="index">
                                    <img *ngIf="node.data.icon" src="{{node.data.icon}}" height="16" width="16">
                                    <span>{{ node.data.label }}</span>
                                </ng-template>
                                <ng-template #loadingTemplate></ng-template>
                            </tree-root>
                        </div>

                        <div class="br-topic-item br-topic-four">
                            <div class="flex-row-container">
                                <div class="br-topic-item-row-one" style="position: relative; top: 1em">
                                    <button mat-button (click)="expandClicked()">Expand</button>
                                </div>
                                <div class="br-topic-item-row-two" style="position: relative; top: 1em">
                                    <button mat-button (click)="collapseClicked()">Collapse</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end tree container -->
                </split-area>

                <split-area size="80">
                <div  style="padding: 2em" class="br-topic-item experiment-detail-panel ">
                </div>
                </split-area>
            </split>
        </div>
    </div>
</div>

