.formField {
    margin: 0 2.0%;
    width: 20%
}

.radio-group-container {
    display: inline-flex;
    flex-direction: row;
    vertical-align: middle;
    width: fit-content;
    margin-top: 1.1em;
}

.absolute { position: absolute; }

.vertical-spacer {
    height: 0.3em;
    min-height: 0.3em;
}

.border { border: var(--grey-lighter) solid thin; }

.major-border {
    border-radius: 0.3em;
    border: 1px solid darkgrey;
}

.top-padded { padding-top: 0.3em; }

.left-right-padded {
    padding-left:  0.3em;
    padding-right: 0.3em;
}

.no-overflow  { overflow:    hidden; }

.no-word-wrap { white-space: nowrap; }

img.small-icon {
    width: 16px;
    height: 16px;
}
