.flex-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.formField {
    width: 30%;
    margin: 0 0.5em;
}

.topic-form {
    flex: 8;
}

.flex-spacer {
    flex: 1;
}
