<!--<jqxWindow-->
		<!--#windowRef-->
		<!--[resizable]="false"-->
		<!--[autoOpen]="false"-->
		<!--[isModal]="true"-->
		<!--[width]="'60em'"-->
		<!--[height]="'45em'">-->
	<div mat-dialog-title style="background-color: #84b278; color: white; display: inline-block; width: 100%;">
		<img src="../../../assets/work_auth_form.png" alt="Image not found" style="margin-right:0.2em;"/>
		<h5 style="display: inline-block;">Submit Campus Billing Account</h5>
	</div>
	<div mat-dialog-content style="background-color: #eeeeeb; overflow: hidden;">
		<div #windowBody style="width: 100%; font-size: small;">
			<div class="full-width background-sideless">
				<div style="position:relative; width:calc(100% - 1.6em); margin:0.4em 0.8em;">
					<div class="t full-width">
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Lab
							</div>
							<div class="td">
								<!--<jqxComboBox #labListComboBox (onSelect)="onLabListSelection($event)"-->
														 <!--(onUnselect)="onLabListUnselect()"-->
										<!--[width]="'80%'"-->
										<!--[placeHolder]="'Select a lab...'"-->
										<!--[source]="labList"-->
										<!--[multiSelect]="false"-->
										<!--[valueMember]="'idLab'"-->
										<!--[displayMember]="'name'"-->
										<!--[theme]="'gnomex5'">-->
								<!--</jqxComboBox>-->
								<mat-form-field style="width: 100%; font-size: small;">
									<mat-select placeholder="Select a lab..." [(value)]="selectedLab" (change)="onLabListSelection($event)">
										<mat-option>--</mat-option>
										<mat-option *ngFor="let lab of labList" [value]="lab">
											{{ lab.name }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								<div>
									Core Facility
								</div>
								<div>
									Help me choose
								</div>
							</div>
							<div class="td">
								<!--<multiple-selector-->
										<!--#coreFacilitiesSelector-->
										<!--[title]="'Core Facilities'"-->
										<!--[disable]="disableCoreFacilitiesSelector"-->
										<!--[placeholder]="'Select Core Facilities'"-->
										<!--(onSave)="onCoreFacilitiesSelected($event)">-->
								<!--</multiple-selector>-->
								<mat-form-field style="width: 100%; font-size: small;">
									<mat-select
											style="width: 100%;"
											placeholder="Select Core Facilities"
											(change)="onCoreFacilitiesSelected($event)"
											multiple>
										<mat-option *ngFor="let coreFacility of coreFacilityReducedList" [value]="coreFacility.idCoreFacility">
											{{ coreFacility.display }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Account Type
							</div>
							<div class="td center-vertical-align">
								<!--<div class="inline-block radio-button">-->
									<!--<input type="radio" name="AccountType" value="chartfield" (change)="changeShowField('chartfield')" checked> Chartfield-->
								<!--</div>-->
								<!--<div class="inline-block radio-button">-->
									<!--<input type="radio" name="AccountType" value="po"         (change)="changeShowField('po')" > PO-->
								<!--</div>-->
								<!--<div class="inline-block radio-button">-->
									<!--<input type="radio" name="AccountType" value="creditcard" (change)="changeShowField('creditcard')" > Credit Card-->
								<!--</div>-->
								<mat-radio-group [(ngModel)]="showField">
									<mat-radio-button class="radio-button" [value]="'chartfield'">Chartfield</mat-radio-button>
									<mat-radio-button class="radio-button" [value]="'po'">PO</mat-radio-button>
									<mat-radio-button class="radio-button" [value]="'creditcard'">Credit Card</mat-radio-button>
								</mat-radio-group>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="vertical-spacer"></div>-->
			<div class="full-width background overflowable" style="width: calc(100% - 8px); margin: 3px 4px;">
				<div style="position:relative; width:calc(100% - 1.6em); margin:0.4em 0.8em;">


					<div *ngIf="showField === 'chartfield'" class="t full-width">
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Account Name
							</div>
							<div class="td">
								<!--<jqxInput #accountNameInput_chartfield [theme]="'gnomex5'" [width]="'calc(100% - 6px)'" [height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field class="full-width">
									<input matInput placeholder="Account Name" [(value)]="accountName_Chartfield">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Short Account Name
							</div>
							<div class="td">
								<mat-form-field class="full-width">
									<input matInput placeholder="Short Account Name" [(value)]="shortAccountName_Chartfield">
								</mat-form-field>
								<!--<jqxInput #shortNameInput_chartfield [theme]="'gnomex5'" [width]="'15em'" [height]="'1.5rem'">-->
								<!--</jqxInput>-->
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Chartfield to be charged
							</div>
							<div class="td" style="font-size: small;">
								<div class="inline-block" style="vertical-align: top; font-size: small;">
									<!--<div class="sub-header">-->
										<!--Bus-->
									<!--</div>-->
									<!--<div>-->
										<!--<number-jqxinput-->
												<!--#accountNumberBusInput-->
												<!--[minimumDigits]="2"-->
												<!--[maximumDigits]="2"-->
												<!--[width]="'3rem'"-->
												<!--[height]="'1.5rem'">-->
										<!--</number-jqxinput>-->
										<mat-form-field style="width: 3rem;">
											<input matInput placeholder="Bus" [(value)]="accountNumberBus_Chartfield">
											<mat-hint>2 digits</mat-hint>
										</mat-form-field>
									<!--</div>-->
									<!--<div>-->
										<!--2 digits-->
									<!--</div>-->
								</div>
								<div class="horizontal-break"></div>
								<div class="inline-block" style="vertical-align: top">
									<!--<div class="sub-header">-->
										<!--Org-->
									<!--</div>-->
									<!--<div>-->
										<!--<number-jqxinput-->
												<!--#accountNumberOrgInput-->
												<!--[minimumDigits]="5"-->
												<!--[maximumDigits]="5"-->
												<!--[width]="'3rem'"-->
												<!--[height]="'1.5rem'">-->
										<!--</number-jqxinput>-->
									<mat-form-field style="width: 3rem;">
										<input matInput placeholder="Org" [(value)]="accountNumberOrg_Chartfield">
										<mat-hint>5 digits</mat-hint>
									</mat-form-field>
									<!--</div>-->
									<!--<div>-->
										<!--5 digits-->
									<!--</div>-->
								</div>
								<div class="horizontal-break"></div>
								<div class="inline-block" style="vertical-align: top">
									<!--<div class="sub-header">-->
										<!--Fund-->
									<!--</div>-->
									<!--<div>-->
										<!--<number-jqxinput-->
												<!--#accountNumberFundInput-->
												<!--[minimumDigits]="4"-->
												<!--[maximumDigits]="4"-->
												<!--[width]="'3rem'"-->
												<!--[height]="'1.5rem'">-->
										<!--</number-jqxinput>-->
										<mat-form-field style="width: 3rem;">
											<input matInput placeholder="Fund" [(value)]="accountNumberFund_Chartfield">
											<mat-hint>4 digits</mat-hint>
										</mat-form-field>
									<!--</div>-->
									<!--<div>-->
										<!--4 digits-->
									<!--</div>-->
								</div>
								<div class="horizontal-break"></div>
								<div class="inline-block" style="vertical-align: top">
									<!--<div class="t">-->
										<!--<div class="tr">-->
											<!--<div class="td sub-header">Activity</div>-->
											<!--<div class="td sub-header"></div>-->
											<!--<div class="td sub-header">Project</div>-->
										<!--</div>-->
										<!--<div class="tr">-->
											<!--<div class="td">-->
												<!--<number-jqxinput-->
														<!--#accountNumberActivityInput-->
														<!--(input)="clearAccountNumberProjectInput()"-->
														<!--[minimumDigits]="5"-->
														<!--[maximumDigits]="5"-->
														<!--[width]="'3rem'"-->
														<!--[height]="'1.5rem'">-->
												<!--</number-jqxinput>-->
											<!--</div>-->
											<!--<div class="td sub-header" style="width:2.5em; text-align:center;">OR</div>-->
											<!--<div class="td">-->
												<!--<number-jqxinput-->
														<!--#accountNumberProjectInput-->
														<!--(input)="clearAccountNumberActivityInput()"-->
														<!--[minimumDigits]="8"-->
														<!--[maximumDigits]="8"-->
														<!--[width]="'4.5rem'"-->
														<!--[height]="'1.5rem'">-->
												<!--</number-jqxinput>-->
											<!--</div>-->
										<!--</div>-->
										<!--<div class="tr">-->
											<!--<div class="td">5 digits</div>-->
											<!--<div class="td"></div>-->
											<!--<div class="td">8 digits</div>-->
										<!--</div>-->
									<!--</div>-->
									<mat-form-field style="width: 3rem;">
										<input matInput placeholder="Activity" [(value)]="accountNumberActivity_Chartfield">
										<mat-hint>5 digits</mat-hint>
									</mat-form-field>
								</div>
								<div class="inline-block" style="vertical-align: top">
									<p>OR</p>
								</div>
								<div class="inline-block" style="vertical-align: top">
									<mat-form-field style="width: 4.5rem;">
										<input matInput placeholder="Project" [(value)]="accountNumberProject_Chartfield">
										<mat-hint>8 digits</mat-hint>
									</mat-form-field>
								</div>
								<div class="horizontal-break"></div>
								<div class="inline-block" style="vertical-align: top">
									<!--<div class="sub-header">-->
										<!--Account-->
									<!--</div>-->
									<!--<div>-->
										<!--<number-jqxinput-->
												<!--#accountNumberAccountInput-->
												<!--[minimumDigits]="5"-->
												<!--[maximumDigits]="5"-->
												<!--[width]="'3rem'"-->
												<!--[height]="'1.5rem'"-->
												<!--[value]="'64300'">-->
										<!--</number-jqxinput>-->
									<!--</div>-->
									<!--<div>-->
										<!--5 digits-->
									<!--</div>-->
									<mat-form-field style="width: 3rem;">
										<input matInput placeholder="Account" [(value)]="accountNumberAccount_Chartfield">
										<mat-hint>5 digits</mat-hint>
									</mat-form-field>
								</div>
								<div *ngIf="isActivity" class="horizontal-break"></div>
								<div *ngIf="isActivity" class="inline-block" style="vertical-align: top">
									<!--<div class="sub-header">-->
										<!--A/U-->
									<!--</div>-->
									<!--<div style="padding:2px;">-->
										<!--<jqxInput #accountNumberAUInput [theme]="'gnomex5'" [width]="'2rem'" [height]="'1.5rem'" [value]="1" [disabled]="true">-->
										<!--</jqxInput>-->
									<!--</div>-->
									<!--<div>-->
										<!--1 digit-->
									<!--</div>-->
									<mat-form-field style="width: 3rem;">
										<input matInput placeholder="A/U" [(value)]="accountNumberAU_Chartfield" disabled>
										<mat-hint>1 digits</mat-hint>
									</mat-form-field>
								</div>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div *ngIf="showFundingAgencies" class="tr full-width row-content">
							<div class="td cell-label">
								Funding Agency
							</div>
							<div class="td">
								<mat-form-field style="width: 100%; font-size: small;">
									<mat-select placeholder="Funding Agency" [(value)]="selectedFundingAgency">
										<mat-option>--</mat-option>
										<mat-option *ngFor="let fundingAgency of fundingAgencies" [value]="fundingAgency.value">
											{{ fundingAgency.display }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Start Date
							</div>
							<div class="td">
								<span>
									<!--<GnomexStyledDatePicker #startDatePicker_chartfield [defaultToToday]="true"></GnomexStyledDatePicker>-->
									<GnomexStyledDatePicker #startDatePicker_chartfield></GnomexStyledDatePicker>
								</span>
								<div class="inline-block" style="width:7em;">
								</div>
								<div class="inline-block cell-label" style="height: 100%;">
									Effective Until
								</div>
								<span>
									<!--<GnomexStyledDatePicker #effectiveUntilDatePicker_chartfield [defaultToToday]="false"></GnomexStyledDatePicker>-->
									<GnomexStyledDatePicker #effectiveUntilDatePicker_chartfield></GnomexStyledDatePicker>
								</span>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Total Dollar Amount
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#totalDollarAmountInput_chartfield-->
										<!--(focusin)="onChartfieldTotalDollarAmountSelected()"-->
										<!--(input)="onChartfieldTotalDollarAmountChanged()"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'10em'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 18em;">
									<input matInput placeholder="Total Dollar Amount" [(value)]="totalDollarAmount_Chartfield">
								</mat-form-field>
							</div>
						</div>
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Your email address
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#submitterEmailInput_chartfield-->
										<!--[value]="usersEmail"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'calc(100% - 6px)'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 100%;">
									<input matInput placeholder="Your Email Address" [(value)]="submitterEmail_chartfield" (input)="testingFn($event)">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<!--<div class="tr full-width row-content">-->
							<!--<div class="td cell-label">-->
								<!--Approved Users-->
							<!--</div>-->
							<!--<div class="td">-->
								<!--<user-multiple-selector [title]="'Options'"></user-multiple-selector>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Active
							</div>
							<div class="td center-vertical-align">
								<div class="checkbox-container">
									<!--<jqxCheckBox #activeCheckBox_chartfield></jqxCheckBox>-->
									<mat-checkbox [(ngModel)]="activeCheckBox_chartfield"></mat-checkbox>
								</div>
							</div>
						</div>
					</div>


					<div *ngIf="showField === 'po'" class="t full-width">
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Account Name
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#accountName_po-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'calc(100% - 6px)'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field class="full-width">
									<input matInput placeholder="Account Name" [(value)]="accountName_po">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Start Date
							</div>
							<div class="td">
								<span>
									<!--<GnomexStyledDatePicker #startDatePicker_po [defaultToToday]="true"></GnomexStyledDatePicker>-->
									<GnomexStyledDatePicker #startDatePicker_po></GnomexStyledDatePicker>
								</span>
								<div class="inline-block" style="width:7em;">
								</div>
								<div class="inline-block cell-label" style="height: 100%;">
									Effective Until
								</div>
								<span>
									<!--<GnomexStyledDatePicker #expirationDatePicker_po [defaultToToday]="false"></GnomexStyledDatePicker>-->
									<GnomexStyledDatePicker #expirationDatePicker_po></GnomexStyledDatePicker>
								</span>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Total Dollar Amount
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#totalDollarAmountInput_po-->
										<!--(focusin)="onPoTotalDollarAmountSelected()"-->
										<!--(input)="onPoTotalDollarAmountChanged()"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'10em'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 10em;">
									<input matInput placeholder="Total Dollar Amount" [(value)]="totalDollarAmount_po">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Your email address
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#submitterEmailInput_po-->
										<!--[value]="usersEmail"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'calc(100% - 6px)'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 100%;">
									<input matInput placeholder="Your Email Address" [(value)]="submitterEmail_po">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<!--<div class="tr full-width row-content">-->
							<!--<div class="td cell-label">-->
								<!--Approved Users-->
							<!--</div>-->
							<!--<div class="td">-->
								<!--<multiple-selector [title]="'Options'"></multiple-selector>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Active
							</div>
							<div class="td center-vertical-align">
								<div class="checkbox-container">
									<!--<jqxCheckBox #activeCheckBox_po></jqxCheckBox>-->
									<mat-checkbox [(ngModel)]="activeCheckBox_po"></mat-checkbox>
								</div>
							</div>
						</div>
					</div>


					<div *ngIf="showField === 'creditcard'" class="t full-width">
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Last four digits of <br/> Credit Card Number
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#accountName_creditCard-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'calc(100% - 6px)'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field class="full-width">
									<input matInput placeholder="Last four digits of Credit Card Number" [(value)]="accountName_creditCard">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Start Date
							</div>
							<div class="td">
								<span>
									<!--<GnomexStyledDatePicker #startDatePicker_creditcard [defaultToToday]="true"></GnomexStyledDatePicker>-->
									<GnomexStyledDatePicker #startDatePicker_creditcard></GnomexStyledDatePicker>
								</span>
								<div class="inline-block" style="width:7em;">
								</div>
								<span class="inline-block cell-label" style="height: 100%;">
									Expiration Date
								</span>
								<span>
									<!--<GnomexStyledDatePicker #expirationDatePicker_creditcard [defaultToToday]="false"></GnomexStyledDatePicker>-->
									<GnomexStyledDatePicker #expirationDatePicker_creditcard></GnomexStyledDatePicker>
								</span>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Zip Code
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#zipCodeInput_creditCard-->
										<!--(focusin)="onCreditCardZipCodeSelected()"-->
										<!--(input)="onCreditCardZipCodeChanged()"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'10em'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 10em;">
									<input matInput placeholder="Zip Code" [(value)]="zipCodeInput_creditCard">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Credit Card Company
							</div>
							<div class="td">
								<!--<jqxComboBox-->
										<!--#creditCardCompanyComboBox_creditCard-->
										<!--[source]="creditCardCompanies"-->
										<!--[valueMember]="'value'"-->
										<!--[displayMember]="'display'"-->
										<!--[width]="'40%'"-->
										<!--[theme]="'gnomex5'">-->
								<!--</jqxComboBox>-->
								<mat-form-field style="width: 40%;">
									<mat-select placeholder="Credit Card Company" [(value)]="selectedLab" (change)="onLabListSelection($event)">
										<mat-option>--</mat-option>
										<mat-option *ngFor="let company of creditCardCompanies" [value]="'value'">
											{{ company.display }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Total Dollar Amount
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#totalDollarAmountInput_creditCard-->
										<!--(focusin)="onCreditCardTotalDollarAmountSelected()"-->
										<!--(input)="onCreditCardTotalDollarAmountChanged()"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'10em'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 10em;">
									<input matInput placeholder="Total Dollar Amount" [(value)]="totalDollarAmount_creditCard">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Your email address
							</div>
							<div class="td">
								<!--<jqxInput-->
										<!--#submitterEmailInput_creditcard-->
										<!--[value]="usersEmail"-->
										<!--[theme]="'gnomex5'"-->
										<!--[width]="'calc(100% - 6px)'"-->
										<!--[height]="'1.5rem'">-->
								<!--</jqxInput>-->
								<mat-form-field style="width: 100%;">
									<input matInput placeholder="Your Email Address" [(value)]="submitterEmail_creditcard">
								</mat-form-field>
							</div>
						</div>
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<!--<div class="tr full-width row-content">-->
							<!--<div class="td cell-label">-->
								<!--Approved Users-->
							<!--</div>-->
							<!--<div class="td">-->
								<!--<multiple-selector [title]="'Options'"></multiple-selector>-->
							<!--</div>-->
						<!--</div>-->
						<!--<div class="tr full-width row-spacer">-->
						<!--</div>-->
						<div class="tr full-width row-content">
							<div class="td cell-label">
								Active
							</div>
							<div class="td center-vertical-align">
								<div class="checkbox-container">
									<!--<jqxCheckBox #activeCheckBox_creditcard></jqxCheckBox>-->
									<mat-checkbox [(ngModel)]="activeCheckBox_creditcard"></mat-checkbox>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
			<!--<div class="vertical-spacer"></div>-->
			<div class="full-width background-sideless">
				<div class="full-width" style="position: relative; padding: 0.4em 1.2em 0 1.2em;">
					<div style="font-size: small;">
						As the Principal Investigator (P.I.) or authorized personnel of the account listed
						above I authorize the Core Facility to charge the account for work performed on my
						laboratory’s behalf during the dates indicated, not to exceed the dollar amount.
						I understand that this account will be billed automatically and that I will receive
						a detailed statement of services for any month in which my account was charged.
					</div>
					<div style="text-align: center">
						<div class="t full-width">
							<!--<div class="tr row-spacer">-->
							<!--</div>-->
							<!--<div class="tr row-spacer">-->
							<!--</div>-->
							<div class="tr">
								<div class="td">
									<div class="checkbox-container">
										<mat-checkbox [(ngModel)]="agreementCheckbox">I agree</mat-checkbox>
										<!--<jqxCheckBox #agreementCheckbox></jqxCheckBox>-->
									<!--</div>-->
									<!--<div class="inline-block center-vertical-align agreement">-->
										<!--I agree-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div mat-dialog-actions>
		<div>
			<div class="full-width" style="text-align:right; padding:0.4em;">
				<div class="inline-block">
					<button mat-raised-button (click)="onSaveButtonClicked()" autofocus>
						<img src="../../../assets/save.png" alt=""/> Save
					</button>
				</div>
				<div class="inline-block">
					<button mat-raised-button (click)="onCancelButtonClicked()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
<!--</jqxWindow>-->

<jqxWindow
		#successWindow
		[resizable]="false"
		[autoOpen]="false"
		[isModal]="true"
		[width]="'40em'"
		[height]="'18em'">
	<div>Billing Account Added</div>
	<div>
		<div class="t full-width full-height">
			<div class="tr full-width">
				<div class="td full-width full-height">
					<div style="padding: 0 15%;">
						<p style="text-align: left;">{{successMessage}}</p>
					</div>
					<br>
					<div style="padding: 0 15%;">
						<p>
							After the account information is reviewed and approved, you will be notified by email when
							experiment requests may be submitted using this account.
						</p>
					</div>
				</div>
			</div>
			<div class="tr full-width">
				<div class="td full-width center">
					<button style="text-align: center;" (click)="successOkButtonClicked()">OK</button>
				</div>
			</div>
		</div>
	</div>
</jqxWindow>

<jqxWindow
		#errorWindow
		[resizable]="false"
		[autoOpen]="false"
		[isModal]="true"
		[width]="'40em'"
		[height]="'20em'">
	<div>
		<p class="error-header">Please fix the following errors with this form before proceeding:</p>
	</div>
	<div>
		<div class="t full-width full-height">
			<div class="tr full-width">
				<div class="td full-width full-height">
					<div style="padding: 0 15%;">
						<pre style="text-align: left;">{{errorMessage}}</pre>
					</div>
				</div>
			</div>
			<div class="tr full-width">
				<div class="td full-width center">
					<button style="text-align: center;" (click)="errorOkButtonClicked()">OK</button>
				</div>
			</div>
		</div>
	</div>
</jqxWindow>