<div class="flex-container-col full-width full-height double-padded">
    <div class="flex-container-row justify-center">
        <img src="../../assets/gnomex_logo_small.png">
    </div>
    <div class="flex-container-row justify-center">
        Version 6.0
    </div>
    <div class="double-padded-left-right">
        <label>Functionality</label>
        <p>
            <img src="../../assets/bullet_green.png">
            A LIMS for making and tracking requests for genomic analysis (e.g. Next generation sequencing, Microarrays, Sanger
            Sequencing, etc.)
        </p>
        <p>
            <img src="../../assets/bullet_green.png">
            Import of externally generated genomic datasets in their native formats
        </p>
        <p>
            <img src="../../assets/bullet_green.png">
            Entry and association of structured annotations for the samples and experimental parameters with the data
        </p>
        <p>
            <img src="../../assets/bullet_green.png">
            Web tools to browse, search, modify, and download data files associated with the aforementioned data
        </p>
    </div>
    <div class="double-padded-left-right">
        <label>Credits</label>
        <p>
            <img src="../../assets/bullet_green.png">
            GNomEx was developed by Huntsman Cancer Institute Informatics and designed in conjunction with the Microarray
            and Genomics Analysis Core Facility and the University of Utah Bioinformatics Core
        </p>
        <p>
            <img src="../../assets/bullet_green.png">
            Experiment Type icons by <a href="http://www.famfamfam.com/lab/icons/silk/" target="_blank">FamFamFam Silk Icons</a> and
            <a href="https://momentumdesignlab.com/" target="_blank">Momentum</a>
        </p>
    </div>
    <div class="flex-container-row justify-space-evenly">
        <img src="../../assets/hciLogo.png">
        <img src="../../assets/hcsLogoTransparent.gif">
    </div>
</div>
