<div class="double-padded">
    <p *ngIf="this.bugContact && this.bugContact.propertyValue">
        <img [src]="'./assets/bullet_green.png'">
        To report software bugs and/or provide feedback: <a href="mailto:{{this.bugContact.propertyValue}}">{{this.bugContact.propertyValue}}</a>
    </p>
    <p *ngIf="this.bioinformaticsContact && this.bioinformaticsContact.propertyValue">
        <img [src]="'./assets/bullet_green.png'">
        For bioinformatics questions: <a href="mailto:{{this.bioinformaticsContact.propertyValue}}">{{this.bioinformaticsContact.propertyValue}}</a>
    </p>
    <div class="flex-container-col" *ngFor="let core of this.gnomexService.coreFacilityList">
        <label><img [src]="'./assets/bullet_green.png'"> {{core.facilityName}} Core: <strong>{{core.contactName}}</strong></label>
        <label *ngIf="core.contactPhone" class="margin-left"><i>Phone: </i>{{core.contactPhone}}</label>
        <label *ngIf="core.contactEmail" class="margin-left"><i>Email: </i><a href="mailto:{{this.core.contactEmail}}">{{this.core.contactEmail}}</a></label>
    </div>
</div>
