
<h6 mat-dialog-title><img src="../../../assets/email_go.png"> Send Email to GNomEx Team</h6>
<mat-dialog-content>
    <div>
        <mat-form-field class="dialogFormField">
            <input matInput [(ngModel)]="emailAddress" placeholder="Email Address" [formControl]="fromFormControl">
            <mat-error *ngIf="fromFormControl.hasError('email') && emailAddress">Please enter a valid email address</mat-error>
            <mat-hint align="end">Leave blank to submit feedback anonomously</mat-hint>
        </mat-form-field>
    </div>
    <div style="height: 15em">
        <mat-form-field class="full-width" >
            <textarea matInput rows="7" columns="120" [(ngModel)]="feedback" name="feedback" placeholder="Enter feedback here"> </textarea>
            <mat-hint align="end">Please enter your feedback. A member of the GNomEx help team will respond right away.</mat-hint>
        </mat-form-field>
    </div>
</mat-dialog-content>
<div>
    <div style="width: 32em; height: 20em; margin-bottom:.7em;border: 1px solid #333">
        <img [src]="smallImgData" />
    </div>
</div>
<div style="font-size:.79em">
    All information will be encripted to protect health information and proprietary research data.
</div>
<mat-dialog-actions>
    <button mat-button (click)="send()"><img class="icon" src="../../../assets/email_go.png">Send Email</button>
    <button mat-button  mat-dialog-close>Close</button>
</mat-dialog-actions>
