<div>
    <button mat-button [disabled]="newDTisDisabled || this.disableAll" (click)="makeNewDataTrack()">
        <img class="icon" [src]="this.constantsService.ICON_DATATRACK_NEW">New Data Track
    </button>
    <button mat-button [disabled]="newGenomeBuildisDisabled || this.disableAll" (click)="makeNewFolder()">
        <img class="icon" [src]="this.constantsService.ICON_FOLDER_NEW">New Folder
    </button>
    <button *ngIf="showMenuItemNewGenomeBuild" [disabled]="this.disableAll" mat-button (click)="makeNewGenomeBuild()">
        <img class="icon" [src]="this.constantsService.ICON_GENOME_BUILD_NEW">New Genome Build
    </button>
    <button *ngIf="showMenuItemNewOrganism" [disabled]="this.disableAll" mat-button (click)="makeNewOrganism()">
        <img class="icon" [src]="this.constantsService.ICON_ORGANISM_NEW">New Organism
    </button>
    <button mat-button [disabled]="duplicateDTisDisabled || this.disableAll" (click)="doDuplicate()">
        <img class="icon" [src]="this.constantsService.ICON_DUPLICATE">Duplicate
    </button>
    <button mat-button [disabled]="removeDisabled || this.disableAll" (click)="doRemove()">
        <img class="icon" [src]="this.constantsService.ICON_CROSSOUT">Remove
    </button>
    <button mat-button [disabled]="this.disableAll" (click)="this.doDownload()">
        <img [src]="this.constantsService.ICON_DOWNLOAD" class="icon">Download
    </button>
</div>
