.bordered {
    border: 1px solid #e8e8e8;
}

.flex-container {
    display: flex;
    flex: 1;
    font-size: small;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.label-title {
    margin-top: 0.2rem;
    margin-bottom: 0;
}

.label-title-width {
    width: 25rem;
}

.overflow {
    overflow: auto;
}

.flex-grow-greater {
    flex: 10;
}
