.margin-top {
    margin-top: 0.5rem;
}

.label {
    color: var(--label-italic-color);
    font-style: italic;
    padding: 0.3em;
}

.label-width {
    min-width: 12em;
}

.medium-width {
    width: 24em;
}

.min-size {
    width: fit-content;
}

.margin {
    margin: 0 2em;
}

.disabled-color {
    color: var(--grey-darker);
}

.highlight {
    background-color: var(--lemon-medlight);
}

.disable-bordered {
    border: 1px solid var(--white-darkest);
}

.enable-bordered {
    border: 1px solid var(--grey-medlight);
}

.link-button {
    color: var(--pure-indigo);
    text-decoration: underline;
}
