.tiny-font {
    font-size: x-small;
}

.label {
    color: var(--label-italic-color);
    font-style: italic;
}

.label-width {
    width: 7rem;
}

.minor-label {
    font-style: italic;
}

.minor-label-width {
    width: 6rem;
}

.field-width {
    min-width: 35em;
    width: 40em;
}

.bordered {
    border: solid var(--grey-lighter) 1px;
    border-radius: 0.3em;
}

.multi-line {
    white-space: pre-line;
}

.max-height {
    max-height: 6em;
    overflow: auto;
}

.limit-width {
    max-width: 100%;
}

.margin {
    margin: 0.5em;
}

.margin-top {
    margin-top: 0.3em;
}

.margin-top-bottom {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.gnomex-progress-bar {
    height: 1.5rem;
    background-color: var(--pure-green);
}

.horizontal-spacing {
    width: 2em;
}

.vertical-spacer {
    height: 0.5em;
}

.max-width {
    max-width: 70em;
}

.align-right {
    text-align: right;
}

.highlight {
    color: var(--pure-green);
    font-weight: bold;
}

.allow-line-breaks {
    white-space: pre-line;
}
