.minor-padded {
    padding: 0.6em;
}

.gx-label {
    color: var(--label-italic-color);
}

.label-width {
    width: 8rem;
}

.minor-label-width {
    width: 7rem;
}

.limit-width {
    max-width: 100%;
}
