<div>
    <label style="width: 7rem; margin: 0 0 0 0.5rem"><img src="../../../assets/topic_tag.png" class="icon">Topics</label>
    <button mat-button [disabled]="this.disableAll" (click)="makeNewTopic()"><img src="../../../assets/topic_tag_new.png" class="icon">New Topic</button>
    <button [disabled]="(!showDelete && !showRemoveLink) || this.disableAll" mat-button (click)="doDelete()"><img src="../../../assets/crossout.png" class="icon">{{showRemoveLink ? 'Remove link' : 'Delete'}}</button>
    <button mat-button [disabled]="this.disableAll" (click)="doLinkToData()"><img src="../../../assets/link.png" class="icon">Link to Data</button>
</div>
