<div class="full-width full-height background border-padding">
    <div class="full-width full-height foreground">
        <split (dragEnd)="onSplitDragEnd($event)">
            <split-area size="20">
                <mat-tab-group class="full-height" [selectedIndex]="selectedTab" (selectedTabChange)="onTabChange($event)">
                    <mat-tab *ngIf="rowData.length > 0" #userTab label="Users" class="full-height">
                        <div class="full-height full-width flex-container-col foreground small-font">
                            <div class="full-width small-font padded">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="searchText" (input)="search($event)" placeholder="Search by name or email...">
                                </mat-form-field>
                            </div>
                            <div class="full-width flex-grow padded-left-right small-font">
                                <ag-grid-angular id="userTable"
                                                 class="full-width full-height ag-fresh"
                                                 [gridOptions]="gridOptions"
                                                 [rowData]="rowData"
                                                 [columnDefs]="columnDefs"
                                                 (rowDataChanged)="this.onNotifyGridRowDataChanged()"
                                                 [rowSelection]="rowSelection"
                                                 (gridReady)="onGridReady($event)"
                                                 (selectionChanged)="onSelectionChanged($event)"
                                                 [enableSorting]="true"
                                                 (onGridSizeChanged)="onGridSizeChanged($event)"
                                                 [enableFilter]="true"
                                                 [enableColResize]="true">
                                </ag-grid-angular>
                            </div>
                            <div class="full-width small-font">
                                <div class="flex-container-row align-center padded">
                                    <div class="padded-right">
                                        <button mat-button (click)="newUser()"><img src="../../assets/user.png">New User</button>
                                    </div>
                                    <div class="padded-right">
                                        <button mat-button (click)="deleteUser()"><img src="../../assets/delete.png">Delete User</button>
                                    </div>
                                    <div class="full-height flex-grow"></div>
                                    <div>
                                        <mat-label>{{userLabel}}</mat-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab #groupTab label="Groups" class="full-height">
                        <div class="full-height full-width foreground flex-container-col small-font">
                            <div class="full-width padded">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="searchText" (input)="searchGroups($event)" placeholder="Enter search here...">
                                </mat-form-field>
                            </div>
                            <div class="full-width padded-bottom">
                                <mat-accordion *ngIf="secAdvisor.isSuperAdmin || secAdvisor.isAdmin">
                                    <mat-expansion-panel (opened)="panelOpenState = true"
                                                         (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                {{panelOpenState ? 'less' : 'more'}}
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-form-field>
                                            <mat-select placeholder="Core facility" (change)="searchCoreFacility($event)">
                                                <mat-option *ngFor="let core of this.myCoreFacilitiesIManage" [value]="core.value">
                                                    {{core.facilityName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-checkbox [(ngModel)]="externalGroup" (change)="onExternalGroupChange($event)">External</mat-checkbox>
                                        <mat-form-field>
                                            <mat-select placeholder="Institution" (change)="searchInstitution($event)">
                                                <mat-option *ngFor="let institute of this.institutions" [value]="institute.value">
                                                    {{institute.institution}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                            <div class="full-width flex-grow padded-left-right">
                                <ag-grid-angular class="full-width full-height ag-fresh"
                                                 [gridOptions]="groupsGridOptions"
                                                 [rowData]="groupsData"
                                                 [columnDefs]="groupsColumnDefs"
                                                 [rowSelection]="rowSelection"
                                                 (gridReady)="onGroupsGridReady($event)"
                                                 (gridSizeChanged)="onGridSizeChanged($event)"
                                                 (selectionChanged)="onGroupsSelectionChanged($event)"
                                                 [enableSorting]="true"
                                                 [enableColResize]="true">
                                </ag-grid-angular>
                            </div>
                            <div class="full-width flex-container-row align-center padded">
                                <div class="padded-right">
                                    <button mat-button (click)="newGroup()">
                                        <img src="../../assets/group_add.png">
                                        New Group
                                    </button>
                                </div>
                                <div class="padded-right">
                                    <button mat-button [disabled]="!selectedGroup" (click)="deleteGroup()">
                                        <img src="../../assets/delete.png">
                                        Delete Group
                                    </button>
                                </div>
                                <div class="full-height flex-grow"></div>
                                <div>
                                    <mat-label>{{groupLabel}}</mat-label>
                                </div>
                            </div>
                            <div *ngIf="secAdvisor.isSuperAdmin" class="full-width small-font">
                                <div class="padded-left-right-bottom">
                                    <button mat-button (click)="verify('all')">
                                        <img src="../../assets/email_go.png">
                                        Verify all users
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </split-area>
            <split-area size="80">
                <div *ngIf="isUserTab && selectedUser" #userDetail class="full-height full-width flex-container-col background border-padding small-font">
                    <div class="full-width flex-grow">
                        <split direction="vertical">
                            <split-area size="75" class="foreground">
                                <!--user detail-->
                                <div class="full-height full-width foreground flex-container-col">
                                    <form class="full-height full-width flex-container-col" [formGroup]="userForm">
                                        <div class="reserve-height flex-container-row align-center padded">
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="firstName" placeholder="First name">
                                                <mat-error *ngIf="userForm.controls['firstName'].hasError('required')">
                                                    First name is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="lastName" placeholder="Last Name">
                                                <mat-error *ngIf="userForm.controls['lastName'].hasError('required')">
                                                    Last name is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-checkbox formControlName="isActive" (change)="onIsActiveChange($event)">User is Active</mat-checkbox>
                                        </div>
                                        <div class="reserve-height flex-container-row align-center padded">
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="phone" placeholder="Phone">
                                            </mat-form-field>
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="email" placeholder="Email">
                                                <mat-error *ngIf="this.emailFC.hasError('required')">Required</mat-error>
                                                <mat-error *ngIf="this.emailFC.hasError('email') && !this.emailFC.hasError('required')">Valid Email Required</mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="ucscUrl" placeholder="UCSC Url">
                                            </mat-form-field>
                                        </div>
                                        <div class="reserve-height flex-container-row align-center padded">
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="institute" placeholder="Institution (Optional)">
                                            </mat-form-field>
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="department" placeholder="Department (Optional)">
                                            </mat-form-field>
                                        </div>
                                        <div class="full-width flex-grow">
                                            <div class="full-height full-width flex-container-row padded-left-right-bottom">
                                                <div class="foreground border-padding">
                                                    <!--need flex row container-->
                                                    <div class="full-width flex-container-row">
                                                        <div class="full-height flex-grow">
                                                            <div class="full-height foreground flex-container-col">
                                                                <div class="large-margin-right">
                                                                    <mat-radio-group class="flex-container-row" formControlName="userType" (change)="onUserTypeChange($event)">
                                                                        <mat-radio-button [value]="USER_TYPE_UNIVERSITY">University User</mat-radio-button>
                                                                        <mat-radio-button class="large-margin-left" [value]="USER_TYPE_EXTERNAL">External User</mat-radio-button>
                                                                    </mat-radio-group>
                                                                </div>
                                                                <div *ngIf="usertypeFC.value===USER_TYPE_UNIVERSITY" class="full-width">
                                                                    <mat-form-field class="formField">
                                                                        <input matInput formControlName="uNid" placeholder="uNID">
                                                                        <mat-error *ngIf="userForm.controls['uNid'].hasError('required') || userForm.controls['uNid'].hasError('pattern')">Invalid uNID</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                                <div *ngIf="usertypeFC.value===USER_TYPE_EXTERNAL" class="full-width">
                                                                    <div class="full-width">
                                                                        <mat-form-field class="formField">
                                                                            <input matInput formControlName="userName" placeholder="User name">
                                                                            <mat-error *ngIf="this.usernameFC.hasError('required')">Required</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="full-width">
                                                                        <mat-form-field class="formField">
                                                                            <input matInput matTooltip="Passwords must be 8-25 characters long, contain no spaces or slashes, and contain three or more of the following: lowercase letter, uppercase letter, digit, or symbol." type="password" formControlName="password" placeholder="Password">
                                                                            <mat-error *ngIf="this.passwordFC.hasError('validatePassword')">{{this.passwordUtilService.PASSWORD_COMPLEXITY_ERROR}}</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                    <div class="full-width">
                                                                        <mat-form-field class="formField">
                                                                            <input matInput matTooltip="Passwords must be 8-25 characters long, contain no spaces or slashes, and contain three or more of the following: lowercase letter, uppercase letter, digit, or symbol." type="password" formControlName="passwordConfirm" placeholder="Confirm Password">
                                                                            <mat-error *ngIf="this.passwordConfirmFC.hasError('validatePasswordConfirm')">{{this.passwordUtilService.PASSWORD_MATCH_ERROR}}</mat-error>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="small-width large-margin-left">
                                                            <div class="full-height foreground flex-container-col">
                                                                <label>Permission Level</label>
                                                                <div class="full-width flex-grow">
                                                                    <mat-radio-group class="flex-container-col full-width" formControlName="permissionLevel" (change)="onPermissionLevelChange($event)">
                                                                        <mat-radio-button value="LAB">Group</mat-radio-button>
                                                                        <mat-radio-button value="ADMIN">Admin</mat-radio-button>
                                                                        <mat-radio-button value="BILLING">Billing Admin</mat-radio-button>
                                                                        <mat-radio-button value="SUPER" [disabled] = !secAdvisor.isSuperAdmin>Super Admin</mat-radio-button>
                                                                    </mat-radio-group>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="codeUserPermissionKind==='BILLING'||codeUserPermissionKind==='ADMIN'" class="foreground border-padding margin-left">
                                                    <div class="full-width full-height large-padding-right">
                                                        <label class="full-width">Core facilities this user manages</label>
                                                        <div class="flex-container-col">
                                                            <mat-checkbox *ngFor="let cfm of coreFacilitiesIManage" [checked]=cfm.isSelected [formControlName]=cfm.mDisplay>
                                                                {{cfm.display}}
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="codeUserPermissionKind!=='SUPER' && codeUserPermissionKind!=='ADMIN' && (this.secAdvisor.isSuperAdmin||this.secAdvisor.isBillingAdmin)" class="foreground border-padding margin-left">
                                                    <div class="full-width full-height large-padding-right">
                                                        <label class="full-width">Submit experiments in all labs in core</label>
                                                        <div class="flex-container-col">
                                                            <mat-checkbox *ngFor="let cf of coreFacilitiesICanSubmitTo" [checked]=cf.isSelected [formControlName]=cf.display>
                                                                {{cf.display}}
                                                            </mat-checkbox>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </split-area>
                            <split-area size="25">
                                <div class="full-height full-width flex-container-row foreground padded">
                                    <div class="flex-grow">
                                        <ag-grid-angular class="full-height full-width ag-fresh"
                                                         [gridOptions]="labGridOptions"
                                                         [rowData]="labs"
                                                         [columnDefs]="labColumnDefs"
                                                         [rowSelection]="rowSelection"
                                                         (gridReady)="onLabGridReady($event)"
                                                         [enableSorting]="true">
                                        </ag-grid-angular>
                                    </div>
                                    <div class="horizontal-spacer">
                                    </div>
                                    <div class="flex-grow">
                                        <ag-grid-angular class="full-height full-width ag-fresh"
                                                         [gridOptions]="collGridOptions"
                                                         [rowData]="collaboratingLabs"
                                                         [columnDefs]="collColumnDefs"
                                                         [rowSelection]="rowSelection"
                                                         (gridReady)="onCollGridReady($event)"
                                                         [enableSorting]="true">
                                        </ag-grid-angular>
                                    </div>
                                    <div class="horizontal-spacer">
                                    </div>
                                    <div class="flex-grow">
                                        <ag-grid-angular class="full-height full-width ag-fresh"
                                                         [gridOptions]="manGridOptions"
                                                         [rowData]="managingLabs"
                                                         [columnDefs]="manColumnDefs"
                                                         [rowSelection]="rowSelection"
                                                         (gridReady)="onManGridReady($event)"
                                                         (onGridSizeChanged)="onManGridSizeChanged($event)"
                                                         [enableSorting]="true">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </split-area>
                        </split>
                    </div>
                    <div class="full-width right-align foreground padded-left-right-bottom reserve-height">
                        <div class="flex-container-row">
                            <div class="full-height flex-grow">
                            </div>
                            <div *ngIf="userForm.dirty" class="height-auto" style="background:#feec89; padding: 0 1em;">
                                <div class="full-height full-width flex-container-row align-center">
                                    <div>
                                        Your changes have not been saved
                                    </div>
                                </div>
                            </div>
                            <div class="horizontal-spacer">
                            </div>
                            <button mat-button *ngIf="!this.showSpinner" [disabled]="!this.userForm.valid" (click)="saveUser()">
                                <img src="../../assets/save.png">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="isGroupsTab && selectedGroup" class="full-height full-width flex-container-col">
                    <!--groups tab group-->
                    <mat-tab-group id="groupTabGroup"
                                   class="full-width flex-grow"
                                   [selectedIndex]="selectedGroupTab"
                                   (selectedTabChange)="onGroupsTabChange($event)">
                        <mat-tab groupTab label="Group" class="full-height">
                            <div *ngIf="isGroupSubTab && selectedGroup" #groupsDetail class="full-height full-width background border-padding">
                                <div class="full-height full-width foreground flex-container-col">
                                    <form class="full-width padded" [formGroup]="groupForm">
                                        <div class="formRow">
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="firstName" placeholder="First name">
                                                <mat-error *ngIf="groupForm.controls['firstName'].hasError('incorrect')">
                                                    First name or Last name <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="lastName" placeholder="Last Name (or lab name)">
                                                <mat-error *ngIf="groupForm.controls['lastName'].hasError('incorrect')">
                                                    Last name or First name <strong>required</strong>
                                                </mat-error>
                                                <mat-hint>PI gets billing emails + notifications.</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="formRow">
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="contactPhone" placeholder="Phone">
                                            </mat-form-field>
                                            <mat-form-field class="formField">
                                                <input matInput formControlName="contactEmail" placeholder="Email">
                                                <mat-error *ngIf="this.groupEmailFC.hasError('required')">Required</mat-error>
                                                <mat-error *ngIf="this.groupEmailFC.hasError('email') && !this.groupEmailFC.hasError('required')">Valid Email Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="full-width flex-container-row">
                                            <div class="height-auto flex-grow foreground border-padding">
                                                <!--need flex row container-->
                                                <div class="full-width full-height foreground flex-container-col">
                                                    <label>Permission Level</label>
                                                    <div class="full-width flex-grow">
                                                        <mat-radio-group class="flex-container-col full-width" formControlName="pricing">
                                                            <mat-radio-button value="INTERNAL"><img src="../../assets/group.png"> Internal</mat-radio-button>
                                                            <mat-radio-button value="EXACADEMIC"><img src="../../assets/graduation_cap.png"> External Academic</mat-radio-button>
                                                            <mat-radio-button value="EXCOMM"><img src="../../assets/building.png"> External Commercial</mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="horizontal-spacer">
                                            </div>
                                            <div class="height-auto flex-grow foreground border-padding">
                                                <div class="flex-container-col full-width">
                                                    <label class="full-width">Core facilities</label>
                                                    <mat-checkbox *ngFor="let core of myCoreFacilities" [formControlName]="core.display">
                                                        {{core.display}}
                                                    </mat-checkbox>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Billing Admin" class="full-height">
                            <div *ngIf="selectedGroup">
                                <billing-admin-tab [group]="selectedGroup" #billingAdminTab ></billing-admin-tab>
                            </div>
                        </mat-tab>
                        <mat-tab label="Membership" class="full-height">
                            <div *ngIf="selectedGroup">
                                <membership-tab [memberGroup]="selectedGroup" [users]="rowData" #membershipTab ></membership-tab>
                            </div>
                        </mat-tab>
                        <mat-tab #groupTab label="Billing Accounts" class="full-height full-width">
                            <billing-account-tab *ngIf="groupSubTabName && groupSubTabName === 'Billing Accounts'" [labInfo]="selectedGroup"></billing-account-tab>
                        </mat-tab>
                        <mat-tab label="Invoices" class="full-height">
                            <div *ngIf="selectedGroup">
                                <invoices-tab [memberGroup]="selectedGroup" #invoicesTab></invoices-tab>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                    <div *ngIf="isGroupsTab" class="full-width flex-container-row padded">
                        <div class="full-height flex-grow">
                            <div class="flex-grow">
                                <button mat-button (click)="verify('lab')">
                                    <img src="../../assets/email_go.png">
                                    Send email to verify users
                                </button>
                            </div>
                        </div>
                        <div *ngIf="groupFormDirty" class="height-auto" style="background:#feec89; padding: 0 1em;">
                            <div class="full-height full-width flex-container-row align-center">
                                <div>
                                    Your changes have not been saved
                                </div>
                            </div>
                        </div>
                        <div class="horizontal-spacer">
                        </div>
                        <button mat-button *ngIf="!this.showSpinner" [disabled]="!this.userForm.valid" (click)="saveLab()">
                            <img src="../../assets/save.png">
                            Save
                        </button>
                        <mat-spinner *ngIf="this.showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
                    </div>
                </div>
            </split-area>
        </split>
    </div>
</div>