<div class="full-height full-width flex-container-col">
    <div class="full-width flex-grow padded no-margin no-max-height background">
        <div class="full-height full-width">
            <div #oneEmWidth class="no-height single-em"></div>
            <div *ngIf="!fileParsed" class="full-height full-width flex-container-row align-center">
                <div class="full-height flex-grow">
                </div>
                <div>
                    <input type="file" class="hidden" (change)="onFileSelected($event)" #fileInput>
                    <button mat-raised-button (click)="openFileChooser()">Upload</button>
                </div>
                <div class="full-height flex-grow">
                </div>
            </div>
            <div *ngIf="fileParsed && !fileUploaded" class="full-height full-width">
                <div *ngIf="!showErrorsAndSamplesScreen" class="full-height full-width flex-container-col">
                    <div class="full-width flex-container-row align-center">
                        <div class="flex-grow">
                            Experiments To Be Imported
                        </div>
                        <div *ngIf="errorRows_original?.length > 0" class="padded-left-right">
                            <button mat-button (click)="showAllErrorsThenSamples()" class="small-font red-text underline">
                                Show Errors/Warnings
                            </button>
                        </div>
                        <div>
                            <button mat-button (click)="showAllSamplesThenErrors()" class="small-font blue-text underline">
                                Show Samples
                            </button>
                        </div>
                    </div>
                    <div class="full-width flex-grow padded-top">
                        <ag-grid-angular
                                class="ag-theme-fresh small-font full-width full-height"
                                [context]="context"
                                [singleClickEdit]="true"
                                [enableSorting]="true"
                                [enableColResize]="true"
                                [rowSelection]="'multiple'"
                                [suppressRowClickSelection]="true"
                                (gridSizeChanged)="onGridSizeChanged($event)"
                                (gridReady)="onImportableGridReady($event)">
                        </ag-grid-angular>
                    </div>
                </div>
                <div *ngIf="showErrorsAndSamplesScreen" class="full-height full-width">
                    <div *ngIf="showErrorsAboveSamples" class="full-height full-width flex-container-col">
                        <as-split direction="vertical">
                            <as-split-area [size]="70">
                                <div class="full-width full-height flex-container-col">
                                    <div class="full-width flex-container-row align-center">
                                        <div class="flex-grow">
                                            {{ selectedAll ? "All Errors and Warnings" : "Errors and Warnings for Experiment"}}
                                        </div>
                                        <div>
                                            <button mat-raised-button (click)="onBackClicked()" class="small-font">
                                                <img src="../../assets/arrow_left.png" alt="">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                    <div class="full-width flex-grow padded-top">
                                        <ag-grid-angular
                                                class="ag-theme-fresh small-font full-width full-height"
                                                [context]="context"
                                                [singleClickEdit]="true"
                                                [enableSorting]="true"
                                                [enableColResize]="true"
                                                [rowSelection]="'single'"
                                                (rowSelected)="selectAnError($event)"
                                                (gridSizeChanged)="onGridSizeChanged($event)"
                                                (gridReady)="onErrorsTopGridReady($event)">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </as-split-area>
                            <as-split-area [size]="30">
                                <div class="full-width full-height flex-container-col">
                                    <div class="full-width flex-container-row align-center">
                                        <div class="flex-grow">
                                            {{ selectedAll ? "All Samples" : "Samples for selected error"}}
                                        </div>
                                    </div>
                                    <div class="full-width flex-grow padded-top">
                                        <ag-grid-angular
                                                class="ag-theme-fresh small-font full-width full-height"
                                                [context]="context"
                                                [singleClickEdit]="true"
                                                [enableSorting]="true"
                                                [enableColResize]="true"
                                                [rowSelection]="'single'"
                                                (gridSizeChanged)="onGridSizeChanged($event)"
                                                (gridReady)="onSamplesBottomGridReady($event)">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </as-split-area>
                        </as-split>
                    </div>
                    <div *ngIf="!showErrorsAboveSamples" class="full-height full-width flex-container-col">
                        <as-split direction="vertical">
                            <as-split-area [size]="70">
                                <div class="full-width full-height flex-container-col">
                                    <div class="full-width flex-container-row align-center">
                                        <div class="flex-grow">
                                            {{ selectedAll ? "All Samples" : "Samples for selected error"}}
                                        </div>
                                        <div>
                                            <button mat-raised-button (click)="onBackClicked()" class="small-font">
                                                <img src="../../assets/arrow_left.png" alt="">
                                                Back
                                            </button>
                                        </div>
                                    </div>
                                    <div class="full-width flex-grow padded-top">
                                        <ag-grid-angular
                                                class="ag-theme-fresh small-font full-width full-height"
                                                [context]="context"
                                                [singleClickEdit]="true"
                                                [enableSorting]="true"
                                                [enableColResize]="true"
                                                [rowSelection]="'single'"
                                                (rowSelected)="selectASample($event)"
                                                (gridSizeChanged)="onGridSizeChanged($event)"
                                                (gridReady)="onSamplesTopGridReady($event)">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </as-split-area>
                            <as-split-area [size]="30">
                                <div class="full-width full-height flex-container-col">
                                    <div class="full-width flex-container-row align-center">
                                        <div class="flex-grow">
                                            {{ selectedAll ? "All Errors and Warnings" : "Errors and Warnings for Experiment"}}
                                        </div>
                                    </div>
                                    <div class="full-width flex-grow padded-top">
                                        <ag-grid-angular
                                                class="ag-theme-fresh small-font full-width full-height"
                                                [context]="context"
                                                [singleClickEdit]="true"
                                                [enableSorting]="true"
                                                [enableColResize]="true"
                                                [rowSelection]="'single'"
                                                (gridSizeChanged)="onGridSizeChanged($event)"
                                                (gridReady)="onErrorsBottomGridReady($event)">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </as-split-area>
                        </as-split>
                    </div>
                </div>
            </div>
            <div *ngIf="fileParsed && fileUploaded" class="full-height full-width flex-container-col">
                <div class="full-width padded">
                    Import Results
                </div>
                <div class="full-width flex-grow">
                    <as-split>
                        <as-split-area [size]="20">
                            <div class="full-width full-height flex-container-col foreground bordered">
                                <div class="full-width padded">
                                    Experiments Imported
                                </div>
                                <div class="full-width flex-grow">
                                    <div *ngFor="let request of finalRequests" class="full-width">
                                        <button mat-button (click)="navigateButton(request.requestNumber)">{{request.requestNumber}}</button>
                                    </div>
                                </div>
                            </div>
                        </as-split-area>
                        <as-split-area [size]="80">
                            <div class="full-width full-height flex-container-col foreground bordered">
                                <div class="full-width padded">
                                    Import Errors
                                </div>
                                <div class="full-width flex-grow">
                                    <ag-grid-angular
                                            class="ag-theme-fresh small-font full-width full-height"
                                            [context]="context"
                                            [singleClickEdit]="true"
                                            [enableSorting]="true"
                                            [enableColResize]="true"
                                            [rowSelection]="'single'"
                                            (gridSizeChanged)="onGridSizeChanged($event)"
                                            (gridReady)="onFinalErrorsGridReady($event)">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </as-split-area>
                    </as-split>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-container-row no-padding no-margin justify-flex-end generic-dialog-footer-colors">
        <div *ngIf="!fileParsed">
            <save-footer [actionType]="actionType.SECONDARY" (saveClicked)="closeButton()" name="Close"></save-footer>
        </div>
        <div *ngIf="fileParsed && !fileUploaded">
            <save-footer (saveClicked)="importSamplesButton()" name="Import Samples"></save-footer>
            <save-footer [actionType]="actionType.SECONDARY" (saveClicked)="closeButton()" name="Close"></save-footer>
        </div>
        <div *ngIf="fileParsed && fileUploaded">
            <save-footer [actionType]="actionType.SECONDARY" (saveClicked)="closeButton()" name="Close"></save-footer>
        </div>
    </div>
</div>
