.hidden {
    display: none;
}

.title {
    background-color: var(--upload-title-bg);
    color: var(--white-lightest);
    font-size: larger;
}

.link-button {
    color: var(--pure-indigo);
    text-decoration: underline;
}

.padded-left-right-bottom {
    padding-top:    0;
    padding-left:   0.3rem;
    padding-right:  0.3rem;
    padding-bottom: 0.3rem;
}

.no-max-height {
    max-height: none;
}

.checkbox-margin-evener {
    margin-top:   0.5rem;
    margin-right: 0.5rem;
}

.tiny-font {
    font-size: xx-small;
}

label.mat-checkbox-layout {
    margin: 0;
    margin-bottom: 0;
}
