button.link-button {
    background: none;
    background-color: inherit;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

button.link-button:focus {
    outline: none;
}

.button-container {
    padding-left: 0.3rem;
}

.cursor { cursor: pointer; }

.message {
    padding-left: 0.5rem;
    text-decoration: underline;
    color: darkseagreen;
}

.is-active {
    color: var(--pure-indigo);
    font-weight: bold;
    font-style: normal;
}

.is-not-active {
    color: var(--greywarm-meddarker);
    font-weight: normal;
    font-style: italic;
}
