.string-container {
    padding-left: 0.3rem;
}

.word-wrap {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap:   break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    white-space: normal;
}

.cursor { cursor: pointer; }

.fix-table { table-layout: fixed; }

.error { color: var(--pure-red); }
