button.link-button {
    background: none;
    background-color: inherit;
    color: var(--brand-link-blue);
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: underline;
    cursor: pointer;
}

button.link-button:focus {
    outline: none;
}

.button-container {
    padding-left: 0.3rem;
}

.cursor { cursor: pointer; }
