.horizontal-center { text-align: center; }

button.link-button {
    background: none;
    background-color: inherit;
    border: none;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

button.link-button:focus {
    outline: none;
}

.message { text-decoration: underline; }

.blue-text { color: var(--pure-indigo); }
.red-text  { color: var(--pure-red); }
