.active-item {
    background-color: var(--grey-lighter);
}

.active-item:hover {
    border: 0.05rem solid var(--greycool-medlight);
    background-color: var(--grey-lighter);
    cursor: pointer;
}
