<div mat-dialog-title class="full-width header no-margin no-padding">
    <div class="full-width full-height padded">
        <div class="title inline-block">Create New {{protocolType}}</div>
    </div>
</div>
<div mat-dialog-content class="body background no-margin no-padding">
    <div class="full-width full-height padded">
        <div class="full-width">
            <mat-form-field class="full-width">
                <input  matInput
                        placeholder="Protocol Name"
                        [(ngModel)]="protocolName"
                        required>
            </mat-form-field>
        </div>
        <div *ngIf="protocolClassName && protocolClassName !== 'hci.gnomex.model.AnalysisProtocol'" class="full-width">
            <custom-combo-box class="full-width" placeholder="Experiment Platform" displayField="display"
                              [options]="experimentPlatformList" valueField="codeRequestCategory"
                              [(ngModel)]="selectedExperimentPlatformCodeRequestCategory">
            </custom-combo-box>
        </div>
        <div *ngIf="protocolClassName && protocolClassName === 'hci.gnomex.model.AnalysisProtocol'" class="full-width">
            <custom-combo-box class="full-width" placeholder="Analysis Type" displayField="display"
                              [options]="analysisTypeList" valueField="idAnalysisType"
                              [(ngModel)]="selectedIdAnalysisType">
            </custom-combo-box>
        </div>
    </div>
</div>
<div mat-dialog-actions class="full-width background right-align no-margin no-padding">
    <div class="full-width full-height padded right-align">
        <button mat-button (click)="onClickCreateProtocolButton()"><img src="../../assets/save.png" alt=""/> Create Protocol</button>
        <button mat-button mat-dialog-close><img src="../../assets/delete.png" alt=""/> Cancel</button>
    </div>
</div>