<div class="flex-container-col full-width full-height padded-left-right border">
    <div class="full-width no-overflow padded-top-bottom">
        {{ mainPaneTitle }}
    </div>
    <div class="full-width flex-grow no-overflow">
        <div class="full-width full-height border">
            <div *ngIf="!!selectedProtocol" class="full-width full-height padded">

                <div class="full-width flex-container-row">
                    <div class="flex-grow padded">
                        <mat-form-field class="full-width">
                            <input  matInput
                                    placeholder="Account Name"
                                    [(ngModel)]="selectedProtocolName"
                                    [formControl]="accountNameFormControl"
                                    required>
                        </mat-form-field>
                    </div>
                    <div class="flex-grow padded">
                        <div *ngIf="protocolClassName && protocolClassName !== 'hci.gnomex.model.AnalysisProtocol'"
                             class="full-width full-height">
                            <mat-form-field class="full-width font-small">
                                <mat-select
                                        class="full-width"
                                        placeholder="Experiment Platform"
                                        [(ngModel)]="selectedExperimentPlatformCodeRequestCategory"
                                        [formControl]="experimentPlatformFormControl">
                                    <mat-option [value]="">
                                        --
                                    </mat-option>
                                    <mat-option *ngFor="let experimentPlatform of experimentPlatformList"
                                                [value]="experimentPlatform.codeRequestCategory">
                                        {{ experimentPlatform.display }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div *ngIf="protocolClassName && protocolClassName === 'hci.gnomex.model.AnalysisProtocol'"
                             class="full-width full-height flex-container-row">
                            <div class="flex-grow padded-left-right">
                                <mat-form-field class="full-width font-small">
                                    <mat-select
                                            class="full-width"
                                            placeholder="Analysis Type:"
                                            [(ngModel)]="selectedProtocolIdAnalysisType"
                                            [formControl]="analysisTypeFormControl">
                                        <mat-option [value]="">
                                            --
                                        </mat-option>
                                        <mat-option *ngFor="let analysisType of analysisTypeList"
                                                    [value]="analysisType.idAnalysisType">
                                            {{ analysisType.display }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="flex-grow padded-left-right">
                                <mat-form-field class="full-width font-small">
                                    <mat-select
                                            class="full-width"
                                            placeholder="Owner:"
                                            [(ngModel)]="selectedProtocolIdAppUser"
                                            [formControl]="ownerFormControl">
                                        <mat-option [value]="">
                                            --
                                        </mat-option>
                                        <mat-option *ngFor="let user of userList"
                                                    [value]="user.idAppUser">
                                            {{ user.display }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="t special-checkbox-text-alignment-padding">
                        <div class="tr">
                            <div class="td">
                                <div class="inline-block checkbox-container">
                                    <mat-checkbox [(ngModel)]="activeCheckBox"
                                                  [formControl]="activeFormControl"></mat-checkbox>
                                </div>
                            </div>
                            <div class="td">
                                <div class="inline-block vertical-center">
                                    <label>Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-container-row full-width">
                    <div class="flex-grow padded">
                        <mat-form-field class="full-width">
                            <input  matInput
                                    placeholder="URL"
                                    (input)="checkToEnableViewURLButton($event)"
                                    [(ngModel)]="selectedProtocolUrl"
                                    [formControl]="urlFormControl">
                        </mat-form-field>
                    </div>
                    <div class="special-button-text-alignment-padding">
                        <button mat-button [disabled]="disableViewURLButton" (click)="onViewURLButtonClicked()">
                            <img *ngIf="!disableViewURLButton" src="../../assets/page_go.png" alt="" />
                            <img *ngIf="disableViewURLButton"  src="../../assets/page_go_disabled.png" alt="" />
                            View URL
                        </button>
                    </div>
                </div>

                <mat-form-field class="full-width padded">
                    <textarea
                            matInput
                            placeholder="Protocol Description"
                            [(ngModel)]="selectedProtocolDescription"
                            [formControl]="protocolDescriptionFormControl"
                            matTextareaAutosize
                            matAutosizeMinRows="14"
                            matAutosizeMaxRows="14">
                    </textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="full-width no-overflow padded-top-bottom right-align">
        <div class="inline-block minimize padded-left-right ">
            <div *ngIf="isAnyFieldNotPristine()" class="inline-block padded warning-block">Your changes have not been saved</div>
        </div>
        <div class="inline-block minimize padded-left-right">
            <button mat-button
                    [disabled]="!isAnyFieldNotPristine()"
                    (click)="onSaveButtonClicked()">
                <img *ngIf="isAnyFieldNotPristine()" src="../../assets/save.png" alt="" />
                <img *ngIf="!isAnyFieldNotPristine()" src="../../assets/save_disable.png" alt="" /> Save
            </button>
        </div>
    </div>
</div>