<form [formGroup]="summaryFormGroup" style="display:flex;flex-direction: column;">

    <mat-form-field style="width:60%;font-size:small;">
        <input matInput formControlName="folderName"  type="text" placeholder="Name"/>
        <mat-error *ngIf="summaryFormGroup.get('folderName').hasError('required')">
            The folder name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field style="width:95%;font-size:small;">
        <textarea matInput placeholder="Summary" formControlName="summary" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="2"></textarea>
        <mat-error *ngIf="summaryFormGroup.get('summary').hasError('maxlength')"> Summary can be at most 5000 characters</mat-error>
    </mat-form-field>



    <div style="width:99%; font-size:small;">

        <label for="dtDescriptionId" > Description </label>
        <jqxEditor
                   #editorReference
                   id="dtDescriptionId"
                   width="100%"
                   (onChange)="editorChanged($event)"
                   [height]="350"
                   [tools]="toolBarSettings"
                   [toolbarPosition]="'bottom'">
        </jqxEditor>

    </div>



</form>
