mat-form-field.name-field {
    width: 60%;
    font-size: small;
}

mat-form-field.summary-field {
    width: 95%;
    font-size: small;
}

.editor-container {
    width: 100%;
    font-size: small;
}
