<form [formGroup]="summaryFormGroup" style="display:flex;flex-direction: column;">

    <mat-form-field style="width:60%;font-size:small;">
        <input matInput formControlName="folderName"  type="text" placeholder="Name"/>
        <mat-error *ngIf="summaryFormGroup.get('folderName').hasError('required')">
            The folder name is required
        </mat-error>
    </mat-form-field>
    <mat-form-field style="width:95%;font-size:small;">
        <textarea matInput placeholder="Summary" formControlName="summary" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="2"></textarea>
        <mat-error *ngIf="summaryFormGroup.get('summary').hasError('maxlength')"> Summary can be at most 5000 characters</mat-error>
    </mat-form-field>



    <div style="width:99%; font-size:small;">

        <!--<label for="dtDescriptionId" > Description </label>-->
        <!--<jqxEditor #editorReference-->
                   <!--formControlName="description"-->
                   <!--id="dtDescriptionId"-->
                   <!--width="100%"-->
                   <!--[height]="350"-->
                   <!--[tools]="toolBarSettings"-->
                   <!--[toolbarPosition]="'bottom'">-->
        <!--</jqxEditor>-->

        <!-- Will be implementing need to get artifactory to pull in latest tinymce editor
        <!-- <editor
                [toolbar]="'insertfile undo redo | styleselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'"
                formControlName="description"  apiKey="test"
                [init]="{plugins:['advlist autolink lists link image charmap print preview anchor textcolor'], resize: false}">

        </editor> -->
        <!--<div>-->
            <!--{{this.summaryFormGroup.value | json }}-->
        <!--</div>-->

    </div>



</form>
