<div class="background">
    <div class="flex-column-container">
        <div style="flex-grow: .01;" class="br-exp-item br-exp-one">
            <div style="margin-bottom: 0.3em;">
                <menu-header-data-tracks [selectedNode]="selectedItem"></menu-header-data-tracks>
            </div>
            <div>
                <browse-filter [label]="'Data Track'" [iconSource]="'assets/datatrack.png'"
                               [mode]="'dataTrackBrowse'"></browse-filter>
            </div>
        </div>
        <div style="flex:1;"class="flex-row-container">
            <split>
                <split-area size="20">
                <div class="br-exp-item">
                    <div class="flex-column-container" style="height:100%;">
                        <div class="br-exp-item br-exp-help-drag-drop">
                            <div class="flex-row-container">
                                <div class="br-exp-item-row-one" style="position: relative;top: .65em; left: .25em ">
                                    {{datatracksCount}} data tracks
                                </div>
                            </div>
                        </div>
                        <div class="br-exp-item br-exp-four">
                            <mat-form-field>
                                <input matInput [(ngModel)]="searchText" placeholder="Enter search here...">
                            </mat-form-field>
                            <button mat-button (click)="search()"><img src="../../assets/magnifier.png"></button>
                            <mat-spinner *ngIf="showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
                        </div>
                        <div class="br-exp-item br-exp-three">
                            <tree-root #datatracksTree (moveNode)="onMoveNode($event)"
                                       [nodes]="items" [options]="options"
                                       (activate)="treeOnSelect($event)"
                                       (changeFilter)="treeChangeFilter($event)"
                                       (updateData)="treeUpdateData($event)"
                            >

                                <ng-template #treeNodeTemplate let-node let-index="index">
                                    <img src="{{node.data.icon}}" height="16" width="16">
                                    <span>{{ node.data.label }}</span>
                                </ng-template>
                            </tree-root>
                        </div>

                        <div class="br-exp-item br-exp-four">
                            <div class="flex-row-container">
                                <div class="br-exp-item-row-one" style="position: relative; top: 1em">
                                    <button mat-button (click)="expandClicked()">Expand</button>
                                </div>
                                <div class="br-exp-item-row-two" style="position: relative; top: 1em">
                                    <button mat-button (click)="collapseClicked()">Collapse</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end tree container -->
                </split-area>

                <split-area size="80">
                <div  style="padding: 2em" class="br-exp-item experiment-detail-panel ">
                </div>
                </split-area>
            </split>
        </div>
    </div>
</div>

