.short-width { width: 10em; }

.left-right-padded {
  padding-left:  0.3em;
  padding-right: 0.3em;
}

.major-left-right-padded {
  padding-left:  1em;
  padding-right: 1em;
}

.vertical-spacer {
  height: 0.3em;
  min-height: 0.3em;
}

.border { border: var(--grey-lighter) solid thin; }

.major-border {
  border-radius: 0.3em;
  border: 1px solid darkgrey;
}

.no-overflow { overflow: hidden; }

.no-word-wrap { white-space: nowrap; }
