<h6 mat-dialog-title><img src="../../assets/folder_group.png">Add new data track folder to {{item}}</h6>
<mat-dialog-content>
    <div>
        <mat-form-field class="dialogFormField">
            <input matInput [(ngModel)]="folderName" placeholder="Folder Name">
        </mat-form-field>
    </div>
    <div class="dialogDiv">
        <label>Lab</label>
        <jqxComboBox class="dialogComboBox" [width]="'100%'" [height]="30" [placeHolder]="'...'"
                     [source]="labList" [displayMember]="'name'" [valueMember]="'idLab'"
                     (onSelect)="onLabSelect($event)" (onUnselect)="onLabUnselect()">
        </jqxComboBox>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button *ngIf="!showSpinner && !(folderName === '') && !(idLab === '')" (click)="save()">Save</button>
    <button mat-button *ngIf="!showSpinner" mat-dialog-close>Cancel</button>
    <mat-spinner *ngIf="showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
</mat-dialog-actions>