<h6 mat-dialog-title><img src="../../assets/datatrack.png">Add new data track to {{folder}}</h6>
<mat-dialog-content>
    <div>
        <mat-form-field class="dialogFormField">
            <input matInput [(ngModel)]="name" placeholder="Name">
        </mat-form-field>
    </div>
    <div class="dialogDiv">
        <label>Lab</label>
        <jqxComboBox class="dialogComboBox" [width]="'100%'" [height]="30" [placeHolder]="'...'"
                     [source]="labList" [displayMember]="'name'" [valueMember]="'idLab'"
                     (onSelect)="onLabSelect($event)" (onUnselect)="onLabUnselect()">
        </jqxComboBox>
    </div>
    <div>
        <label style="width: 10em">Visibility</label>
        <jqxComboBox #visibilityCombo class="inlineComboBox" [width]="170" [height]="20"
                     [source]="visibilityList" [displayMember]="'display'" [valueMember]="'idGenomeBuild'"
                     (onSelect)="onVisibilitySelect($event)">
        </jqxComboBox>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button *ngIf="!showSpinner && !(name === '') && !(idLab === '') && !(codeVisibility==='')"
            (click)="save()">Save</button>
    <button mat-button *ngIf="!showSpinner" mat-dialog-close>Cancel</button>
    <mat-spinner *ngIf="showSpinner" strokeWidth="3" [diameter]="30"></mat-spinner>
</mat-dialog-actions>